<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer1_idle (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{58.32,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-13.86,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.44},{58.32,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_idle (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,78.11999999999999},{58.32,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-13.86,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.44},{58.32,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_idle (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,156.23999999999998},{57.96,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-14.039999999999992,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.44},{57.96,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_idle (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,234.35999999999999},{57.96,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-14.039999999999992,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.44},{57.96,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_idle (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,312.47999999999996},{59.76,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.14,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{59.76,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_idle (10)</key>
      <dict>
        <key>frame</key>
        <string>{{57.96,156.23999999999998},{59.4,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.319999999999993,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{59.4,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_idle (5)</key>
      <dict>
        <key>frame</key>
        <string>{{57.96,234},{59.4,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.319999999999993,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{59.4,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_idle (11)</key>
      <dict>
        <key>frame</key>
        <string>{{58.32,0},{59.04,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.5,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{59.04,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_idle (4)</key>
      <dict>
        <key>frame</key>
        <string>{{58.32,77.75999999999999},{59.04,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.5,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{59.04,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_idle (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,390.24},{58.68,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.679999999999993,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{58.68,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_idle (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,468},{58.68,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.679999999999993,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{58.68,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_idle (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,545.76},{60.12,77.39999999999999}}</string>
        <key>offset</key>
        <string>{-12.959999999999994,-24.11999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,65.16},{60.12,77.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_idle (8)</key>
      <dict>
        <key>frame</key>
        <string>{{58.68,390.24},{60.12,77.39999999999999}}</string>
        <key>offset</key>
        <string>{-12.959999999999994,-24.11999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,65.16},{60.12,77.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_idle (9)</key>
      <dict>
        <key>frame</key>
        <string>{{58.68,467.64},{59.76,77.39999999999999}}</string>
        <key>offset</key>
        <string>{-13.14,-24.11999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,65.16},{59.76,77.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer1_idle.png</string>
      <key>size</key>
      <string>{119,623}</string>
      <key>textureFileName</key>
      <string>Archer1_idle</string>
    </dict>
  </dict>
</plist>
