<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer5_walk (31)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{93.24,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-8.099999999999994,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,75.96},{93.24,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (30)</key>
      <dict>
        <key>frame</key>
        <string>{{93.24,0},{92.52,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-8.460000000000008,-28.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,75.96},{92.52,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (32)</key>
      <dict>
        <key>frame</key>
        <string>{{185.76,0},{92.52,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-8.460000000000008,-28.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,75.96},{92.52,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (29)</key>
      <dict>
        <key>frame</key>
        <string>{{278.28,0},{91.8,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-8.819999999999993,-28.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,75.96},{91.8,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (26)</key>
      <dict>
        <key>frame</key>
        <string>{{370.08,0},{91.08,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.539999999999992,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34.92,76.32},{91.08,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (27)</key>
      <dict>
        <key>frame</key>
        <string>{{461.15999999999997,0},{91.08,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.180000000000007,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{91.08,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (28)</key>
      <dict>
        <key>frame</key>
        <string>{{552.24,0},{91.08,85.67999999999999}}</string>
        <key>offset</key>
        <string>{-9.180000000000007,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{91.08,85.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (25)</key>
      <dict>
        <key>frame</key>
        <string>{{643.3199999999999,0},{90.36,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.539999999999992,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{90.36,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (24)</key>
      <dict>
        <key>frame</key>
        <string>{{552.24,85.67999999999999},{90,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.719999999999999,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{90,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (38)</key>
      <dict>
        <key>frame</key>
        <string>{{733.68,0},{90,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.719999999999999,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{90,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (23)</key>
      <dict>
        <key>frame</key>
        <string>{{823.68,0},{89.64,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.900000000000006,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.64,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (22)</key>
      <dict>
        <key>frame</key>
        <string>{{913.3199999999999,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{1002.5999999999999,0},{88.92,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.900000000000006,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,76.32},{88.92,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{93.24,86.03999999999999},{87.84,86.75999999999999}}</string>
        <key>offset</key>
        <string>{-9.36,-28.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,75.6},{87.84,86.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,86.39999999999999},{82.08,87.84}}</string>
        <key>offset</key>
        <string>{-5.760000000000005,-28.439999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,74.52},{82.08,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,168.48},{80.64,87.84}}</string>
        <key>offset</key>
        <string>{-4.680000000000007,-28.439999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{45,74.52},{80.64,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{181.07999999999998,86.03999999999999},{78.84,87.84}}</string>
        <key>offset</key>
        <string>{-3.780000000000001,-28.439999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{46.8,74.52},{78.84,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (18)</key>
      <dict>
        <key>frame</key>
        <string>{{268.92,86.03999999999999},{84.96,87.47999999999999}}</string>
        <key>offset</key>
        <string>{-7.560000000000002,-28.61999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{39.96,74.88},{84.96,87.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (17)</key>
      <dict>
        <key>frame</key>
        <string>{{181.07999999999998,164.88},{83.88,87.47999999999999}}</string>
        <key>offset</key>
        <string>{-6.659999999999997,-28.61999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{41.4,74.88},{83.88,87.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{87.84,172.79999999999998},{76.67999999999999,87.47999999999999}}</string>
        <key>offset</key>
        <string>{-2.700000000000003,-28.61999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.96,74.88},{76.67999999999999,87.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,249.12},{86.75999999999999,87.11999999999999}}</string>
        <key>offset</key>
        <string>{-8.460000000000008,-28.799999999999983}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{38.16,75.24},{86.75999999999999,87.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{356.4,86.03999999999999},{77.75999999999999,87.11999999999999}}</string>
        <key>offset</key>
        <string>{-2.8800000000000097,-28.799999999999983}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,75.24},{77.75999999999999,87.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{443.52,86.03999999999999},{78.48,86.75999999999999}}</string>
        <key>offset</key>
        <string>{-3.240000000000009,-28.97999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{47.519999999999996,75.6},{78.48,86.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (21)</key>
      <dict>
        <key>frame</key>
        <string>{{1002.5999999999999,0},{88.92,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.900000000000006,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,76.32},{88.92,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{356.4,86.03999999999999},{77.75999999999999,87.11999999999999}}</string>
        <key>offset</key>
        <string>{-2.8800000000000097,-28.799999999999983}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,75.24},{77.75999999999999,87.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{87.84,172.79999999999998},{76.67999999999999,87.47999999999999}}</string>
        <key>offset</key>
        <string>{-2.700000000000003,-28.61999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.96,74.88},{76.67999999999999,87.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{181.07999999999998,86.03999999999999},{78.84,87.84}}</string>
        <key>offset</key>
        <string>{-3.780000000000001,-28.439999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{46.8,74.52},{78.84,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,168.48},{80.64,87.84}}</string>
        <key>offset</key>
        <string>{-4.680000000000007,-28.439999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{45,74.52},{80.64,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,86.39999999999999},{82.08,87.84}}</string>
        <key>offset</key>
        <string>{-5.760000000000005,-28.439999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,74.52},{82.08,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{181.07999999999998,164.88},{83.88,87.47999999999999}}</string>
        <key>offset</key>
        <string>{-6.659999999999997,-28.61999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{41.4,74.88},{83.88,87.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{268.92,86.03999999999999},{84.96,87.47999999999999}}</string>
        <key>offset</key>
        <string>{-7.560000000000002,-28.61999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{39.96,74.88},{84.96,87.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,249.12},{86.75999999999999,87.11999999999999}}</string>
        <key>offset</key>
        <string>{-8.460000000000008,-28.799999999999983}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{38.16,75.24},{86.75999999999999,87.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (20)</key>
      <dict>
        <key>frame</key>
        <string>{{93.24,86.03999999999999},{87.84,86.75999999999999}}</string>
        <key>offset</key>
        <string>{-9.36,-28.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,75.6},{87.84,86.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (40)</key>
      <dict>
        <key>frame</key>
        <string>{{913.3199999999999,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (39)</key>
      <dict>
        <key>frame</key>
        <string>{{823.68,0},{89.64,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.900000000000006,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.64,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (37)</key>
      <dict>
        <key>frame</key>
        <string>{{643.3199999999999,0},{90.36,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.539999999999992,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{90.36,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (36)</key>
      <dict>
        <key>frame</key>
        <string>{{370.08,0},{91.08,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.539999999999992,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34.92,76.32},{91.08,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (35)</key>
      <dict>
        <key>frame</key>
        <string>{{461.15999999999997,0},{91.08,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.180000000000007,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{91.08,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (34)</key>
      <dict>
        <key>frame</key>
        <string>{{552.24,0},{91.08,85.67999999999999}}</string>
        <key>offset</key>
        <string>{-9.180000000000007,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{91.08,85.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_walk (33)</key>
      <dict>
        <key>frame</key>
        <string>{{278.28,0},{91.8,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-8.819999999999993,-28.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,75.96},{91.8,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer5_walk.png</string>
      <key>size</key>
      <string>{1092,336}</string>
      <key>textureFileName</key>
      <string>Archer5_walk</string>
    </dict>
  </dict>
</plist>
