<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer5_idle (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{89.64,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-9.539999999999992,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,75.96},{89.64,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (11)</key>
      <dict>
        <key>frame</key>
        <string>{{89.64,0},{89.28,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-9.36,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,75.96},{89.28,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (12)</key>
      <dict>
        <key>frame</key>
        <string>{{178.92,0},{89.28,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-9.36,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,75.96},{89.28,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (15)</key>
      <dict>
        <key>frame</key>
        <string>{{268.2,0},{89.28,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-9.719999999999999,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,75.96},{89.28,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (16)</key>
      <dict>
        <key>frame</key>
        <string>{{357.47999999999996,0},{89.28,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-9.719999999999999,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,75.96},{89.28,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (17)</key>
      <dict>
        <key>frame</key>
        <string>{{446.76,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.719999999999999,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (2)</key>
      <dict>
        <key>frame</key>
        <string>{{536.04,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (1)</key>
      <dict>
        <key>frame</key>
        <string>{{625.3199999999999,0},{88.92,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.900000000000006,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,76.32},{88.92,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (18)</key>
      <dict>
        <key>frame</key>
        <string>{{714.24,0},{88.92,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.900000000000006,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,76.32},{88.92,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (19)</key>
      <dict>
        <key>frame</key>
        <string>{{803.16,0},{88.92,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.900000000000006,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,76.32},{88.92,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (20)</key>
      <dict>
        <key>frame</key>
        <string>{{892.0799999999999,0},{88.92,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.900000000000006,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,76.32},{88.92,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (3)</key>
      <dict>
        <key>frame</key>
        <string>{{625.3199999999999,0},{88.92,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.900000000000006,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,76.32},{88.92,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{89.64,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-9.539999999999992,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,75.96},{89.64,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (13)</key>
      <dict>
        <key>frame</key>
        <string>{{89.64,0},{89.28,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-9.36,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,75.96},{89.28,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (9)</key>
      <dict>
        <key>frame</key>
        <string>{{268.2,0},{89.28,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-9.719999999999999,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,75.96},{89.28,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (8)</key>
      <dict>
        <key>frame</key>
        <string>{{357.47999999999996,0},{89.28,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-9.719999999999999,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,75.96},{89.28,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (7)</key>
      <dict>
        <key>frame</key>
        <string>{{446.76,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.719999999999999,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (6)</key>
      <dict>
        <key>frame</key>
        <string>{{714.24,0},{88.92,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.900000000000006,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,76.32},{88.92,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (5)</key>
      <dict>
        <key>frame</key>
        <string>{{803.16,0},{88.92,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.900000000000006,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,76.32},{88.92,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_idle (4)</key>
      <dict>
        <key>frame</key>
        <string>{{892.0799999999999,0},{88.92,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-9.900000000000006,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,76.32},{88.92,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer5_idle.png</string>
      <key>size</key>
      <string>{981,86}</string>
      <key>textureFileName</key>
      <string>Archer5_idle</string>
    </dict>
  </dict>
</plist>
