<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer2_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{40.68,51.839999999999996}}</string>
        <key>offset</key>
        <string>{-3.239999999999995,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,59.4},{40.68,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,51.839999999999996},{40.68,51.839999999999996}}</string>
        <key>offset</key>
        <string>{-3.239999999999995,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,59.4},{40.68,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,103.67999999999999},{40.68,51.839999999999996}}</string>
        <key>offset</key>
        <string>{-3.239999999999995,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,59.4},{40.68,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,155.51999999999998},{42.48,51.48}}</string>
        <key>offset</key>
        <string>{-3.0600000000000023,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.08,59.4},{42.48,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{40.68,0},{42.48,51.48}}</string>
        <key>offset</key>
        <string>{-3.0600000000000023,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.08,59.4},{42.48,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{40.68,51.48},{41.76,51.48}}</string>
        <key>offset</key>
        <string>{-3.0600000000000023,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.44,59.4},{41.76,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{40.68,102.96},{41.76,51.48}}</string>
        <key>offset</key>
        <string>{-3.0600000000000023,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.44,59.4},{41.76,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,207},{41.4,51.48}}</string>
        <key>offset</key>
        <string>{-3.239999999999995,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.44,59.4},{41.4,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,258.48},{41.04,51.48}}</string>
        <key>offset</key>
        <string>{-3.0600000000000023,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,59.4},{41.04,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,309.96},{40.68,51.48}}</string>
        <key>offset</key>
        <string>{-3.9599999999999937,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.08,59.4},{40.68,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,361.44},{40.68,51.48}}</string>
        <key>offset</key>
        <string>{-3.5999999999999943,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.44,59.4},{40.68,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,412.91999999999996},{40.68,51.48}}</string>
        <key>offset</key>
        <string>{-3.5999999999999943,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.44,59.4},{40.68,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,464.4},{40.32,51.48}}</string>
        <key>offset</key>
        <string>{-3.780000000000001,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.44,59.4},{40.32,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,515.88},{40.32,51.48}}</string>
        <key>offset</key>
        <string>{-3.780000000000001,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.44,59.4},{40.32,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer2_walk.png</string>
      <key>size</key>
      <string>{83,567}</string>
      <key>textureFileName</key>
      <string>Archer2_walk</string>
    </dict>
  </dict>
</plist>
