<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer3_freez (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{57.239999999999995,64.8}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.68,66.24},{57.239999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_freez (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,64.8},{57.239999999999995,64.8}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.68,66.24},{57.239999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_freez (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,129.6},{57.239999999999995,64.8}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.68,66.24},{57.239999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_freez (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,194.4},{57.239999999999995,64.8}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.68,66.24},{57.239999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_freez (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,259.2},{57.239999999999995,64.8}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.68,66.24},{57.239999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_freez (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{57.239999999999995,64.8}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.68,66.24},{57.239999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_freez (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,64.8},{57.239999999999995,64.8}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.68,66.24},{57.239999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_freez (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,129.6},{57.239999999999995,64.8}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.68,66.24},{57.239999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_freez (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,194.4},{57.239999999999995,64.8}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.68,66.24},{57.239999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_freez (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,259.2},{57.239999999999995,64.8}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.68,66.24},{57.239999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer3_freez.png</string>
      <key>size</key>
      <string>{57,389}</string>
      <key>textureFileName</key>
      <string>Archer3_freez</string>
    </dict>
  </dict>
</plist>
