<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer1_die (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{77.39999999999999,85.32}}</string>
        <key>offset</key>
        <string>{19.799999999999997,-20.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{60.839999999999996,57.239999999999995},{77.39999999999999,85.32}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,85.32},{77.39999999999999,83.16}}</string>
        <key>offset</key>
        <string>{23.040000000000006,-21.239999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64.08,59.4},{77.39999999999999,83.16}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (27)</key>
      <dict>
        <key>frame</key>
        <string>{{0,168.48},{82.44,61.199999999999996}}</string>
        <key>offset</key>
        <string>{21.60000000000001,-42.3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{60.12,91.44},{82.44,61.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (26)</key>
      <dict>
        <key>frame</key>
        <string>{{0,250.92},{82.08,61.199999999999996}}</string>
        <key>offset</key>
        <string>{22.14,-42.3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{60.839999999999996,91.44},{82.08,61.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,333},{73.8,80.64}}</string>
        <key>offset</key>
        <string>{18.36,-22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61.199999999999996,61.919999999999995},{73.8,80.64}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (25)</key>
      <dict>
        <key>frame</key>
        <string>{{61.199999999999996,168.48},{80.28,61.199999999999996}}</string>
        <key>offset</key>
        <string>{22.680000000000007,-42.3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{62.28,91.44},{80.28,61.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (4)</key>
      <dict>
        <key>frame</key>
        <string>{{61.199999999999996,248.76},{67.32,78.48}}</string>
        <key>offset</key>
        <string>{5.760000000000005,-23.58}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51.839999999999996,64.08},{67.32,78.48}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (3)</key>
      <dict>
        <key>frame</key>
        <string>{{77.39999999999999,0},{61.199999999999996,78.11999999999999}}</string>
        <key>offset</key>
        <string>{0.18000000000000682,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,64.44},{61.199999999999996,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (1)</key>
      <dict>
        <key>frame</key>
        <string>{{77.39999999999999,78.11999999999999},{57.96,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-14.039999999999992,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.44},{57.96,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (2)</key>
      <dict>
        <key>frame</key>
        <string>{{122.39999999999999,156.23999999999998},{59.4,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-6.480000000000004,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,64.8},{59.4,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (24)</key>
      <dict>
        <key>frame</key>
        <string>{{135.35999999999999,78.11999999999999},{77.03999999999999,60.839999999999996}}</string>
        <key>offset</key>
        <string>{23.22,-42.480000000000004}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{64.44,91.8},{77.03999999999999,60.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (5)</key>
      <dict>
        <key>frame</key>
        <string>{{138.6,0},{72.72,76.32}}</string>
        <key>offset</key>
        <string>{12.060000000000002,-24.659999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.44,66.24},{72.72,76.32}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (6)</key>
      <dict>
        <key>frame</key>
        <string>{{196.2,76.32},{73.08,75.24}}</string>
        <key>offset</key>
        <string>{17.28,-25.200000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{60.48,67.32},{73.08,75.24}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (18)</key>
      <dict>
        <key>frame</key>
        <string>{{211.32,0},{74.88,55.8}}</string>
        <key>offset</key>
        <string>{22.5,-40.67999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{64.8,92.52},{74.88,55.8}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (17)</key>
      <dict>
        <key>frame</key>
        <string>{{267.12,0},{73.44,55.8}}</string>
        <key>offset</key>
        <string>{22.86,-41.040000000000006}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{65.88,92.88},{73.44,55.8}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,413.64},{72,72.72}}</string>
        <key>offset</key>
        <string>{24.299999999999997,-26.460000000000008}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,69.84},{72,72.72}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (23)</key>
      <dict>
        <key>frame</key>
        <string>{{0,486.35999999999996},{72.36,60.12}}</string>
        <key>offset</key>
        <string>{23.760000000000005,-42.84}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{67.32,92.52},{72.36,60.12}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,558.72},{69.84,56.519999999999996}}</string>
        <key>offset</key>
        <string>{23.58,-41.760000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,93.24},{69.84,56.519999999999996}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,628.56},{66.24,69.48}}</string>
        <key>offset</key>
        <string>{21.42,-28.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,73.08},{66.24,69.48}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (22)</key>
      <dict>
        <key>frame</key>
        <string>{{56.519999999999996,558.72},{69.12,59.4}}</string>
        <key>offset</key>
        <string>{22.86,-43.2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,93.24},{69.12,59.4}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (16)</key>
      <dict>
        <key>frame</key>
        <string>{{60.12,486.35999999999996},{69.12,56.519999999999996}}</string>
        <key>offset</key>
        <string>{23.22,-42.11999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,93.6},{69.12,56.519999999999996}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (20)</key>
      <dict>
        <key>frame</key>
        <string>{{72,413.64},{67.67999999999999,57.599999999999994}}</string>
        <key>offset</key>
        <string>{22.499999999999986,-42.66}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,93.6},{67.67999999999999,57.599999999999994}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (15)</key>
      <dict>
        <key>frame</key>
        <string>{{73.8,327.24},{67.32,57.599999999999994}}</string>
        <key>offset</key>
        <string>{22.319999999999993,-43.019999999999996}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,93.96},{67.32,57.599999999999994}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (13)</key>
      <dict>
        <key>frame</key>
        <string>{{129.6,234},{66.24,58.32}}</string>
        <key>offset</key>
        <string>{21.42,-37.620000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,88.2},{66.24,58.32}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (12)</key>
      <dict>
        <key>frame</key>
        <string>{{181.79999999999998,155.16},{65.88,60.839999999999996}}</string>
        <key>offset</key>
        <string>{21.239999999999995,-32.400000000000006}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,81.72},{65.88,60.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,698.04},{65.88,58.68}}</string>
        <key>offset</key>
        <string>{21.239999999999995,-42.120000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,92.52},{65.88,58.68}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_die (21)</key>
      <dict>
        <key>frame</key>
        <string>{{0,763.92},{65.88,58.68}}</string>
        <key>offset</key>
        <string>{21.239999999999995,-43.56}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,93.96},{65.88,58.68}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer1_die.png</string>
      <key>size</key>
      <string>{323,830}</string>
      <key>textureFileName</key>
      <string>Archer1_die</string>
    </dict>
  </dict>
</plist>
