<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer4_attack (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64.08,115.92}}</string>
        <key>offset</key>
        <string>{13.319999999999993,-17.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{71.28,49.32},{64.08,115.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,115.92},{63.36,114.47999999999999}}</string>
        <key>offset</key>
        <string>{14.400000000000006,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{72.72,50.76},{63.36,114.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,230.39999999999998},{63.36,114.47999999999999}}</string>
        <key>offset</key>
        <string>{12.599999999999994,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.92,50.76},{63.36,114.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,344.88},{63.72,114.11999999999999}}</string>
        <key>offset</key>
        <string>{14.219999999999999,-18.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{72.36,51.12},{63.72,114.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (13)</key>
      <dict>
        <key>frame</key>
        <string>{{63.36,115.92},{63.36,114.11999999999999}}</string>
        <key>offset</key>
        <string>{14.039999999999992,-18.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{72.36,51.12},{63.36,114.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (14)</key>
      <dict>
        <key>frame</key>
        <string>{{63.36,230.04},{63.36,114.11999999999999}}</string>
        <key>offset</key>
        <string>{14.039999999999992,-18.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{72.36,51.12},{63.36,114.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (11)</key>
      <dict>
        <key>frame</key>
        <string>{{64.08,0},{63,114.11999999999999}}</string>
        <key>offset</key>
        <string>{13.5,-18.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{72,51.12},{63,114.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,459},{63,114.11999999999999}}</string>
        <key>offset</key>
        <string>{13.86,-18.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{72.36,51.12},{63,114.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,573.12},{64.44,112.67999999999999}}</string>
        <key>offset</key>
        <string>{11.700000000000003,-18.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{69.48,52.559999999999995},{64.44,112.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (9)</key>
      <dict>
        <key>frame</key>
        <string>{{63,459},{66.24,111.6}}</string>
        <key>offset</key>
        <string>{10.799999999999983,-19.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{67.67999999999999,53.64},{66.24,111.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (19)</key>
      <dict>
        <key>frame</key>
        <string>{{63.72,344.15999999999997},{69.84,110.88}}</string>
        <key>offset</key>
        <string>{8.280000000000001,-19.799999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{63.36,54.36},{69.84,110.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (8)</key>
      <dict>
        <key>frame</key>
        <string>{{126.72,114.11999999999999},{68.75999999999999,110.16}}</string>
        <key>offset</key>
        <string>{10.97999999999999,-20.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66.6,55.08},{68.75999999999999,110.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (7)</key>
      <dict>
        <key>frame</key>
        <string>{{133.56,0},{71.64,109.08}}</string>
        <key>offset</key>
        <string>{9.900000000000006,-20.69999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64.08,56.16},{71.64,109.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (6)</key>
      <dict>
        <key>frame</key>
        <string>{{205.2,0},{77.39999999999999,108}}</string>
        <key>offset</key>
        <string>{7.3799999999999955,-21.239999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{58.68,57.239999999999995},{77.39999999999999,108}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (5)</key>
      <dict>
        <key>frame</key>
        <string>{{282.59999999999997,0},{82.08,106.56}}</string>
        <key>offset</key>
        <string>{5.039999999999992,-21.960000000000008}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,58.68},{82.08,106.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (4)</key>
      <dict>
        <key>frame</key>
        <string>{{364.68,0},{85.32,105.47999999999999}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50.04,59.76},{85.32,105.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (20)</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{77.39999999999999,105.47999999999999}}</string>
        <key>offset</key>
        <string>{3.4199999999999875,-22.859999999999985}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.72,60.12},{77.39999999999999,105.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (3)</key>
      <dict>
        <key>frame</key>
        <string>{{126.72,224.28},{87.47999999999999,104.03999999999999}}</string>
        <key>offset</key>
        <string>{0.8999999999999915,-23.22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.16,61.199999999999996},{87.47999999999999,104.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (2)</key>
      <dict>
        <key>frame</key>
        <string>{{195.48,109.08},{88.56,102.96}}</string>
        <key>offset</key>
        <string>{-0.7199999999999989,-23.75999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45,62.28},{88.56,102.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (21)</key>
      <dict>
        <key>frame</key>
        <string>{{0,685.8},{83.16,97.2}}</string>
        <key>offset</key>
        <string>{-0.5400000000000063,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.879999999999995,68.39999999999999},{83.16,97.2}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (25)</key>
      <dict>
        <key>frame</key>
        <string>{{64.44,570.6},{95.39999999999999,81}}</string>
        <key>offset</key>
        <string>{-6.300000000000011,-35.459999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{36,84.96},{95.39999999999999,81}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (32)</key>
      <dict>
        <key>frame</key>
        <string>{{129.24,455.03999999999996},{95.03999999999999,75.96}}</string>
        <key>offset</key>
        <string>{-5.040000000000006,-37.25999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{37.44,89.28},{95.03999999999999,75.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (33)</key>
      <dict>
        <key>frame</key>
        <string>{{145.44,328.32},{95.03999999999999,75.24}}</string>
        <key>offset</key>
        <string>{-3.6000000000000085,-37.620000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{38.879999999999995,90},{95.03999999999999,75.24}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (24)</key>
      <dict>
        <key>frame</key>
        <string>{{214.2,212.04},{94.67999999999999,81}}</string>
        <key>offset</key>
        <string>{-6.659999999999997,-35.099999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{36,84.6},{94.67999999999999,81}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (27)</key>
      <dict>
        <key>frame</key>
        <string>{{284.03999999999996,106.56},{93.96,81}}</string>
        <key>offset</key>
        <string>{-5.5800000000000125,-35.459999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{37.44,84.96},{93.96,81}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (26)</key>
      <dict>
        <key>frame</key>
        <string>{{0,783},{93.6,81.36}}</string>
        <key>offset</key>
        <string>{-4.680000000000007,-35.28}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{38.519999999999996,84.6},{93.6,81.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (28)</key>
      <dict>
        <key>frame</key>
        <string>{{0,876.6},{93.6,80.28}}</string>
        <key>offset</key>
        <string>{-6.480000000000004,-35.459999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{36.72,85.32},{93.6,80.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (34)</key>
      <dict>
        <key>frame</key>
        <string>{{0,970.1999999999999},{93.6,74.52}}</string>
        <key>offset</key>
        <string>{-2.8799999999999955,-37.97999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{40.32,90.72},{93.6,74.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (29)</key>
      <dict>
        <key>frame</key>
        <string>{{74.52,970.1999999999999},{92.88,78.84}}</string>
        <key>offset</key>
        <string>{-7.200000000000003,-36.17999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{36.36,86.75999999999999},{92.88,78.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (31)</key>
      <dict>
        <key>frame</key>
        <string>{{80.28,876.6},{92.88,77.03999999999999}}</string>
        <key>offset</key>
        <string>{-6.840000000000003,-37.08}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{36.72,88.56},{92.88,77.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (30)</key>
      <dict>
        <key>frame</key>
        <string>{{81.36,783},{91.8,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-7.740000000000009,-36.72}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{36.36,87.84},{91.8,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (23)</key>
      <dict>
        <key>frame</key>
        <string>{{83.16,666},{91.44,81}}</string>
        <key>offset</key>
        <string>{-6.1200000000000045,-35.099999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{38.16,84.6},{91.44,81}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (35)</key>
      <dict>
        <key>frame</key>
        <string>{{159.12,550.0799999999999},{91.08,75.6}}</string>
        <key>offset</key>
        <string>{-1.980000000000004,-37.44}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42.48,89.64},{91.08,75.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (1)</key>
      <dict>
        <key>frame</key>
        <string>{{205.2,423.35999999999996},{88.2,72.72}}</string>
        <key>offset</key>
        <string>{-2.3400000000000034,-38.879999999999995}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,92.52},{88.2,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_attack (22)</key>
      <dict>
        <key>frame</key>
        <string>{{234.72,306.71999999999997},{86.39999999999999,87.84}}</string>
        <key>offset</key>
        <string>{-3.6000000000000085,-31.679999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,77.75999999999999},{86.39999999999999,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer4_attack.png</string>
      <key>size</key>
      <string>{527,1064}</string>
      <key>textureFileName</key>
      <string>Archer4_attack</string>
    </dict>
  </dict>
</plist>
