<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer3_die (21)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{56.879999999999995,73.44}}</string>
        <key>offset</key>
        <string>{7.019999999999996,-21.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,55.44},{56.879999999999995,73.44}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,73.44},{56.16,73.44}}</string>
        <key>offset</key>
        <string>{6.660000000000011,-21.78}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,55.8},{56.16,73.44}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,146.88},{55.08,72.72}}</string>
        <key>offset</key>
        <string>{6.1200000000000045,-22.14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,56.519999999999996},{55.08,72.72}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,219.6},{54,71.64}}</string>
        <key>offset</key>
        <string>{5.579999999999998,-23.040000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,57.96},{54,71.64}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (41)</key>
      <dict>
        <key>frame</key>
        <string>{{0,291.24},{71.64,48.6}}</string>
        <key>offset</key>
        <string>{13.320000000000007,-36}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,82.44},{71.64,48.6}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (42)</key>
      <dict>
        <key>frame</key>
        <string>{{0,362.88},{71.64,47.879999999999995}}</string>
        <key>offset</key>
        <string>{13.680000000000007,-36.36}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.6,83.16},{71.64,47.879999999999995}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (43)</key>
      <dict>
        <key>frame</key>
        <string>{{0,434.52},{70.92,46.08}}</string>
        <key>offset</key>
        <string>{13.320000000000007,-37.260000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.6,84.96},{70.92,46.08}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,505.44},{45.36,70.92}}</string>
        <key>offset</key>
        <string>{0.1799999999999926,-24.840000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,60.12},{45.36,70.92}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,576.36},{45.36,70.92}}</string>
        <key>offset</key>
        <string>{0.1799999999999926,-24.840000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,60.12},{45.36,70.92}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,647.28},{45,70.92}}</string>
        <key>offset</key>
        <string>{0,-24.840000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,60.12},{45,70.92}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,718.1999999999999},{46.44,70.56}}</string>
        <key>offset</key>
        <string>{-0.7199999999999989,-25.019999999999996}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.8,60.48},{46.44,70.56}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (22)</key>
      <dict>
        <key>frame</key>
        <string>{{45,647.28},{59.4,70.2}}</string>
        <key>offset</key>
        <string>{8.280000000000001,-23.400000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,59.04},{59.4,70.2}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (17)</key>
      <dict>
        <key>frame</key>
        <string>{{45.36,505.44},{52.919999999999995,70.2}}</string>
        <key>offset</key>
        <string>{5.040000000000006,-24.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,59.76},{52.919999999999995,70.2}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (40)</key>
      <dict>
        <key>frame</key>
        <string>{{46.08,434.52},{70.2,48.96}}</string>
        <key>offset</key>
        <string>{12.960000000000008,-35.82000000000001}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.6,82.08},{70.2,48.96}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (12)</key>
      <dict>
        <key>frame</key>
        <string>{{95.03999999999999,434.52},{46.08,70.2}}</string>
        <key>offset</key>
        <string>{1.2600000000000051,-24.840000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.96,60.48},{46.08,70.2}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (7)</key>
      <dict>
        <key>frame</key>
        <string>{{47.879999999999995,362.88},{48.239999999999995,69.84}}</string>
        <key>offset</key>
        <string>{-1.980000000000004,-25.38000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44.64,61.199999999999996},{48.239999999999995,69.84}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (13)</key>
      <dict>
        <key>frame</key>
        <string>{{96.11999999999999,362.88},{47.16,69.48}}</string>
        <key>offset</key>
        <string>{2.519999999999996,-25.200000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.68,61.199999999999996},{47.16,69.48}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (16)</key>
      <dict>
        <key>frame</key>
        <string>{{48.6,291.24},{51.48,69.12}}</string>
        <key>offset</key>
        <string>{4.320000000000007,-24.66000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,60.839999999999996},{51.48,69.12}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (6)</key>
      <dict>
        <key>frame</key>
        <string>{{100.08,291.24},{50.04,69.12}}</string>
        <key>offset</key>
        <string>{-3.239999999999995,-25.739999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.48,61.919999999999995},{50.04,69.12}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (44)</key>
      <dict>
        <key>frame</key>
        <string>{{54,219.6},{68.75999999999999,43.92}}</string>
        <key>offset</key>
        <string>{12.959999999999994,-38.33999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{49.32,87.11999999999999},{68.75999999999999,43.92}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (14)</key>
      <dict>
        <key>frame</key>
        <string>{{97.92,219.6},{48.239999999999995,68.39999999999999}}</string>
        <key>offset</key>
        <string>{3.4200000000000017,-25.379999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50.04,61.919999999999995},{48.239999999999995,68.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (31)</key>
      <dict>
        <key>frame</key>
        <string>{{146.16,219.6},{68.03999999999999,58.32}}</string>
        <key>offset</key>
        <string>{11.88000000000001,-31.14}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.6,72.72},{68.03999999999999,58.32}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (5)</key>
      <dict>
        <key>frame</key>
        <string>{{45.36,575.64},{51.839999999999996,68.03999999999999}}</string>
        <key>offset</key>
        <string>{-4.859999999999999,-26.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.96,63},{51.839999999999996,68.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (15)</key>
      <dict>
        <key>frame</key>
        <string>{{97.2,575.64},{50.04,68.03999999999999}}</string>
        <key>offset</key>
        <string>{3.960000000000008,-25.560000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.68,62.28},{50.04,68.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (39)</key>
      <dict>
        <key>frame</key>
        <string>{{98.28,504.71999999999997},{68.03999999999999,48.239999999999995}}</string>
        <key>offset</key>
        <string>{12.239999999999995,-36.17999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.96,82.8},{68.03999999999999,48.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (30)</key>
      <dict>
        <key>frame</key>
        <string>{{141.12,432.35999999999996},{67.67999999999999,56.519999999999996}}</string>
        <key>offset</key>
        <string>{11.700000000000003,-32.040000000000006}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.6,74.52},{67.67999999999999,56.519999999999996}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (32)</key>
      <dict>
        <key>frame</key>
        <string>{{143.28,360.36},{67.67999999999999,56.519999999999996}}</string>
        <key>offset</key>
        <string>{11.700000000000003,-32.040000000000006}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.6,74.52},{67.67999999999999,56.519999999999996}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (4)</key>
      <dict>
        <key>frame</key>
        <string>{{197.64,287.64},{53.28,67.32}}</string>
        <key>offset</key>
        <string>{-6.299999999999997,-26.64}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,63.72},{53.28,67.32}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (38)</key>
      <dict>
        <key>frame</key>
        <string>{{150.12,287.64},{64.8,47.519999999999996}}</string>
        <key>offset</key>
        <string>{10.980000000000004,-36.540000000000006}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{49.32,83.52},{64.8,47.519999999999996}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (45)</key>
      <dict>
        <key>frame</key>
        <string>{{55.08,146.88},{66.96,41.04}}</string>
        <key>offset</key>
        <string>{13.14,-39.78}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{50.4,90},{66.96,41.04}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (3)</key>
      <dict>
        <key>frame</key>
        <string>{{96.11999999999999,146.88},{54.36,66.6}}</string>
        <key>offset</key>
        <string>{-7.559999999999995,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,64.44},{54.36,66.6}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (23)</key>
      <dict>
        <key>frame</key>
        <string>{{150.48,146.88},{61.199999999999996,66.24}}</string>
        <key>offset</key>
        <string>{9.180000000000007,-26.10000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,63.72},{61.199999999999996,66.24}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (2)</key>
      <dict>
        <key>frame</key>
        <string>{{56.16,73.44},{55.8,65.88}}</string>
        <key>offset</key>
        <string>{-9,-27.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33.839999999999996,65.16},{55.8,65.88}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (29)</key>
      <dict>
        <key>frame</key>
        <string>{{111.96,73.44},{65.88,54}}</string>
        <key>offset</key>
        <string>{11.16000000000001,-33.3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.96,77.03999999999999},{65.88,54}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (46)</key>
      <dict>
        <key>frame</key>
        <string>{{56.879999999999995,0},{65.52,37.8}}</string>
        <key>offset</key>
        <string>{13.5,-41.39999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51.48,93.24},{65.52,37.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (1)</key>
      <dict>
        <key>frame</key>
        <string>{{94.67999999999999,0},{57.239999999999995,64.8}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.68,66.24},{57.239999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (28)</key>
      <dict>
        <key>frame</key>
        <string>{{151.92,0},{63.36,51.12}}</string>
        <key>offset</key>
        <string>{10.260000000000005,-34.74000000000001}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{49.32,79.92},{63.36,51.12}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (24)</key>
      <dict>
        <key>frame</key>
        <string>{{204.48,213.12},{61.559999999999995,60.839999999999996}}</string>
        <key>offset</key>
        <string>{9.719999999999999,-29.16000000000001}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{49.68,69.48},{61.559999999999995,60.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (25)</key>
      <dict>
        <key>frame</key>
        <string>{{146.51999999999998,500.03999999999996},{61.199999999999996,55.08}}</string>
        <key>offset</key>
        <string>{9.900000000000006,-32.39999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{50.04,75.6},{61.199999999999996,55.08}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (27)</key>
      <dict>
        <key>frame</key>
        <string>{{197.64,428.03999999999996},{60.839999999999996,49.32}}</string>
        <key>offset</key>
        <string>{9.719999999999999,-35.64}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{50.04,81.72},{60.839999999999996,49.32}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (37)</key>
      <dict>
        <key>frame</key>
        <string>{{201.6,354.96},{60.839999999999996,47.519999999999996}}</string>
        <key>offset</key>
        <string>{9.719999999999999,-36.540000000000006}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{50.04,83.52},{60.839999999999996,47.519999999999996}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (26)</key>
      <dict>
        <key>frame</key>
        <string>{{165.96,63.36},{60.12,49.32}}</string>
        <key>offset</key>
        <string>{10.079999999999998,-35.64}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{50.76,81.72},{60.12,49.32}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (36)</key>
      <dict>
        <key>frame</key>
        <string>{{165.96,63.36},{60.12,49.32}}</string>
        <key>offset</key>
        <string>{10.079999999999998,-35.64}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{50.76,81.72},{60.12,49.32}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (35)</key>
      <dict>
        <key>frame</key>
        <string>{{197.64,428.03999999999996},{60.839999999999996,49.32}}</string>
        <key>offset</key>
        <string>{9.719999999999999,-35.64}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{50.04,81.72},{60.839999999999996,49.32}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (34)</key>
      <dict>
        <key>frame</key>
        <string>{{151.92,0},{63.36,51.12}}</string>
        <key>offset</key>
        <string>{10.260000000000005,-34.74000000000001}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{49.32,79.92},{63.36,51.12}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (33)</key>
      <dict>
        <key>frame</key>
        <string>{{111.96,73.44},{65.88,54}}</string>
        <key>offset</key>
        <string>{11.16000000000001,-33.3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.96,77.03999999999999},{65.88,54}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (47)</key>
      <dict>
        <key>frame</key>
        <string>{{56.879999999999995,0},{65.52,37.8}}</string>
        <key>offset</key>
        <string>{13.5,-41.39999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51.48,93.24},{65.52,37.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (48)</key>
      <dict>
        <key>frame</key>
        <string>{{56.879999999999995,0},{65.52,37.8}}</string>
        <key>offset</key>
        <string>{13.5,-41.39999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51.48,93.24},{65.52,37.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (49)</key>
      <dict>
        <key>frame</key>
        <string>{{56.879999999999995,0},{65.52,37.8}}</string>
        <key>offset</key>
        <string>{13.5,-41.39999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51.48,93.24},{65.52,37.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_die (50)</key>
      <dict>
        <key>frame</key>
        <string>{{56.879999999999995,0},{65.52,37.8}}</string>
        <key>offset</key>
        <string>{13.5,-41.39999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51.48,93.24},{65.52,37.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer3_die.png</string>
      <key>size</key>
      <string>{265,789}</string>
      <key>textureFileName</key>
      <string>Archer3_die</string>
    </dict>
  </dict>
</plist>
