<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer4_poisoned (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{89.28,82.8}}</string>
        <key>offset</key>
        <string>{-3.5999999999999943,-33.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.76,82.08},{89.28,82.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (3)</key>
      <dict>
        <key>frame</key>
        <string>{{89.28,0},{89.28,73.8}}</string>
        <key>offset</key>
        <string>{-3.5999999999999943,-37.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.76,91.08},{89.28,73.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (20)</key>
      <dict>
        <key>frame</key>
        <string>{{178.56,0},{88.92,84.6}}</string>
        <key>offset</key>
        <string>{-3.0600000000000023,-32.58}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.48,80.28},{88.92,84.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (18)</key>
      <dict>
        <key>frame</key>
        <string>{{89.28,73.8},{88.92,81}}</string>
        <key>offset</key>
        <string>{-4.140000000000001,-34.379999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.4,83.88},{88.92,81}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,82.8},{88.92,74.16}}</string>
        <key>offset</key>
        <string>{-4.140000000000001,-37.8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.4,90.72},{88.92,74.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (2)</key>
      <dict>
        <key>frame</key>
        <string>{{267.48,0},{88.92,73.08}}</string>
        <key>offset</key>
        <string>{-3.0600000000000023,-38.34}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.48,91.8},{88.92,73.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (17)</key>
      <dict>
        <key>frame</key>
        <string>{{356.4,0},{88.56,79.2}}</string>
        <key>offset</key>
        <string>{-5.039999999999992,-35.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.68,85.67999999999999},{88.56,79.2}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (5)</key>
      <dict>
        <key>frame</key>
        <string>{{267.48,73.08},{88.56,74.88}}</string>
        <key>offset</key>
        <string>{-5.039999999999992,-37.44}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.68,90},{88.56,74.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (1)</key>
      <dict>
        <key>frame</key>
        <string>{{178.2,84.6},{88.2,72.72}}</string>
        <key>offset</key>
        <string>{-2.3400000000000034,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,92.52},{88.2,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (16)</key>
      <dict>
        <key>frame</key>
        <string>{{178.2,157.32},{87.84,77.03999999999999}}</string>
        <key>offset</key>
        <string>{-5.759999999999991,-36.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,87.84},{87.84,77.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (6)</key>
      <dict>
        <key>frame</key>
        <string>{{88.92,154.79999999999998},{87.84,75.6}}</string>
        <key>offset</key>
        <string>{-5.759999999999991,-37.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,89.28},{87.84,75.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,156.96},{86.75999999999999,75.96}}</string>
        <key>offset</key>
        <string>{-6.659999999999997,-36.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.96,88.92},{86.75999999999999,75.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (7)</key>
      <dict>
        <key>frame</key>
        <string>{{86.75999999999999,230.39999999999998},{86.75999999999999,75.96}}</string>
        <key>offset</key>
        <string>{-6.659999999999997,-36.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.96,88.92},{86.75999999999999,75.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,232.92},{85.32,76.67999999999999}}</string>
        <key>offset</key>
        <string>{-7.3799999999999955,-36.53999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.96,88.2},{85.32,76.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (8)</key>
      <dict>
        <key>frame</key>
        <string>{{444.96,0},{85.32,76.67999999999999}}</string>
        <key>offset</key>
        <string>{-7.3799999999999955,-36.53999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.96,88.2},{85.32,76.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (13)</key>
      <dict>
        <key>frame</key>
        <string>{{530.28,0},{83.16,77.03999999999999}}</string>
        <key>offset</key>
        <string>{-8.099999999999994,-36.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,87.84},{83.16,77.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (9)</key>
      <dict>
        <key>frame</key>
        <string>{{444.96,76.67999999999999},{83.16,77.03999999999999}}</string>
        <key>offset</key>
        <string>{-8.099999999999994,-36.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,87.84},{83.16,77.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (10)</key>
      <dict>
        <key>frame</key>
        <string>{{356.03999999999996,79.2},{81,77.03999999999999}}</string>
        <key>offset</key>
        <string>{-8.460000000000008,-35.999999999999986}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.04,87.47999999999999},{81,77.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (12)</key>
      <dict>
        <key>frame</key>
        <string>{{356.03999999999996,156.23999999999998},{81,77.03999999999999}}</string>
        <key>offset</key>
        <string>{-8.460000000000008,-35.999999999999986}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.04,87.47999999999999},{81,77.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_poisoned (11)</key>
      <dict>
        <key>frame</key>
        <string>{{266.4,147.96},{79.92,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-8.280000000000001,-35.639999999999986}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.76,86.75999999999999},{79.92,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer4_poisoned.png</string>
      <key>size</key>
      <string>{613,310}</string>
      <key>textureFileName</key>
      <string>Archer4_poisoned</string>
    </dict>
  </dict>
</plist>
