<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer1_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{59.04,79.56}}</string>
        <key>offset</key>
        <string>{-12.060000000000002,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.16,63.72},{59.04,79.56}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,79.56},{59.76,79.2}}</string>
        <key>offset</key>
        <string>{-10.980000000000004,-23.940000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.879999999999995,64.08},{59.76,79.2}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{59.04,0},{59.76,78.84}}</string>
        <key>offset</key>
        <string>{-11.340000000000003,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.519999999999996,64.08},{59.76,78.84}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,158.76},{59.04,78.84}}</string>
        <key>offset</key>
        <string>{-12.060000000000002,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.16,64.08},{59.04,78.84}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,237.6},{59.04,78.84}}</string>
        <key>offset</key>
        <string>{-12.420000000000002,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,64.08},{59.04,78.84}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,316.44},{58.68,78.84}}</string>
        <key>offset</key>
        <string>{-12.599999999999994,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,64.08},{58.68,78.84}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,395.28},{58.68,78.84}}</string>
        <key>offset</key>
        <string>{-12.599999999999994,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,64.08},{58.68,78.84}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,474.12},{58.32,78.84}}</string>
        <key>offset</key>
        <string>{-13.14,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.44,64.08},{58.32,78.84}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,552.96},{58.32,78.84}}</string>
        <key>offset</key>
        <string>{-13.14,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.44,64.08},{58.32,78.84}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,631.8},{58.68,78.48}}</string>
        <key>offset</key>
        <string>{-12.959999999999994,-23.58}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.44,64.08},{58.68,78.48}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{58.32,474.12},{58.32,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-13.86,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.44},{58.32,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{58.32,552.24},{58.32,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-13.5,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.08,64.44},{58.32,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{58.68,630.36},{58.32,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-13.86,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.44},{58.32,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{117,630.36},{57.96,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-14.039999999999992,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.44},{57.96,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer1_walk.png</string>
      <key>size</key>
      <string>{175,710}</string>
      <key>textureFileName</key>
      <string>Archer1_walk</string>
    </dict>
  </dict>
</plist>
