<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer2_attack (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{42.12,51.839999999999996}}</string>
        <key>offset</key>
        <string>{-3.5999999999999943,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,59.4},{42.12,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_attack (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,51.839999999999996},{41.4,51.839999999999996}}</string>
        <key>offset</key>
        <string>{-3.5999999999999943,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.08,59.4},{41.4,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_attack (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,103.67999999999999},{40.68,51.839999999999996}}</string>
        <key>offset</key>
        <string>{-2.8799999999999955,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.16,59.4},{40.68,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_attack (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,155.51999999999998},{44.64,51.48}}</string>
        <key>offset</key>
        <string>{-3.4199999999999946,-24.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,59.76},{44.64,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_attack (5)</key>
      <dict>
        <key>frame</key>
        <string>{{40.68,103.67999999999999},{44.28,51.48}}</string>
        <key>offset</key>
        <string>{-3.5999999999999943,-24.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,59.76},{44.28,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_attack (12)</key>
      <dict>
        <key>frame</key>
        <string>{{41.4,51.839999999999996},{43.559999999999995,51.48}}</string>
        <key>offset</key>
        <string>{-2.8799999999999955,-24.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,59.76},{43.559999999999995,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_attack (13)</key>
      <dict>
        <key>frame</key>
        <string>{{84.96,51.839999999999996},{42.839999999999996,51.48}}</string>
        <key>offset</key>
        <string>{-3.239999999999995,-24.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,59.76},{42.839999999999996,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_attack (3)</key>
      <dict>
        <key>frame</key>
        <string>{{127.8,51.839999999999996},{42.12,51.48}}</string>
        <key>offset</key>
        <string>{-3.239999999999995,-24.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.08,59.76},{42.12,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_attack (4)</key>
      <dict>
        <key>frame</key>
        <string>{{127.8,0},{41.76,51.48}}</string>
        <key>offset</key>
        <string>{-2.700000000000003,-24.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,59.76},{41.76,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_attack (10)</key>
      <dict>
        <key>frame</key>
        <string>{{42.12,0},{44.28,51.12}}</string>
        <key>offset</key>
        <string>{-2.519999999999996,-24.299999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,60.12},{44.28,51.12}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_attack (11)</key>
      <dict>
        <key>frame</key>
        <string>{{169.56,0},{44.28,51.12}}</string>
        <key>offset</key>
        <string>{-2.519999999999996,-24.299999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,60.12},{44.28,51.12}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_attack (7)</key>
      <dict>
        <key>frame</key>
        <string>{{213.84,0},{44.28,51.12}}</string>
        <key>offset</key>
        <string>{-2.8799999999999955,-24.299999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{36.36,60.12},{44.28,51.12}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_attack (8)</key>
      <dict>
        <key>frame</key>
        <string>{{264.96,0},{44.28,51.12}}</string>
        <key>offset</key>
        <string>{-2.519999999999996,-24.299999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{36.72,60.12},{44.28,51.12}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_attack (9)</key>
      <dict>
        <key>frame</key>
        <string>{{316.08,0},{44.28,51.12}}</string>
        <key>offset</key>
        <string>{-2.519999999999996,-24.299999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{36.72,60.12},{44.28,51.12}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer2_attack.png</string>
      <key>size</key>
      <string>{367,207}</string>
      <key>textureFileName</key>
      <string>Archer2_attack</string>
    </dict>
  </dict>
</plist>
