<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer5_freez (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_freez (10)</key>
      <dict>
        <key>frame</key>
        <string>{{89.28,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_freez (3)</key>
      <dict>
        <key>frame</key>
        <string>{{178.56,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_freez (4)</key>
      <dict>
        <key>frame</key>
        <string>{{267.84,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_freez (5)</key>
      <dict>
        <key>frame</key>
        <string>{{357.12,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_freez (6)</key>
      <dict>
        <key>frame</key>
        <string>{{446.4,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_freez (2)</key>
      <dict>
        <key>frame</key>
        <string>{{89.28,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_freez (9)</key>
      <dict>
        <key>frame</key>
        <string>{{178.56,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_freez (8)</key>
      <dict>
        <key>frame</key>
        <string>{{267.84,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_freez (7)</key>
      <dict>
        <key>frame</key>
        <string>{{357.12,0},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer5_freez.png</string>
      <key>size</key>
      <string>{536,86}</string>
      <key>textureFileName</key>
      <string>Archer5_freez</string>
    </dict>
  </dict>
</plist>
