<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer1_poisoned (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{57.96,79.92}}</string>
        <key>offset</key>
        <string>{-14.039999999999992,-22.86}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,62.64},{57.96,79.92}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_poisoned (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,79.92},{58.32,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-13.86,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.44},{58.32,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_poisoned (2)</key>
      <dict>
        <key>frame</key>
        <string>{{57.96,0},{58.32,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-13.86,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.44},{58.32,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_poisoned (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,158.04},{57.96,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-14.039999999999992,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.44},{57.96,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_poisoned (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,236.16},{59.76,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.14,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{59.76,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_poisoned (10)</key>
      <dict>
        <key>frame</key>
        <string>{{57.96,158.04},{59.4,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.319999999999993,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{59.4,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_poisoned (5)</key>
      <dict>
        <key>frame</key>
        <string>{{58.32,78.11999999999999},{59.4,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.319999999999993,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{59.4,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_poisoned (11)</key>
      <dict>
        <key>frame</key>
        <string>{{117.36,0},{59.04,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.5,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{59.04,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_poisoned (4)</key>
      <dict>
        <key>frame</key>
        <string>{{117.72,77.75999999999999},{59.04,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.5,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{59.04,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_poisoned (12)</key>
      <dict>
        <key>frame</key>
        <string>{{176.4,0},{58.68,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.679999999999993,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{58.68,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_poisoned (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,313.92},{58.68,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-13.679999999999993,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,64.8},{58.68,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_poisoned (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,391.68},{60.12,77.39999999999999}}</string>
        <key>offset</key>
        <string>{-12.959999999999994,-24.11999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,65.16},{60.12,77.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_poisoned (8)</key>
      <dict>
        <key>frame</key>
        <string>{{58.68,313.92},{60.12,77.39999999999999}}</string>
        <key>offset</key>
        <string>{-12.959999999999994,-24.11999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,65.16},{60.12,77.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
      <key>Archer1_poisoned (9)</key>
      <dict>
        <key>frame</key>
        <string>{{59.76,235.79999999999998},{59.76,77.39999999999999}}</string>
        <key>offset</key>
        <string>{-13.14,-24.11999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,65.16},{59.76,77.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{159.48,159.48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer1_poisoned.png</string>
      <key>size</key>
      <string>{235,469}</string>
      <key>textureFileName</key>
      <string>Archer1_poisoned</string>
    </dict>
  </dict>
</plist>
