<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer5_die (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (12)</key>
      <dict>
        <key>frame</key>
        <string>{{100.08,0},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (13)</key>
      <dict>
        <key>frame</key>
        <string>{{200.16,0},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (14)</key>
      <dict>
        <key>frame</key>
        <string>{{300.24,0},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (15)</key>
      <dict>
        <key>frame</key>
        <string>{{400.32,0},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (16)</key>
      <dict>
        <key>frame</key>
        <string>{{500.4,0},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (17)</key>
      <dict>
        <key>frame</key>
        <string>{{600.48,0},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (18)</key>
      <dict>
        <key>frame</key>
        <string>{{700.56,0},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (19)</key>
      <dict>
        <key>frame</key>
        <string>{{800.64,0},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (20)</key>
      <dict>
        <key>frame</key>
        <string>{{900.7199999999999,0},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (21)</key>
      <dict>
        <key>frame</key>
        <string>{{1000.8,0},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (22)</key>
      <dict>
        <key>frame</key>
        <string>{{0,83.88},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (23)</key>
      <dict>
        <key>frame</key>
        <string>{{0,183.95999999999998},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (24)</key>
      <dict>
        <key>frame</key>
        <string>{{0,284.03999999999996},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (25)</key>
      <dict>
        <key>frame</key>
        <string>{{0,384.12},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (26)</key>
      <dict>
        <key>frame</key>
        <string>{{0,484.2},{100.08,83.88}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-30.42}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,78.48},{100.08,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,584.28},{99.36,84.96}}</string>
        <key>offset</key>
        <string>{-11.879999999999995,-29.879999999999995}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,77.39999999999999},{99.36,84.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,683.64},{98.28,85.67999999999999}}</string>
        <key>offset</key>
        <string>{-12.060000000000002,-29.519999999999982}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{28.799999999999997,76.67999999999999},{98.28,85.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,781.92},{97.2,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-12.239999999999995,-29.33999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{29.16,76.32},{97.2,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,879.12},{96.47999999999999,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-12.240000000000009,-29.159999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{29.52,75.96},{96.47999999999999,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,975.5999999999999},{95.39999999999999,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-12.060000000000002,-29.159999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{30.24,75.96},{95.39999999999999,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (27)</key>
      <dict>
        <key>frame</key>
        <string>{{83.88,83.88},{95.03999999999999,80.28}}</string>
        <key>offset</key>
        <string>{-10.800000000000011,-32.22}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{31.68,82.08},{95.03999999999999,80.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (5)</key>
      <dict>
        <key>frame</key>
        <string>{{83.88,178.92},{94.32,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-11.88000000000001,-29.159999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{30.959999999999997,75.96},{94.32,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (4)</key>
      <dict>
        <key>frame</key>
        <string>{{164.16,83.88},{93.24,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-11.340000000000003,-29.33999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{32.04,76.32},{93.24,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (3)</key>
      <dict>
        <key>frame</key>
        <string>{{83.88,273.24},{91.8,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.980000000000004,-29.33999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{33.12,76.32},{91.8,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (2)</key>
      <dict>
        <key>frame</key>
        <string>{{83.88,365.03999999999996},{90.36,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.620000000000005,-29.33999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{34.199999999999996,76.32},{90.36,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (28)</key>
      <dict>
        <key>frame</key>
        <string>{{83.88,455.4},{90,75.96}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-34.01999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{34.92,86.03999999999999},{90,75.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (1)</key>
      <dict>
        <key>frame</key>
        <string>{{84.96,545.4},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (35)</key>
      <dict>
        <key>frame</key>
        <string>{{84.96,634.68},{55.08,48.239999999999995}}</string>
        <key>offset</key>
        <string>{-4.5,-46.44}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57.96,112.32},{55.08,48.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (29)</key>
      <dict>
        <key>frame</key>
        <string>{{159.84,455.4},{85.32,72}}</string>
        <key>offset</key>
        <string>{-9.180000000000007,-35.64}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{38.16,89.64},{85.32,72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (30)</key>
      <dict>
        <key>frame</key>
        <string>{{85.67999999999999,682.92},{80.28,68.03999999999999}}</string>
        <key>offset</key>
        <string>{-8.460000000000008,-37.61999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{41.4,93.6},{80.28,68.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (31)</key>
      <dict>
        <key>frame</key>
        <string>{{86.03999999999999,763.1999999999999},{75.24,64.08}}</string>
        <key>offset</key>
        <string>{-7.740000000000009,-39.24000000000001}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{44.64,97.2},{75.24,64.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (32)</key>
      <dict>
        <key>frame</key>
        <string>{{169.92,273.24},{70.2,60.12}}</string>
        <key>offset</key>
        <string>{-6.659999999999997,-41.22}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,101.16},{70.2,60.12}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (33)</key>
      <dict>
        <key>frame</key>
        <string>{{170.28,177.12},{65.16,56.16}}</string>
        <key>offset</key>
        <string>{-5.939999999999998,-42.839999999999975}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51.48,104.75999999999999},{65.16,56.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_die (34)</key>
      <dict>
        <key>frame</key>
        <string>{{226.44,177.12},{60.12,52.199999999999996}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-44.81999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{54.72,108.72},{60.12,52.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer5_die.png</string>
      <key>size</key>
      <string>{1101,1071}</string>
      <key>textureFileName</key>
      <string>Archer5_die</string>
    </dict>
  </dict>
</plist>
