<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer2_die (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{43.199999999999996,59.76}}</string>
        <key>offset</key>
        <string>{12.780000000000001,-19.260000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.559999999999995,50.76},{43.199999999999996,59.76}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,59.76},{41.76,59.76}}</string>
        <key>offset</key>
        <string>{10.980000000000004,-19.260000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51.48,50.76},{41.76,59.76}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,119.52},{40.32,59.4}}</string>
        <key>offset</key>
        <string>{8.820000000000007,-19.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50.04,51.12},{40.32,59.4}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,178.92},{44.64,58.68}}</string>
        <key>offset</key>
        <string>{13.86,-19.799999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.919999999999995,51.839999999999996},{44.64,58.68}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (5)</key>
      <dict>
        <key>frame</key>
        <string>{{40.32,119.52},{38.519999999999996,58.68}}</string>
        <key>offset</key>
        <string>{6.480000000000004,-20.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.6,52.199999999999996},{38.519999999999996,58.68}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (4)</key>
      <dict>
        <key>frame</key>
        <string>{{41.76,59.76},{36.72,57.239999999999995}}</string>
        <key>offset</key>
        <string>{4.140000000000001,-20.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.16,53.64},{36.72,57.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (10)</key>
      <dict>
        <key>frame</key>
        <string>{{78.48,59.76},{46.8,56.879999999999995}}</string>
        <key>offset</key>
        <string>{15.300000000000011,-20.700000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53.28,53.64},{46.8,56.879999999999995}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (27)</key>
      <dict>
        <key>frame</key>
        <string>{{78.48,0},{56.16,45.36}}</string>
        <key>offset</key>
        <string>{20.700000000000003,-32.94}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{54,71.64},{56.16,45.36}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (3)</key>
      <dict>
        <key>frame</key>
        <string>{{123.83999999999999,0},{37.8,55.44}}</string>
        <key>offset</key>
        <string>{1.4400000000000048,-21.78}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.92,55.44},{37.8,55.44}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,237.6},{48.6,54.72}}</string>
        <key>offset</key>
        <string>{16.92,-21.78}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,55.8},{48.6,54.72}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (26)</key>
      <dict>
        <key>frame</key>
        <string>{{44.64,178.2},{54.36,46.44}}</string>
        <key>offset</key>
        <string>{19.80000000000001,-32.400000000000006}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{54,70.56},{54.36,46.44}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (2)</key>
      <dict>
        <key>frame</key>
        <string>{{78.84,116.64},{39.6,53.28}}</string>
        <key>offset</key>
        <string>{-0.8999999999999915,-22.86}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.68,57.599999999999994},{39.6,53.28}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,292.32},{48.6,51.839999999999996}}</string>
        <key>offset</key>
        <string>{16.92,-23.22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,58.68},{48.6,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (25)</key>
      <dict>
        <key>frame</key>
        <string>{{0,344.15999999999997},{51.839999999999996,47.16}}</string>
        <key>offset</key>
        <string>{18.540000000000006,-32.040000000000006}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{54,69.84},{51.839999999999996,47.16}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{40.68,51.839999999999996}}</string>
        <key>offset</key>
        <string>{-3.239999999999995,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,59.4},{40.68,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (24)</key>
      <dict>
        <key>frame</key>
        <string>{{0,447.84},{51.48,48.239999999999995}}</string>
        <key>offset</key>
        <string>{18.36,-31.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{54,68.75999999999999},{51.48,48.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (16)</key>
      <dict>
        <key>frame</key>
        <string>{{40.68,396},{46.8,51.48}}</string>
        <key>offset</key>
        <string>{16.379999999999995,-28.799999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,64.44},{46.8,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (19)</key>
      <dict>
        <key>frame</key>
        <string>{{47.16,344.15999999999997},{46.44,51.48}}</string>
        <key>offset</key>
        <string>{16.560000000000002,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.72,64.08},{46.44,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (18)</key>
      <dict>
        <key>frame</key>
        <string>{{93.6,344.15999999999997},{45.36,51.48}}</string>
        <key>offset</key>
        <string>{16.379999999999995,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.08,63.36},{45.36,51.48}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (15)</key>
      <dict>
        <key>frame</key>
        <string>{{48.6,232.56},{47.519999999999996,51.12}}</string>
        <key>offset</key>
        <string>{16.74000000000001,-29.700000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,65.52},{47.519999999999996,51.12}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (20)</key>
      <dict>
        <key>frame</key>
        <string>{{48.6,283.68},{47.519999999999996,51.12}}</string>
        <key>offset</key>
        <string>{16.74000000000001,-29.340000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,65.16},{47.519999999999996,51.12}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (17)</key>
      <dict>
        <key>frame</key>
        <string>{{91.08,169.92},{45.72,51.12}}</string>
        <key>offset</key>
        <string>{16.200000000000003,-27.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.72,63.72},{45.72,51.12}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (23)</key>
      <dict>
        <key>frame</key>
        <string>{{118.44,116.64},{50.76,48.96}}</string>
        <key>offset</key>
        <string>{18,-31.14}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{54,68.03999999999999},{50.76,48.96}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (13)</key>
      <dict>
        <key>frame</key>
        <string>{{125.28,55.44},{48.6,50.76}}</string>
        <key>offset</key>
        <string>{16.92,-25.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,61.919999999999995},{48.6,50.76}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (14)</key>
      <dict>
        <key>frame</key>
        <string>{{167.4,0},{48.6,50.76}}</string>
        <key>offset</key>
        <string>{16.92,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,65.16},{48.6,50.76}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (21)</key>
      <dict>
        <key>frame</key>
        <string>{{173.88,50.76},{48.6,50.76}}</string>
        <key>offset</key>
        <string>{16.92,-30.239999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,66.24},{48.6,50.76}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
      <key>Archer2_die (22)</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{49.68,49.68}}</string>
        <key>offset</key>
        <string>{17.460000000000008,-30.78}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,67.32},{49.68,49.68}}</string>
        <key>sourceSize</key>
        <string>{122.75999999999999,122.75999999999999}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer2_die.png</string>
      <key>size</key>
      <string>{266,499}</string>
      <key>textureFileName</key>
      <string>Archer2_die</string>
    </dict>
  </dict>
</plist>
