<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer4_freez (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{89.28,72.72}}</string>
        <key>offset</key>
        <string>{-2.8799999999999955,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.48,92.52},{89.28,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_freez (4)</key>
      <dict>
        <key>frame</key>
        <string>{{89.28,0},{88.92,72.72}}</string>
        <key>offset</key>
        <string>{-2.700000000000003,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,92.52},{88.92,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_freez (5)</key>
      <dict>
        <key>frame</key>
        <string>{{178.2,0},{88.92,72.72}}</string>
        <key>offset</key>
        <string>{-2.700000000000003,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,92.52},{88.92,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_freez (10)</key>
      <dict>
        <key>frame</key>
        <string>{{267.12,0},{88.56,72.72}}</string>
        <key>offset</key>
        <string>{-2.5200000000000102,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,92.52},{88.56,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_freez (3)</key>
      <dict>
        <key>frame</key>
        <string>{{355.68,0},{88.56,72.72}}</string>
        <key>offset</key>
        <string>{-2.5200000000000102,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,92.52},{88.56,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_freez (1)</key>
      <dict>
        <key>frame</key>
        <string>{{444.24,0},{88.2,72.72}}</string>
        <key>offset</key>
        <string>{-2.3400000000000034,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,92.52},{88.2,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_freez (2)</key>
      <dict>
        <key>frame</key>
        <string>{{267.12,0},{88.56,72.72}}</string>
        <key>offset</key>
        <string>{-2.5200000000000102,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,92.52},{88.56,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_freez (9)</key>
      <dict>
        <key>frame</key>
        <string>{{355.68,0},{88.56,72.72}}</string>
        <key>offset</key>
        <string>{-2.5200000000000102,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,92.52},{88.56,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_freez (8)</key>
      <dict>
        <key>frame</key>
        <string>{{89.28,0},{88.92,72.72}}</string>
        <key>offset</key>
        <string>{-2.700000000000003,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,92.52},{88.92,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_freez (7)</key>
      <dict>
        <key>frame</key>
        <string>{{178.2,0},{88.92,72.72}}</string>
        <key>offset</key>
        <string>{-2.700000000000003,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,92.52},{88.92,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer4_freez.png</string>
      <key>size</key>
      <string>{532,73}</string>
      <key>textureFileName</key>
      <string>Archer4_freez</string>
    </dict>
  </dict>
</plist>
