<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer4_idle (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{92.16,72}}</string>
        <key>offset</key>
        <string>{-4.319999999999993,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.6,92.88},{92.16,72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (11)</key>
      <dict>
        <key>frame</key>
        <string>{{92.16,0},{91.8,72}}</string>
        <key>offset</key>
        <string>{-4.140000000000001,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.96,92.88},{91.8,72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (10)</key>
      <dict>
        <key>frame</key>
        <string>{{183.95999999999998,0},{91.44,72}}</string>
        <key>offset</key>
        <string>{-3.960000000000008,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,92.88},{91.44,72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (15)</key>
      <dict>
        <key>frame</key>
        <string>{{275.4,0},{91.08,71.64}}</string>
        <key>offset</key>
        <string>{-3.780000000000001,-39.06}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.68,93.24},{91.08,71.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (16)</key>
      <dict>
        <key>frame</key>
        <string>{{366.47999999999996,0},{90.72,71.64}}</string>
        <key>offset</key>
        <string>{-3.5999999999999943,-39.06}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.04,93.24},{90.72,71.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (17)</key>
      <dict>
        <key>frame</key>
        <string>{{457.2,0},{90.36,71.64}}</string>
        <key>offset</key>
        <string>{-3.4200000000000017,-39.06}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.4,93.24},{90.36,71.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (18)</key>
      <dict>
        <key>frame</key>
        <string>{{547.56,0},{90.36,71.64}}</string>
        <key>offset</key>
        <string>{-3.0600000000000023,-39.06}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.76,93.24},{90.36,71.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (19)</key>
      <dict>
        <key>frame</key>
        <string>{{637.92,0},{90,71.28}}</string>
        <key>offset</key>
        <string>{-2.8799999999999955,-39.24000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.12,93.6},{90,71.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (20)</key>
      <dict>
        <key>frame</key>
        <string>{{727.92,0},{89.28,71.28}}</string>
        <key>offset</key>
        <string>{-2.5200000000000102,-39.24000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,93.6},{89.28,71.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (1)</key>
      <dict>
        <key>frame</key>
        <string>{{817.1999999999999,0},{88.92,71.64}}</string>
        <key>offset</key>
        <string>{-2.3400000000000034,-39.06}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,93.24},{88.92,71.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (2)</key>
      <dict>
        <key>frame</key>
        <string>{{637.92,71.28},{88.2,72.72}}</string>
        <key>offset</key>
        <string>{-2.3400000000000034,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,92.52},{88.2,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (3)</key>
      <dict>
        <key>frame</key>
        <string>{{817.1999999999999,0},{88.92,71.64}}</string>
        <key>offset</key>
        <string>{-2.3400000000000034,-39.06}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,93.24},{88.92,71.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (14)</key>
      <dict>
        <key>frame</key>
        <string>{{183.95999999999998,0},{91.44,72}}</string>
        <key>offset</key>
        <string>{-3.960000000000008,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,92.88},{91.44,72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (13)</key>
      <dict>
        <key>frame</key>
        <string>{{92.16,0},{91.8,72}}</string>
        <key>offset</key>
        <string>{-4.140000000000001,-38.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.96,92.88},{91.8,72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (9)</key>
      <dict>
        <key>frame</key>
        <string>{{275.4,0},{91.08,71.64}}</string>
        <key>offset</key>
        <string>{-3.780000000000001,-39.06}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.68,93.24},{91.08,71.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (8)</key>
      <dict>
        <key>frame</key>
        <string>{{366.47999999999996,0},{90.72,71.64}}</string>
        <key>offset</key>
        <string>{-3.5999999999999943,-39.06}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.04,93.24},{90.72,71.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (7)</key>
      <dict>
        <key>frame</key>
        <string>{{457.2,0},{90.36,71.64}}</string>
        <key>offset</key>
        <string>{-3.4200000000000017,-39.06}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.4,93.24},{90.36,71.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (6)</key>
      <dict>
        <key>frame</key>
        <string>{{547.56,0},{90.36,71.64}}</string>
        <key>offset</key>
        <string>{-3.0600000000000023,-39.06}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.76,93.24},{90.36,71.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (5)</key>
      <dict>
        <key>frame</key>
        <string>{{637.92,0},{90,71.28}}</string>
        <key>offset</key>
        <string>{-2.8799999999999955,-39.24000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.12,93.6},{90,71.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_idle (4)</key>
      <dict>
        <key>frame</key>
        <string>{{727.92,0},{89.28,71.28}}</string>
        <key>offset</key>
        <string>{-2.5200000000000102,-39.24000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,93.6},{89.28,71.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer4_idle.png</string>
      <key>size</key>
      <string>{906,144}</string>
      <key>textureFileName</key>
      <string>Archer4_idle</string>
    </dict>
  </dict>
</plist>
