<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer3_walk (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{53.28,66.96}}</string>
        <key>offset</key>
        <string>{-11.699999999999996,-26.820000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,64.08},{53.28,66.96}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,66.96},{53.28,66.96}}</string>
        <key>offset</key>
        <string>{-11.699999999999996,-26.820000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,64.08},{53.28,66.96}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,133.92},{53.28,66.96}}</string>
        <key>offset</key>
        <string>{-11.699999999999996,-26.820000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,64.08},{53.28,66.96}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,200.88},{53.28,66.96}}</string>
        <key>offset</key>
        <string>{-11.699999999999996,-26.820000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,64.08},{53.28,66.96}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,267.84},{53.28,66.6}}</string>
        <key>offset</key>
        <string>{-11.699999999999996,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,64.44},{53.28,66.6}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,334.44},{53.28,66.6}}</string>
        <key>offset</key>
        <string>{-11.699999999999996,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,64.44},{53.28,66.6}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,401.03999999999996},{52.919999999999995,66.6}}</string>
        <key>offset</key>
        <string>{-11.519999999999996,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,64.44},{52.919999999999995,66.6}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,467.64},{52.919999999999995,66.6}}</string>
        <key>offset</key>
        <string>{-11.519999999999996,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,64.44},{52.919999999999995,66.6}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,534.24},{54.36,66.24}}</string>
        <key>offset</key>
        <string>{-11.519999999999996,-27.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,64.8},{54.36,66.24}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{52.919999999999995,401.03999999999996},{54.36,66.24}}</string>
        <key>offset</key>
        <string>{-11.519999999999996,-27.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,64.8},{54.36,66.24}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{52.919999999999995,467.28},{52.919999999999995,66.24}}</string>
        <key>offset</key>
        <string>{-11.519999999999996,-27.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,64.8},{52.919999999999995,66.24}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{53.28,0},{52.919999999999995,66.24}}</string>
        <key>offset</key>
        <string>{-11.519999999999996,-27.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,64.8},{52.919999999999995,66.24}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{53.28,66.24},{52.919999999999995,66.24}}</string>
        <key>offset</key>
        <string>{-11.519999999999996,-27.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,64.8},{52.919999999999995,66.24}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{53.28,132.48},{52.919999999999995,66.24}}</string>
        <key>offset</key>
        <string>{-11.519999999999996,-27.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,64.8},{52.919999999999995,66.24}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{53.28,198.72},{52.199999999999996,66.24}}</string>
        <key>offset</key>
        <string>{-11.519999999999996,-27.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33.12,64.8},{52.199999999999996,66.24}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (19)</key>
      <dict>
        <key>frame</key>
        <string>{{53.28,264.96},{55.44,65.88}}</string>
        <key>offset</key>
        <string>{-10.979999999999997,-27.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,65.16},{55.44,65.88}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{105.47999999999999,198.72},{55.44,65.88}}</string>
        <key>offset</key>
        <string>{-10.979999999999997,-27.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,65.16},{55.44,65.88}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{53.28,330.84},{56.16,65.16}}</string>
        <key>offset</key>
        <string>{-10.619999999999997,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,65.88},{56.16,65.16}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (20)</key>
      <dict>
        <key>frame</key>
        <string>{{108.72,264.59999999999997},{56.16,65.16}}</string>
        <key>offset</key>
        <string>{-10.619999999999997,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,65.88},{56.16,65.16}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{106.2,0},{57.239999999999995,64.8}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.68,66.24},{57.239999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer3_walk.png</string>
      <key>size</key>
      <string>{165,600}</string>
      <key>textureFileName</key>
      <string>Archer3_walk</string>
    </dict>
  </dict>
</plist>
