<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer4_die (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{77.03999999999999,105.11999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-23.039999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,105.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,105.11999999999999},{77.03999999999999,105.11999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-23.039999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,105.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,210.23999999999998},{77.03999999999999,105.11999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-23.039999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,105.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,315.36},{77.03999999999999,105.11999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-23.039999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,105.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,420.47999999999996},{77.03999999999999,105.11999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-23.039999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,105.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,525.6},{77.03999999999999,105.11999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-23.039999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,105.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,630.72},{77.03999999999999,105.11999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-23.039999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,105.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,735.8399999999999},{77.03999999999999,105.11999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-23.039999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,105.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,840.9599999999999},{77.03999999999999,105.11999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-23.039999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,105.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,946.0799999999999},{77.03999999999999,105.11999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-23.039999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,105.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (30)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1051.2},{52.919999999999995,56.879999999999995}}</string>
        <key>offset</key>
        <string>{12.779999999999987,-47.16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{76.32,108.72},{52.919999999999995,56.879999999999995}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (31)</key>
      <dict>
        <key>frame</key>
        <string>{{52.919999999999995,1051.2},{55.44,52.919999999999995}}</string>
        <key>offset</key>
        <string>{11.519999999999996,-53.46000000000001}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{73.8,117},{55.44,52.919999999999995}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (32)</key>
      <dict>
        <key>frame</key>
        <string>{{105.83999999999999,1051.2},{55.44,52.919999999999995}}</string>
        <key>offset</key>
        <string>{11.519999999999996,-53.46000000000001}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{73.8,117},{55.44,52.919999999999995}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (21)</key>
      <dict>
        <key>frame</key>
        <string>{{158.76,0},{77.03999999999999,105.11999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-23.039999999999992}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,105.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (5)</key>
      <dict>
        <key>frame</key>
        <string>{{77.03999999999999,0},{81,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-2.3400000000000034,-32.400000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.16,79.2},{81,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (22)</key>
      <dict>
        <key>frame</key>
        <string>{{263.88,0},{77.03999999999999,104.75999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-22.859999999999985}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,104.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (23)</key>
      <dict>
        <key>frame</key>
        <string>{{368.64,0},{77.03999999999999,104.39999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-22.679999999999993}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,104.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (24)</key>
      <dict>
        <key>frame</key>
        <string>{{473.03999999999996,0},{77.03999999999999,104.03999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-22.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,104.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (25)</key>
      <dict>
        <key>frame</key>
        <string>{{577.0799999999999,0},{77.03999999999999,103.67999999999999}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-22.319999999999993}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,60.48},{77.03999999999999,103.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (10)</key>
      <dict>
        <key>frame</key>
        <string>{{680.76,0},{77.03999999999999,102.96}}</string>
        <key>offset</key>
        <string>{1.4399999999999977,-24.120000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{52.919999999999995,62.64},{77.03999999999999,102.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (9)</key>
      <dict>
        <key>frame</key>
        <string>{{783.72,0},{76.32,100.08}}</string>
        <key>offset</key>
        <string>{2.1599999999999966,-25.560000000000002}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{54,65.52},{76.32,100.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (8)</key>
      <dict>
        <key>frame</key>
        <string>{{883.8,0},{75.96,97.2}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-27}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{54.72,68.39999999999999},{75.96,97.2}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (7)</key>
      <dict>
        <key>frame</key>
        <string>{{981,0},{78.11999999999999,93.96}}</string>
        <key>offset</key>
        <string>{0.8999999999999915,-28.620000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51.839999999999996,71.64},{78.11999999999999,93.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (6)</key>
      <dict>
        <key>frame</key>
        <string>{{883.8,75.96},{79.92,90.36}}</string>
        <key>offset</key>
        <string>{-0.7199999999999989,-30.419999999999987}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{49.32,75.24},{79.92,90.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (1)</key>
      <dict>
        <key>frame</key>
        <string>{{783.72,76.32},{88.2,72.72}}</string>
        <key>offset</key>
        <string>{-2.3400000000000034,-39.24000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,92.88},{88.2,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (26)</key>
      <dict>
        <key>frame</key>
        <string>{{783.72,149.04},{52.559999999999995,87.84}}</string>
        <key>offset</key>
        <string>{12.959999999999994,-29.879999999999995}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{76.67999999999999,75.96},{52.559999999999995,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (2)</key>
      <dict>
        <key>frame</key>
        <string>{{783.72,201.6},{87.11999999999999,74.88}}</string>
        <key>offset</key>
        <string>{-2.5200000000000102,-38.16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.92,90.72},{87.11999999999999,74.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (3)</key>
      <dict>
        <key>frame</key>
        <string>{{974.16,78.11999999999999},{85.32,78.48}}</string>
        <key>offset</key>
        <string>{-3.0600000000000023,-36.359999999999985}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44.28,87.11999999999999},{85.32,78.48}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (33)</key>
      <dict>
        <key>frame</key>
        <string>{{1059.48,78.11999999999999},{55.44,52.919999999999995}}</string>
        <key>offset</key>
        <string>{11.519999999999996,-53.46000000000001}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{73.8,117},{55.44,52.919999999999995}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (34)</key>
      <dict>
        <key>frame</key>
        <string>{{1059.48,133.56},{55.44,52.919999999999995}}</string>
        <key>offset</key>
        <string>{11.519999999999996,-53.46000000000001}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{73.8,117},{55.44,52.919999999999995}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (4)</key>
      <dict>
        <key>frame</key>
        <string>{{871.56,155.88},{82.08,82.44}}</string>
        <key>offset</key>
        <string>{-3.240000000000009,-34.379999999999995}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{45.72,83.16},{82.08,82.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (27)</key>
      <dict>
        <key>frame</key>
        <string>{{871.56,237.95999999999998},{52.559999999999995,80.28}}</string>
        <key>offset</key>
        <string>{12.959999999999994,-34.019999999999996}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{76.67999999999999,83.88},{52.559999999999995,80.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (28)</key>
      <dict>
        <key>frame</key>
        <string>{{871.56,290.52},{52.559999999999995,72.72}}</string>
        <key>offset</key>
        <string>{12.959999999999994,-38.51999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{76.67999999999999,92.16},{52.559999999999995,72.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (29)</key>
      <dict>
        <key>frame</key>
        <string>{{871.56,343.08},{52.559999999999995,64.8}}</string>
        <key>offset</key>
        <string>{12.959999999999994,-42.84}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{76.67999999999999,100.44},{52.559999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (35)</key>
      <dict>
        <key>frame</key>
        <string>{{871.56,395.64},{55.44,52.919999999999995}}</string>
        <key>offset</key>
        <string>{11.519999999999996,-53.46000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,117},{55.44,52.919999999999995}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (36)</key>
      <dict>
        <key>frame</key>
        <string>{{871.56,448.56},{55.44,52.919999999999995}}</string>
        <key>offset</key>
        <string>{11.519999999999996,-53.46000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,117},{55.44,52.919999999999995}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (37)</key>
      <dict>
        <key>frame</key>
        <string>{{871.56,501.47999999999996},{55.44,52.919999999999995}}</string>
        <key>offset</key>
        <string>{11.519999999999996,-53.46000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,117},{55.44,52.919999999999995}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (38)</key>
      <dict>
        <key>frame</key>
        <string>{{954,156.6},{55.44,52.919999999999995}}</string>
        <key>offset</key>
        <string>{11.519999999999996,-53.46000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,117},{55.44,52.919999999999995}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer4_die (39)</key>
      <dict>
        <key>frame</key>
        <string>{{1009.4399999999999,189},{55.44,52.919999999999995}}</string>
        <key>offset</key>
        <string>{11.519999999999996,-53.46000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,117},{55.44,52.919999999999995}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer4_die.png</string>
      <key>size</key>
      <string>{1112,1108}</string>
      <key>textureFileName</key>
      <string>Archer4_die</string>
    </dict>
  </dict>
</plist>
