<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer5_attack (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{88.2,137.16}}</string>
        <key>offset</key>
        <string>{-10.97999999999999,-3.4200000000000017}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34.92,24.84},{88.2,137.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,137.16},{79.2,132.84}}</string>
        <key>offset</key>
        <string>{-6.47999999999999,-5.579999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.92,29.16},{79.2,132.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (32)</key>
      <dict>
        <key>frame</key>
        <string>{{0,270},{79.2,132.48}}</string>
        <key>offset</key>
        <string>{-6.47999999999999,-5.759999999999991}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.92,29.52},{79.2,132.48}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,402.47999999999996},{69.84,128.88}}</string>
        <key>offset</key>
        <string>{-1.7999999999999972,-7.560000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53.28,33.12},{69.84,128.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (33)</key>
      <dict>
        <key>frame</key>
        <string>{{0,531.36},{69.84,128.16}}</string>
        <key>offset</key>
        <string>{-1.7999999999999972,-7.9199999999999875}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53.28,33.839999999999996},{69.84,128.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,659.52},{66.6,124.56}}</string>
        <key>offset</key>
        <string>{-0.18000000000000682,-9.719999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,37.44},{66.6,124.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (34)</key>
      <dict>
        <key>frame</key>
        <string>{{0,784.0799999999999},{66.6,123.47999999999999}}</string>
        <key>offset</key>
        <string>{-0.18000000000000682,-10.259999999999991}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,38.519999999999996},{66.6,123.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,907.56},{72.36,120.6}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-11.699999999999989}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,41.4},{72.36,120.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (44)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1028.1599999999999},{86.39999999999999,106.92}}</string>
        <key>offset</key>
        <string>{-9.360000000000014,-18.539999999999992}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{37.44,55.08},{86.39999999999999,106.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (1)</key>
      <dict>
        <key>frame</key>
        <string>{{106.92,1028.1599999999999},{89.28,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,76.32},{89.28,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (43)</key>
      <dict>
        <key>frame</key>
        <string>{{196.2,1028.1599999999999},{83.16,109.44}}</string>
        <key>offset</key>
        <string>{-8.099999999999994,-17.28}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{40.32,52.559999999999995},{83.16,109.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (10)</key>
      <dict>
        <key>frame</key>
        <string>{{305.64,1028.1599999999999},{79.56,111.6}}</string>
        <key>offset</key>
        <string>{-6.299999999999997,-16.19999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{43.92,50.4},{79.56,111.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (16)</key>
      <dict>
        <key>frame</key>
        <string>{{417.24,1028.1599999999999},{77.39999999999999,116.28}}</string>
        <key>offset</key>
        <string>{5.939999999999998,-13.86}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{57.239999999999995,45.72},{77.39999999999999,116.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (36)</key>
      <dict>
        <key>frame</key>
        <string>{{533.52,1028.1599999999999},{77.39999999999999,114.47999999999999}}</string>
        <key>offset</key>
        <string>{5.939999999999998,-14.759999999999991}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{57.239999999999995,47.519999999999996},{77.39999999999999,114.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (35)</key>
      <dict>
        <key>frame</key>
        <string>{{66.6,659.52},{72.36,118.8}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-12.599999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,43.199999999999996},{72.36,118.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (17)</key>
      <dict>
        <key>frame</key>
        <string>{{66.6,778.3199999999999},{72.36,114.83999999999999}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-14.579999999999984}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,47.16},{72.36,114.83999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (37)</key>
      <dict>
        <key>frame</key>
        <string>{{72.36,893.16},{72.36,113.39999999999999}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-15.299999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,48.6},{72.36,113.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (18)</key>
      <dict>
        <key>frame</key>
        <string>{{144.72,893.16},{66.6,113.39999999999999}}</string>
        <key>offset</key>
        <string>{-0.18000000000000682,-15.299999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,48.6},{66.6,113.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (21)</key>
      <dict>
        <key>frame</key>
        <string>{{211.32,893.16},{75.6,113.03999999999999}}</string>
        <key>offset</key>
        <string>{-4.680000000000007,-15.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.519999999999996,48.96},{75.6,113.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (38)</key>
      <dict>
        <key>frame</key>
        <string>{{286.92,893.16},{66.6,112.32}}</string>
        <key>offset</key>
        <string>{-0.18000000000000682,-15.840000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,49.68},{66.6,112.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (19)</key>
      <dict>
        <key>frame</key>
        <string>{{353.52,893.16},{66.6,111.96}}</string>
        <key>offset</key>
        <string>{-0.18000000000000682,-16.019999999999996}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,50.04},{66.6,111.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (20)</key>
      <dict>
        <key>frame</key>
        <string>{{420.12,893.16},{68.75999999999999,111.6}}</string>
        <key>offset</key>
        <string>{-1.2600000000000051,-16.19999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,50.4},{68.75999999999999,111.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (22)</key>
      <dict>
        <key>frame</key>
        <string>{{488.88,893.16},{68.75999999999999,111.6}}</string>
        <key>offset</key>
        <string>{-1.2600000000000051,-16.19999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,50.4},{68.75999999999999,111.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (40)</key>
      <dict>
        <key>frame</key>
        <string>{{69.84,402.47999999999996},{68.75999999999999,111.6}}</string>
        <key>offset</key>
        <string>{-1.2600000000000051,-16.19999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,50.4},{68.75999999999999,111.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (39)</key>
      <dict>
        <key>frame</key>
        <string>{{69.84,514.0799999999999},{66.6,110.88}}</string>
        <key>offset</key>
        <string>{-0.18000000000000682,-16.560000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,51.12},{66.6,110.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (23)</key>
      <dict>
        <key>frame</key>
        <string>{{136.44,514.0799999999999},{66.6,109.44}}</string>
        <key>offset</key>
        <string>{-0.18000000000000682,-17.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,52.559999999999995},{66.6,109.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (24)</key>
      <dict>
        <key>frame</key>
        <string>{{79.2,137.16},{66.6,105.83999999999999}}</string>
        <key>offset</key>
        <string>{-0.18000000000000682,-19.079999999999984}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,56.16},{66.6,105.83999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (45)</key>
      <dict>
        <key>frame</key>
        <string>{{88.2,0},{88.56,104.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-19.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,57.96},{88.56,104.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (25)</key>
      <dict>
        <key>frame</key>
        <string>{{79.2,243},{72.36,104.03999999999999}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-19.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,57.96},{72.36,104.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (26)</key>
      <dict>
        <key>frame</key>
        <string>{{145.79999999999998,104.03999999999999},{77.39999999999999,103.32}}</string>
        <key>offset</key>
        <string>{5.939999999999998,-20.340000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57.239999999999995,58.68},{77.39999999999999,103.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (46)</key>
      <dict>
        <key>frame</key>
        <string>{{176.76,0},{90,100.8}}</string>
        <key>offset</key>
        <string>{-11.159999999999997,-21.599999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33.839999999999996,61.199999999999996},{90,100.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (47)</key>
      <dict>
        <key>frame</key>
        <string>{{138.6,347.03999999999996},{91.08,97.92}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-23.400000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,64.44},{91.08,97.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (4)</key>
      <dict>
        <key>frame</key>
        <string>{{203.04,207.35999999999999},{91.8,94.67999999999999}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-25.019999999999982}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,67.67999999999999},{91.8,94.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (48)</key>
      <dict>
        <key>frame</key>
        <string>{{229.67999999999998,100.8},{91.8,94.67999999999999}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-25.019999999999982}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,67.67999999999999},{91.8,94.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (3)</key>
      <dict>
        <key>frame</key>
        <string>{{294.84,0},{91.44,91.44}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-26.64}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,70.92},{91.44,91.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (2)</key>
      <dict>
        <key>frame</key>
        <string>{{321.47999999999996,91.44},{90.36,88.56}}</string>
        <key>offset</key>
        <string>{-10.980000000000004,-28.08}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{33.839999999999996,73.8},{90.36,88.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (42)</key>
      <dict>
        <key>frame</key>
        <string>{{305.64,1028.1599999999999},{79.56,111.6}}</string>
        <key>offset</key>
        <string>{-6.299999999999997,-16.19999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{43.92,50.4},{79.56,111.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (31)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{88.2,137.16}}</string>
        <key>offset</key>
        <string>{-10.97999999999999,-3.4200000000000017}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34.92,24.84},{88.2,137.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (50)</key>
      <dict>
        <key>frame</key>
        <string>{{321.47999999999996,91.44},{90.36,88.56}}</string>
        <key>offset</key>
        <string>{-10.980000000000004,-28.08}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{33.839999999999996,73.8},{90.36,88.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (41)</key>
      <dict>
        <key>frame</key>
        <string>{{211.32,893.16},{75.6,113.03999999999999}}</string>
        <key>offset</key>
        <string>{-4.680000000000007,-15.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.519999999999996,48.96},{75.6,113.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (30)</key>
      <dict>
        <key>frame</key>
        <string>{{488.88,893.16},{68.75999999999999,111.6}}</string>
        <key>offset</key>
        <string>{-1.2600000000000051,-16.19999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,50.4},{68.75999999999999,111.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (29)</key>
      <dict>
        <key>frame</key>
        <string>{{136.44,514.0799999999999},{66.6,109.44}}</string>
        <key>offset</key>
        <string>{-0.18000000000000682,-17.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,52.559999999999995},{66.6,109.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (28)</key>
      <dict>
        <key>frame</key>
        <string>{{79.2,137.16},{66.6,105.83999999999999}}</string>
        <key>offset</key>
        <string>{-0.18000000000000682,-19.079999999999984}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,56.16},{66.6,105.83999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (27)</key>
      <dict>
        <key>frame</key>
        <string>{{79.2,243},{72.36,104.03999999999999}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-19.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,57.96},{72.36,104.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (49)</key>
      <dict>
        <key>frame</key>
        <string>{{294.84,0},{91.44,91.44}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-26.64}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,70.92},{91.44,91.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (9)</key>
      <dict>
        <key>frame</key>
        <string>{{196.2,1028.1599999999999},{83.16,109.44}}</string>
        <key>offset</key>
        <string>{-8.099999999999994,-17.28}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{40.32,52.559999999999995},{83.16,109.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1028.1599999999999},{86.39999999999999,106.92}}</string>
        <key>offset</key>
        <string>{-9.360000000000014,-18.539999999999992}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{37.44,55.08},{86.39999999999999,106.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (7)</key>
      <dict>
        <key>frame</key>
        <string>{{88.2,0},{88.56,104.03999999999999}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-19.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,57.96},{88.56,104.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (6)</key>
      <dict>
        <key>frame</key>
        <string>{{176.76,0},{90,100.8}}</string>
        <key>offset</key>
        <string>{-11.159999999999997,-21.599999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33.839999999999996,61.199999999999996},{90,100.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Archer5_attack (5)</key>
      <dict>
        <key>frame</key>
        <string>{{138.6,347.03999999999996},{91.08,97.92}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-23.400000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,64.44},{91.08,97.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer5_attack.png</string>
      <key>size</key>
      <string>{648,1115}</string>
      <key>textureFileName</key>
      <string>Archer5_attack</string>
    </dict>
  </dict>
</plist>
