<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Archer3_idle (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{57.239999999999995,64.8}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.68,66.24},{57.239999999999995,64.8}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,64.8},{56.519999999999996,64.44}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-28.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,66.6},{56.519999999999996,64.44}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,129.24},{56.519999999999996,64.44}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-28.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,66.6},{56.519999999999996,64.44}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,193.68},{55.8,64.08}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-28.260000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,66.96},{55.8,64.08}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,257.76},{55.44,64.08}}</string>
        <key>offset</key>
        <string>{-10.619999999999997,-28.260000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,66.96},{55.44,64.08}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,321.84},{55.08,63.72}}</string>
        <key>offset</key>
        <string>{-10.799999999999997,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,67.32},{55.08,63.72}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,385.56},{54.72,63.72}}</string>
        <key>offset</key>
        <string>{-10.619999999999997,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,67.32},{54.72,63.72}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,449.28},{54.36,63.36}}</string>
        <key>offset</key>
        <string>{-10.799999999999997,-28.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,67.67999999999999},{54.36,63.36}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,512.64},{53.64,63}}</string>
        <key>offset</key>
        <string>{-10.799999999999997,-28.799999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33.12,68.03999999999999},{53.64,63}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,575.64},{53.28,63}}</string>
        <key>offset</key>
        <string>{-10.979999999999997,-28.799999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33.12,68.03999999999999},{53.28,63}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,638.64},{52.559999999999995,62.64}}</string>
        <key>offset</key>
        <string>{-10.980000000000004,-28.980000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33.48,68.39999999999999},{52.559999999999995,62.64}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,575.64},{53.28,63}}</string>
        <key>offset</key>
        <string>{-10.979999999999997,-28.799999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33.12,68.03999999999999},{53.28,63}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,512.64},{53.64,63}}</string>
        <key>offset</key>
        <string>{-10.799999999999997,-28.799999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33.12,68.03999999999999},{53.64,63}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,449.28},{54.36,63.36}}</string>
        <key>offset</key>
        <string>{-10.799999999999997,-28.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,67.67999999999999},{54.36,63.36}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,385.56},{54.72,63.72}}</string>
        <key>offset</key>
        <string>{-10.619999999999997,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,67.32},{54.72,63.72}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,321.84},{55.08,63.72}}</string>
        <key>offset</key>
        <string>{-10.799999999999997,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,67.32},{55.08,63.72}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,257.76},{55.44,64.08}}</string>
        <key>offset</key>
        <string>{-10.619999999999997,-28.260000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,66.96},{55.44,64.08}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,193.68},{55.8,64.08}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-28.260000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,66.96},{55.8,64.08}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,64.8},{56.519999999999996,64.44}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-28.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,66.6},{56.519999999999996,64.44}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
      <key>Archer3_idle (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,129.24},{56.519999999999996,64.44}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-28.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,66.6},{56.519999999999996,64.44}}</string>
        <key>sourceSize</key>
        <string>{141.48,141.48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Archer3_idle.png</string>
      <key>size</key>
      <string>{57,701}</string>
      <key>textureFileName</key>
      <string>Archer3_idle</string>
    </dict>
  </dict>
</plist>
