<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Assassin1_attack (28)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{66.96,105.83999999999999}}</string>
        <key>offset</key>
        <string>{29.519999999999982,-18.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{86.03999999999999,55.8},{66.96,105.83999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (26)</key>
      <dict>
        <key>frame</key>
        <string>{{0,105.83999999999999},{55.44,104.39999999999999}}</string>
        <key>offset</key>
        <string>{31.319999999999993,-19.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{93.6,57.239999999999995},{55.44,104.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,210.23999999999998},{51.839999999999996,103.32}}</string>
        <key>offset</key>
        <string>{25.560000000000002,-19.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{89.64,58.32},{51.839999999999996,103.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (21)</key>
      <dict>
        <key>frame</key>
        <string>{{0,313.56},{101.88,89.64}}</string>
        <key>offset</key>
        <string>{-0.5400000000000063,-27.539999999999992}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{38.519999999999996,72.72},{101.88,89.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (29)</key>
      <dict>
        <key>frame</key>
        <string>{{51.839999999999996,210.23999999999998},{66.96,101.88}}</string>
        <key>offset</key>
        <string>{29.519999999999982,-21.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{86.03999999999999,60.12},{66.96,101.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (10)</key>
      <dict>
        <key>frame</key>
        <string>{{55.44,105.83999999999999},{51.839999999999996,101.88}}</string>
        <key>offset</key>
        <string>{29.519999999999996,-20.69999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{93.6,59.76},{51.839999999999996,101.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (25)</key>
      <dict>
        <key>frame</key>
        <string>{{107.28,105.83999999999999},{54.72,101.16}}</string>
        <key>offset</key>
        <string>{30.959999999999994,-21.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{93.6,60.48},{54.72,101.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (9)</key>
      <dict>
        <key>frame</key>
        <string>{{107.28,0},{52.919999999999995,100.44}}</string>
        <key>offset</key>
        <string>{27.179999999999993,-21.78}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{90.72,61.559999999999995},{52.919999999999995,100.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (27)</key>
      <dict>
        <key>frame</key>
        <string>{{160.2,0},{71.64,100.08}}</string>
        <key>offset</key>
        <string>{31.859999999999985,-21.239999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{86.03999999999999,61.199999999999996},{71.64,100.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,415.44},{99.72,89.64}}</string>
        <key>offset</key>
        <string>{-1.6200000000000045,-27.539999999999992}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{38.519999999999996,72.72},{99.72,89.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,515.16},{71.64,99.72}}</string>
        <key>offset</key>
        <string>{27.180000000000007,-22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{81.36,62.64},{71.64,99.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (30)</key>
      <dict>
        <key>frame</key>
        <string>{{0,614.88},{68.03999999999999,99.72}}</string>
        <key>offset</key>
        <string>{28.97999999999999,-22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84.96,62.64},{68.03999999999999,99.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (11)</key>
      <dict>
        <key>frame</key>
        <string>{{68.03999999999999,614.88},{53.28,99.72}}</string>
        <key>offset</key>
        <string>{30.959999999999994,-21.78}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{94.32,61.919999999999995},{53.28,99.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (19)</key>
      <dict>
        <key>frame</key>
        <string>{{71.64,515.16},{95.75999999999999,89.64}}</string>
        <key>offset</key>
        <string>{-3.6000000000000085,-27.539999999999992}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{38.519999999999996,72.72},{95.75999999999999,89.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (8)</key>
      <dict>
        <key>frame</key>
        <string>{{121.32,610.92},{56.879999999999995,95.03999999999999}}</string>
        <key>offset</key>
        <string>{23.039999999999992,-24.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84.6,66.96},{56.879999999999995,95.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (17)</key>
      <dict>
        <key>frame</key>
        <string>{{89.64,312.12},{93.96,90}}</string>
        <key>offset</key>
        <string>{-4.5,-27.72}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{38.519999999999996,72.72},{93.96,90}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (12)</key>
      <dict>
        <key>frame</key>
        <string>{{161.28,207},{54.36,93.6}}</string>
        <key>offset</key>
        <string>{32.22,-24.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{95.03999999999999,67.67999999999999},{54.36,93.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (18)</key>
      <dict>
        <key>frame</key>
        <string>{{179.64,100.08},{93.24,90}}</string>
        <key>offset</key>
        <string>{-4.860000000000014,-27.72}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{38.519999999999996,72.72},{93.24,90}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (24)</key>
      <dict>
        <key>frame</key>
        <string>{{231.84,0},{54,91.8}}</string>
        <key>offset</key>
        <string>{30.959999999999994,-26.099999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{93.96,70.2},{54,91.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (7)</key>
      <dict>
        <key>frame</key>
        <string>{{89.64,406.08},{66.6,88.92}}</string>
        <key>offset</key>
        <string>{17.819999999999993,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{74.52,73.08},{66.6,88.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (14)</key>
      <dict>
        <key>frame</key>
        <string>{{156.23999999999998,406.08},{76.67999999999999,88.56}}</string>
        <key>offset</key>
        <string>{10.259999999999991,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61.919999999999995,73.44},{76.67999999999999,88.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (6)</key>
      <dict>
        <key>frame</key>
        <string>{{179.64,300.59999999999997},{74.52,88.56}}</string>
        <key>offset</key>
        <string>{13.5,-28.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66.24,73.8},{74.52,88.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (23)</key>
      <dict>
        <key>frame</key>
        <string>{{232.92,193.32},{60.48,88.56}}</string>
        <key>offset</key>
        <string>{26.999999999999986,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{86.75999999999999,73.44},{60.48,88.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (5)</key>
      <dict>
        <key>frame</key>
        <string>{{269.64,91.8},{78.48,87.47999999999999}}</string>
        <key>offset</key>
        <string>{11.159999999999997,-28.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61.919999999999995,74.88},{78.48,87.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (22)</key>
      <dict>
        <key>frame</key>
        <string>{{293.4,0},{64.08,87.47999999999999}}</string>
        <key>offset</key>
        <string>{24.840000000000003,-28.25999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{82.8,74.52},{64.08,87.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (4)</key>
      <dict>
        <key>frame</key>
        <string>{{357.47999999999996,0},{78.48,86.39999999999999}}</string>
        <key>offset</key>
        <string>{10.799999999999997,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61.559999999999995,75.96},{78.48,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (3)</key>
      <dict>
        <key>frame</key>
        <string>{{435.96,0},{74.52,85.32}}</string>
        <key>offset</key>
        <string>{12.419999999999987,-30.059999999999988}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65.16,77.39999999999999},{74.52,85.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (2)</key>
      <dict>
        <key>frame</key>
        <string>{{510.47999999999996,0},{66.6,84.24}}</string>
        <key>offset</key>
        <string>{15.659999999999997,-30.599999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{72.36,78.48},{66.6,84.24}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (15)</key>
      <dict>
        <key>frame</key>
        <string>{{577.0799999999999,0},{81.36,83.52}}</string>
        <key>offset</key>
        <string>{4.319999999999993,-30.599999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53.64,78.84},{81.36,83.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_attack (16)</key>
      <dict>
        <key>frame</key>
        <string>{{658.4399999999999,0},{72.36,75.24}}</string>
        <key>offset</key>
        <string>{6.659999999999997,-34.73999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{60.48,87.11999999999999},{72.36,75.24}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Assassin1_attack.png</string>
      <key>size</key>
      <string>{734,715}</string>
      <key>textureFileName</key>
      <string>Assassin1_attack</string>
    </dict>
  </dict>
</plist>
