<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Assassin2_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{40.68,59.04}}</string>
        <key>offset</key>
        <string>{1.4210854715202004e-14,-23.580000000000013}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.92,58.32},{40.68,59.04}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,59.04},{40.68,59.04}}</string>
        <key>offset</key>
        <string>{1.4210854715202004e-14,-23.580000000000013}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.92,58.32},{40.68,59.04}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,118.08},{38.879999999999995,59.04}}</string>
        <key>offset</key>
        <string>{-0.539999999999992,-23.220000000000013}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44.28,57.96},{38.879999999999995,59.04}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,177.12},{41.76,58.68}}</string>
        <key>offset</key>
        <string>{0.18000000000000682,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,58.68},{41.76,58.68}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{38.879999999999995,118.08},{41.76,58.68}}</string>
        <key>offset</key>
        <string>{0.18000000000000682,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,58.68},{41.76,58.68}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{40.68,0},{41.4,58.68}}</string>
        <key>offset</key>
        <string>{0,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,58.68},{41.4,58.68}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{40.68,58.68},{41.4,58.68}}</string>
        <key>offset</key>
        <string>{0,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,58.68},{41.4,58.68}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,235.79999999999998},{41.04,58.68}}</string>
        <key>offset</key>
        <string>{-0.539999999999992,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,58.68},{41.04,58.68}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,294.47999999999996},{41.04,58.68}}</string>
        <key>offset</key>
        <string>{-0.539999999999992,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,58.68},{41.04,58.68}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,353.15999999999997},{39.96,58.68}}</string>
        <key>offset</key>
        <string>{-0.3599999999999852,-23.400000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.92,58.32},{39.96,58.68}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,411.84},{39.96,58.68}}</string>
        <key>offset</key>
        <string>{-0.3599999999999852,-23.400000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.92,58.32},{39.96,58.68}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,470.52},{42.12,58.32}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,-23.940000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,59.04},{42.12,58.32}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{39.96,353.15999999999997},{41.04,58.32}}</string>
        <key>offset</key>
        <string>{-0.8999999999999915,-23.580000000000013}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,58.68},{41.04,58.32}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{39.96,411.47999999999996},{41.04,58.32}}</string>
        <key>offset</key>
        <string>{-0.8999999999999915,-23.580000000000013}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,58.68},{41.04,58.32}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Assassin2_walk.png</string>
      <key>size</key>
      <string>{82,529}</string>
      <key>textureFileName</key>
      <string>Assassin2_walk</string>
    </dict>
  </dict>
</plist>
