<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Assassin4_poisoned (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{65.52,90.36}}</string>
        <key>offset</key>
        <string>{11.519999999999982,-26.460000000000008}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.75999999999999,71.28},{65.52,90.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,90.36},{66.24,90}}</string>
        <key>offset</key>
        <string>{10.799999999999983,-26.64}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{67.67999999999999,71.64},{66.24,90}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (10)</key>
      <dict>
        <key>frame</key>
        <string>{{65.52,0},{65.52,89.64}}</string>
        <key>offset</key>
        <string>{10.799999999999983,-26.819999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,72},{65.52,89.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,180.35999999999999},{65.52,89.64}}</string>
        <key>offset</key>
        <string>{10.799999999999983,-26.819999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,72},{65.52,89.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,270},{65.16,89.28}}</string>
        <key>offset</key>
        <string>{10.61999999999999,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,72.36},{65.16,89.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,359.28},{65.16,89.28}}</string>
        <key>offset</key>
        <string>{10.61999999999999,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,72.36},{65.16,89.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,448.56},{65.16,89.28}}</string>
        <key>offset</key>
        <string>{10.61999999999999,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,72.36},{65.16,89.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,537.84},{65.16,89.28}}</string>
        <key>offset</key>
        <string>{10.61999999999999,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,72.36},{65.16,89.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,627.12},{65.52,88.92}}</string>
        <key>offset</key>
        <string>{10.799999999999983,-27.180000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,72.72},{65.52,88.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (7)</key>
      <dict>
        <key>frame</key>
        <string>{{65.16,270},{65.52,88.92}}</string>
        <key>offset</key>
        <string>{10.799999999999983,-27.180000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,72.72},{65.52,88.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (16)</key>
      <dict>
        <key>frame</key>
        <string>{{65.52,180.35999999999999},{65.16,88.56}}</string>
        <key>offset</key>
        <string>{10.97999999999999,-27.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,73.08},{65.16,88.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (6)</key>
      <dict>
        <key>frame</key>
        <string>{{66.24,89.64},{65.16,88.56}}</string>
        <key>offset</key>
        <string>{10.97999999999999,-27.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,73.08},{65.16,88.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (17)</key>
      <dict>
        <key>frame</key>
        <string>{{131.04,0},{65.52,88.2}}</string>
        <key>offset</key>
        <string>{11.159999999999997,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,73.44},{65.52,88.2}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (19)</key>
      <dict>
        <key>frame</key>
        <string>{{65.16,358.91999999999996},{65.52,88.2}}</string>
        <key>offset</key>
        <string>{11.519999999999982,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.75999999999999,73.44},{65.52,88.2}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (5)</key>
      <dict>
        <key>frame</key>
        <string>{{65.16,447.12},{65.52,88.2}}</string>
        <key>offset</key>
        <string>{11.159999999999997,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,73.44},{65.52,88.2}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (18)</key>
      <dict>
        <key>frame</key>
        <string>{{65.16,535.3199999999999},{65.88,87.84}}</string>
        <key>offset</key>
        <string>{11.33999999999999,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,73.8},{65.88,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (4)</key>
      <dict>
        <key>frame</key>
        <string>{{130.68,178.2},{65.88,87.84}}</string>
        <key>offset</key>
        <string>{11.33999999999999,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,73.8},{65.88,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (3)</key>
      <dict>
        <key>frame</key>
        <string>{{131.4,88.2},{65.52,87.47999999999999}}</string>
        <key>offset</key>
        <string>{11.519999999999982,-27.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.75999999999999,74.16},{65.52,87.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (1)</key>
      <dict>
        <key>frame</key>
        <string>{{196.56,0},{65.88,87.11999999999999}}</string>
        <key>offset</key>
        <string>{11.699999999999989,-28.079999999999984}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.75999999999999,74.52},{65.88,87.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin4_poisoned (2)</key>
      <dict>
        <key>frame</key>
        <string>{{130.68,266.03999999999996},{65.52,87.11999999999999}}</string>
        <key>offset</key>
        <string>{11.519999999999982,-28.079999999999984}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.75999999999999,74.52},{65.52,87.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Assassin4_poisoned.png</string>
      <key>size</key>
      <string>{262,716}</string>
      <key>textureFileName</key>
      <string>Assassin4_poisoned</string>
    </dict>
  </dict>
</plist>
