<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Assassin3_walk (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{55.44,75.6}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,-15.840000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{58.32,63.72},{55.44,75.6}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,75.6},{57.599999999999994,74.52}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,-16.38000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57.239999999999995,64.8},{57.599999999999994,74.52}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{55.44,0},{61.199999999999996,74.16}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-16.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.8,65.52},{61.199999999999996,74.16}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,150.12},{63.72,73.44}}</string>
        <key>offset</key>
        <string>{0.5400000000000063,-17.64}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,66.6},{63.72,73.44}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{57.599999999999994,74.16},{64.8,72.72}}</string>
        <key>offset</key>
        <string>{0.7200000000000131,-18.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,67.67999999999999},{64.8,72.72}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{116.64,0},{64.8,72}}</string>
        <key>offset</key>
        <string>{0.7200000000000131,-19.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,68.75999999999999},{64.8,72}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,223.56},{64.08,70.92}}</string>
        <key>offset</key>
        <string>{0.7200000000000131,-19.260000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,69.48},{64.08,70.92}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{63.72,146.88},{63,69.84}}</string>
        <key>offset</key>
        <string>{0.5400000000000063,-19.440000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.72,70.2},{63,69.84}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{122.39999999999999,72},{61.199999999999996,68.75999999999999}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,-19.620000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.44,70.92},{61.199999999999996,68.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{181.44,0},{59.4,67.32}}</string>
        <key>offset</key>
        <string>{0.18000000000000682,-19.980000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.16,72},{59.4,67.32}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,294.47999999999996},{56.879999999999995,66.6}}</string>
        <key>offset</key>
        <string>{0,-20.340000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57.239999999999995,72.72},{56.879999999999995,66.6}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{116.64,0},{64.8,72}}</string>
        <key>offset</key>
        <string>{0.7200000000000131,-19.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,68.75999999999999},{64.8,72}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,223.56},{64.08,70.92}}</string>
        <key>offset</key>
        <string>{0.7200000000000131,-19.260000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,69.48},{64.08,70.92}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (20)</key>
      <dict>
        <key>frame</key>
        <string>{{57.599999999999994,74.16},{64.8,72.72}}</string>
        <key>offset</key>
        <string>{0.7200000000000131,-18.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,67.67999999999999},{64.8,72.72}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,150.12},{63.72,73.44}}</string>
        <key>offset</key>
        <string>{0.5400000000000063,-17.64}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,66.6},{63.72,73.44}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (18)</key>
      <dict>
        <key>frame</key>
        <string>{{55.44,0},{61.199999999999996,74.16}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-16.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.8,65.52},{61.199999999999996,74.16}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,75.6},{57.599999999999994,74.52}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,-16.38000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57.239999999999995,64.8},{57.599999999999994,74.52}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{63.72,146.88},{63,69.84}}</string>
        <key>offset</key>
        <string>{0.5400000000000063,-19.440000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.72,70.2},{63,69.84}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{122.39999999999999,72},{61.199999999999996,68.75999999999999}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,-19.620000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.44,70.92},{61.199999999999996,68.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{181.44,0},{59.4,67.32}}</string>
        <key>offset</key>
        <string>{0.18000000000000682,-19.980000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.16,72},{59.4,67.32}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Assassin3_walk.png</string>
      <key>size</key>
      <string>{241,361}</string>
      <key>textureFileName</key>
      <string>Assassin3_walk</string>
    </dict>
  </dict>
</plist>
