<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Assassin1_poisoned (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{66.6,83.52}}</string>
        <key>offset</key>
        <string>{11.33999999999999,-30.960000000000008}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,79.2},{66.6,83.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,83.52},{65.16,82.44}}</string>
        <key>offset</key>
        <string>{11.700000000000003,-31.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{69.12,80.28},{65.16,82.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,165.96},{63.36,81.36}}</string>
        <key>offset</key>
        <string>{12.240000000000009,-32.03999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.56,81.36},{63.36,81.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,247.32},{61.919999999999995,80.28}}</string>
        <key>offset</key>
        <string>{12.959999999999994,-32.58}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{72,82.44},{61.919999999999995,80.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,327.59999999999997},{66.6,79.56}}</string>
        <key>offset</key>
        <string>{11.699999999999989,-32.94}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,83.16},{66.6,79.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (10)</key>
      <dict>
        <key>frame</key>
        <string>{{61.919999999999995,247.32},{65.52,79.56}}</string>
        <key>offset</key>
        <string>{11.519999999999982,-32.94}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.75999999999999,83.16},{65.52,79.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (12)</key>
      <dict>
        <key>frame</key>
        <string>{{63.36,165.96},{65.52,79.56}}</string>
        <key>offset</key>
        <string>{11.519999999999982,-32.94}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.75999999999999,83.16},{65.52,79.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (13)</key>
      <dict>
        <key>frame</key>
        <string>{{65.16,83.52},{64.08,79.2}}</string>
        <key>offset</key>
        <string>{11.52000000000001,-33.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{69.48,83.52},{64.08,79.2}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (9)</key>
      <dict>
        <key>frame</key>
        <string>{{66.6,0},{64.08,79.2}}</string>
        <key>offset</key>
        <string>{11.52000000000001,-33.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{69.48,83.52},{64.08,79.2}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (16)</key>
      <dict>
        <key>frame</key>
        <string>{{129.24,79.2},{61.919999999999995,79.2}}</string>
        <key>offset</key>
        <string>{12.599999999999994,-33.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{71.64,83.52},{61.919999999999995,79.2}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (14)</key>
      <dict>
        <key>frame</key>
        <string>{{130.68,0},{63.36,78.84}}</string>
        <key>offset</key>
        <string>{11.52000000000001,-33.3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{69.84,83.88},{63.36,78.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (8)</key>
      <dict>
        <key>frame</key>
        <string>{{129.24,158.4},{63.36,78.84}}</string>
        <key>offset</key>
        <string>{11.52000000000001,-33.3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{69.84,83.88},{63.36,78.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (15)</key>
      <dict>
        <key>frame</key>
        <string>{{191.16,78.84},{62.64,78.48}}</string>
        <key>offset</key>
        <string>{11.879999999999995,-33.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.56,84.24},{62.64,78.48}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (7)</key>
      <dict>
        <key>frame</key>
        <string>{{194.04,0},{62.64,78.48}}</string>
        <key>offset</key>
        <string>{11.879999999999995,-33.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.56,84.24},{62.64,78.48}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,407.15999999999997},{61.919999999999995,78.11999999999999}}</string>
        <key>offset</key>
        <string>{12.599999999999994,-33.66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{71.64,84.6},{61.919999999999995,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,485.28},{61.919999999999995,77.39999999999999}}</string>
        <key>offset</key>
        <string>{12.959999999999994,-34.01999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{72,85.32},{61.919999999999995,77.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,562.68},{63.36,76.67999999999999}}</string>
        <key>offset</key>
        <string>{12.240000000000009,-34.379999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.56,86.03999999999999},{63.36,76.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (3)</key>
      <dict>
        <key>frame</key>
        <string>{{61.919999999999995,407.15999999999997},{65.16,75.96}}</string>
        <key>offset</key>
        <string>{11.700000000000003,-34.73999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{69.12,86.75999999999999},{65.16,75.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (2)</key>
      <dict>
        <key>frame</key>
        <string>{{61.919999999999995,483.12},{66.6,74.88}}</string>
        <key>offset</key>
        <string>{11.33999999999999,-35.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,87.84},{66.6,74.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Assassin1_poisoned (1)</key>
      <dict>
        <key>frame</key>
        <string>{{66.6,326.88},{67.67999999999999,74.16}}</string>
        <key>offset</key>
        <string>{11.159999999999997,-35.64}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{67.32,88.56},{67.67999999999999,74.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Assassin1_poisoned.png</string>
      <key>size</key>
      <string>{257,639}</string>
      <key>textureFileName</key>
      <string>Assassin1_poisoned</string>
    </dict>
  </dict>
</plist>
