<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Assassin5_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{69.12,112.32}}</string>
        <key>offset</key>
        <string>{-14.579999999999998,-14.399999999999991}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,48.239999999999995},{69.12,112.32}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,112.32},{69.48,111.96}}</string>
        <key>offset</key>
        <string>{-14.400000000000006,-14.579999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,48.6},{69.48,111.96}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{69.12,0},{69.48,111.96}}</string>
        <key>offset</key>
        <string>{-14.400000000000006,-14.579999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,48.6},{69.48,111.96}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,224.28},{69.84,111.6}}</string>
        <key>offset</key>
        <string>{-14.219999999999999,-14.759999999999991}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,48.96},{69.84,111.6}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (17)</key>
      <dict>
        <key>frame</key>
        <string>{{69.48,111.96},{69.84,111.24}}</string>
        <key>offset</key>
        <string>{-14.219999999999999,-14.579999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,48.96},{69.84,111.24}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (15)</key>
      <dict>
        <key>frame</key>
        <string>{{138.6,0},{70.56,110.88}}</string>
        <key>offset</key>
        <string>{-13.86,-14.759999999999991}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,49.32},{70.56,110.88}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,335.88},{70.2,110.88}}</string>
        <key>offset</key>
        <string>{-14.039999999999992,-14.759999999999991}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,49.32},{70.2,110.88}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{69.84,223.2},{70.56,110.52}}</string>
        <key>offset</key>
        <string>{-13.86,-14.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,49.68},{70.56,110.52}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{139.32,110.88},{70.92,109.8}}</string>
        <key>offset</key>
        <string>{-13.680000000000007,-14.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,50.04},{70.92,109.8}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{209.16,0},{70.92,109.8}}</string>
        <key>offset</key>
        <string>{-13.680000000000007,-14.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,50.04},{70.92,109.8}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,446.76},{70.92,109.44}}</string>
        <key>offset</key>
        <string>{-13.680000000000007,-15.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,50.4},{70.92,109.44}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{139.32,110.88},{70.92,109.8}}</string>
        <key>offset</key>
        <string>{-13.680000000000007,-14.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,50.04},{70.92,109.8}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{209.16,0},{70.92,109.8}}</string>
        <key>offset</key>
        <string>{-13.680000000000007,-14.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,50.04},{70.92,109.8}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{69.84,223.2},{70.56,110.52}}</string>
        <key>offset</key>
        <string>{-13.86,-14.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,49.68},{70.56,110.52}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{138.6,0},{70.56,110.88}}</string>
        <key>offset</key>
        <string>{-13.86,-14.759999999999991}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,49.32},{70.56,110.88}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,335.88},{70.2,110.88}}</string>
        <key>offset</key>
        <string>{-14.039999999999992,-14.759999999999991}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,49.32},{70.2,110.88}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{69.48,111.96},{69.84,111.24}}</string>
        <key>offset</key>
        <string>{-14.219999999999999,-14.579999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,48.96},{69.84,111.24}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,224.28},{69.84,111.6}}</string>
        <key>offset</key>
        <string>{-14.219999999999999,-14.759999999999991}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,48.96},{69.84,111.6}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,112.32},{69.48,111.96}}</string>
        <key>offset</key>
        <string>{-14.400000000000006,-14.579999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,48.6},{69.48,111.96}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_walk (20)</key>
      <dict>
        <key>frame</key>
        <string>{{69.12,0},{69.48,111.96}}</string>
        <key>offset</key>
        <string>{-14.400000000000006,-14.579999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.8,48.6},{69.48,111.96}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Assassin5_walk.png</string>
      <key>size</key>
      <string>{280,556}</string>
      <key>textureFileName</key>
      <string>Assassin5_walk</string>
    </dict>
  </dict>
</plist>
