<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Assassin3_die (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{47.16,82.44}}</string>
        <key>offset</key>
        <string>{5.939999999999998,-13.86}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,58.32},{47.16,82.44}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,82.44},{47.519999999999996,82.08}}</string>
        <key>offset</key>
        <string>{6.839999999999989,-14.040000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.75999999999999,58.68},{47.519999999999996,82.08}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (9)</key>
      <dict>
        <key>frame</key>
        <string>{{47.16,0},{46.8,81}}</string>
        <key>offset</key>
        <string>{7.5600000000000165,-14.579999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{69.84,59.76},{46.8,81}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,164.51999999999998},{46.8,79.56}}</string>
        <key>offset</key>
        <string>{8.280000000000015,-15.299999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.56,61.199999999999996},{46.8,79.56}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,244.07999999999998},{50.76,77.39999999999999}}</string>
        <key>offset</key>
        <string>{6.659999999999997,-16.38000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66.96,63.36},{50.76,77.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (6)</key>
      <dict>
        <key>frame</key>
        <string>{{46.8,164.51999999999998},{54.72,75.6}}</string>
        <key>offset</key>
        <string>{5.400000000000006,-17.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{63.72,65.16},{54.72,75.6}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (12)</key>
      <dict>
        <key>frame</key>
        <string>{{47.519999999999996,81},{47.519999999999996,75.24}}</string>
        <key>offset</key>
        <string>{6.11999999999999,-17.459999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,65.52},{47.519999999999996,75.24}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (5)</key>
      <dict>
        <key>frame</key>
        <string>{{93.96,0},{57.599999999999994,74.88}}</string>
        <key>offset</key>
        <string>{3.9599999999999937,-17.64}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{60.839999999999996,65.88},{57.599999999999994,74.88}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (4)</key>
      <dict>
        <key>frame</key>
        <string>{{95.03999999999999,74.88},{60.48,74.52}}</string>
        <key>offset</key>
        <string>{2.8800000000000097,-17.820000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{58.32,66.24},{60.48,74.52}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (3)</key>
      <dict>
        <key>frame</key>
        <string>{{151.56,0},{62.64,73.8}}</string>
        <key>offset</key>
        <string>{1.7999999999999972,-18.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.16,66.96},{62.64,73.8}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,321.47999999999996},{64.08,72.72}}</string>
        <key>offset</key>
        <string>{1.0799999999999983,-18.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.72,68.03999999999999},{64.08,72.72}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (1)</key>
      <dict>
        <key>frame</key>
        <string>{{50.76,240.12},{64.8,72}}</string>
        <key>offset</key>
        <string>{0.7200000000000131,-19.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,68.75999999999999},{64.8,72}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (13)</key>
      <dict>
        <key>frame</key>
        <string>{{101.52,149.4},{47.16,68.03999999999999}}</string>
        <key>offset</key>
        <string>{5.939999999999998,-21.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,73.08},{47.16,68.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,394.2},{47.16,60.839999999999996}}</string>
        <key>offset</key>
        <string>{5.939999999999998,-25.38000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,80.64},{47.16,60.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,455.03999999999996},{48.6,53.64}}</string>
        <key>offset</key>
        <string>{5.579999999999998,-29.340000000000018}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66.96,88.2},{48.6,53.64}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (21)</key>
      <dict>
        <key>frame</key>
        <string>{{47.16,394.2},{48.96,49.68}}</string>
        <key>offset</key>
        <string>{4.680000000000007,-31.680000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65.88,92.52},{48.96,49.68}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (19)</key>
      <dict>
        <key>frame</key>
        <string>{{64.08,312.12},{49.32,48.96}}</string>
        <key>offset</key>
        <string>{4.859999999999999,-32.040000000000006}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{65.88,93.24},{49.32,48.96}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,508.68},{48.96,49.32}}</string>
        <key>offset</key>
        <string>{4.680000000000007,-31.86}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65.88,92.88},{48.96,49.32}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (18)</key>
      <dict>
        <key>frame</key>
        <string>{{48.6,443.88},{49.32,48.239999999999995}}</string>
        <key>offset</key>
        <string>{4.859999999999999,-32.39999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{65.88,93.96},{49.32,48.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (17)</key>
      <dict>
        <key>frame</key>
        <string>{{96.11999999999999,361.44},{49.32,47.519999999999996}}</string>
        <key>offset</key>
        <string>{4.859999999999999,-32.760000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{65.88,94.67999999999999},{49.32,47.519999999999996}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (16)</key>
      <dict>
        <key>frame</key>
        <string>{{113.03999999999999,312.12},{49.32,46.8}}</string>
        <key>offset</key>
        <string>{4.859999999999999,-33.11999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{65.88,95.39999999999999},{49.32,46.8}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (25)</key>
      <dict>
        <key>frame</key>
        <string>{{96.11999999999999,361.44},{49.32,47.519999999999996}}</string>
        <key>offset</key>
        <string>{4.859999999999999,-32.760000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{65.88,94.67999999999999},{49.32,47.519999999999996}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (24)</key>
      <dict>
        <key>frame</key>
        <string>{{48.6,443.88},{49.32,48.239999999999995}}</string>
        <key>offset</key>
        <string>{4.859999999999999,-32.39999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{65.88,93.96},{49.32,48.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (23)</key>
      <dict>
        <key>frame</key>
        <string>{{64.08,312.12},{49.32,48.96}}</string>
        <key>offset</key>
        <string>{4.859999999999999,-32.040000000000006}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{65.88,93.24},{49.32,48.96}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
      <key>Assassin3_die (22)</key>
      <dict>
        <key>frame</key>
        <string>{{0,508.68},{48.96,49.32}}</string>
        <key>offset</key>
        <string>{4.680000000000007,-31.86}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65.88,92.88},{48.96,49.32}}</string>
        <key>sourceSize</key>
        <string>{171.35999999999999,171.35999999999999}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Assassin3_die.png</string>
      <key>size</key>
      <string>{214,558}</string>
      <key>textureFileName</key>
      <string>Assassin3_die</string>
    </dict>
  </dict>
</plist>
