<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Assassin2_attack (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{45.36,66.6}}</string>
        <key>offset</key>
        <string>{7.740000000000009,-19.080000000000013}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,50.04},{45.36,66.6}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,66.6},{42.12,66.24}}</string>
        <key>offset</key>
        <string>{5.040000000000006,-19.260000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,50.4},{42.12,66.24}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,132.84},{46.08,65.52}}</string>
        <key>offset</key>
        <string>{7.02000000000001,-19.980000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,51.48},{46.08,65.52}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (5)</key>
      <dict>
        <key>frame</key>
        <string>{{42.12,66.6},{45,64.08}}</string>
        <key>offset</key>
        <string>{5.400000000000006,-20.700000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.16,52.919999999999995},{45,64.08}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (4)</key>
      <dict>
        <key>frame</key>
        <string>{{45.36,0},{42.12,62.64}}</string>
        <key>offset</key>
        <string>{3.240000000000009,-21.420000000000016}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,54.36},{42.12,62.64}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (9)</key>
      <dict>
        <key>frame</key>
        <string>{{87.11999999999999,62.64},{39.6,62.64}}</string>
        <key>offset</key>
        <string>{-0.8999999999999915,-21.420000000000016}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,54.36},{39.6,62.64}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (3)</key>
      <dict>
        <key>frame</key>
        <string>{{87.47999999999999,0},{42.12,61.559999999999995}}</string>
        <key>offset</key>
        <string>{2.160000000000011,-22.320000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45.36,55.8},{42.12,61.559999999999995}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,198.35999999999999},{41.04,60.12}}</string>
        <key>offset</key>
        <string>{0.9000000000000057,-23.040000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44.64,57.239999999999995},{41.04,60.12}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,258.48},{42.12,58.32}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,-23.940000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,59.04},{42.12,58.32}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (17)</key>
      <dict>
        <key>frame</key>
        <string>{{41.04,198.35999999999999},{42.839999999999996,57.96}}</string>
        <key>offset</key>
        <string>{0,-24.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,59.4},{42.839999999999996,57.96}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (10)</key>
      <dict>
        <key>frame</key>
        <string>{{46.08,130.68},{45.72,57.239999999999995}}</string>
        <key>offset</key>
        <string>{-2.8799999999999955,-24.480000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.519999999999996,60.12},{45.72,57.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,316.8},{44.64,57.239999999999995}}</string>
        <key>offset</key>
        <string>{-0.8999999999999915,-24.480000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.04,60.12},{44.64,57.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (15)</key>
      <dict>
        <key>frame</key>
        <string>{{42.12,256.32},{46.08,56.16}}</string>
        <key>offset</key>
        <string>{-1.6199999999999903,-25.02000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.6,61.199999999999996},{46.08,56.16}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (14)</key>
      <dict>
        <key>frame</key>
        <string>{{83.88,187.92},{47.879999999999995,55.08}}</string>
        <key>offset</key>
        <string>{-2.519999999999996,-25.560000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,62.28},{47.879999999999995,55.08}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (13)</key>
      <dict>
        <key>frame</key>
        <string>{{91.8,125.28},{49.32,53.28}}</string>
        <key>offset</key>
        <string>{-3.239999999999995,-26.460000000000008}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.36,64.08},{49.32,53.28}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (12)</key>
      <dict>
        <key>frame</key>
        <string>{{126.72,61.559999999999995},{50.76,51.839999999999996}}</string>
        <key>offset</key>
        <string>{-3.9599999999999937,-27.180000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34.92,65.52},{50.76,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
      <key>Assassin2_attack (11)</key>
      <dict>
        <key>frame</key>
        <string>{{141.12,0},{51.839999999999996,50.04}}</string>
        <key>offset</key>
        <string>{-4.5,-28.08}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{33.839999999999996,67.32},{51.839999999999996,50.04}}</string>
        <key>sourceSize</key>
        <string>{128.51999999999998,128.51999999999998}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Assassin2_attack.png</string>
      <key>size</key>
      <string>{191,374}</string>
      <key>textureFileName</key>
      <string>Assassin2_attack</string>
    </dict>
  </dict>
</plist>
