<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Assassin5_poisoned (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{59.76,126}}</string>
        <key>offset</key>
        <string>{-15.66000000000001,-7.560000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,34.56},{59.76,126}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{59.4,123.47999999999999}}</string>
        <key>offset</key>
        <string>{-15.840000000000003,-8.819999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,37.08},{59.4,123.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,249.48},{59.04,121.67999999999999}}</string>
        <key>offset</key>
        <string>{-16.02000000000001,-10.079999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,39.24},{59.04,121.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,371.15999999999997},{59.04,119.16}}</string>
        <key>offset</key>
        <string>{-16.02000000000001,-11.340000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,41.76},{59.04,119.16}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,490.32},{58.68,116.64}}</string>
        <key>offset</key>
        <string>{-16.200000000000003,-12.599999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,44.28},{58.68,116.64}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,606.9599999999999},{58.68,114.11999999999999}}</string>
        <key>offset</key>
        <string>{-16.200000000000003,-13.859999999999985}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,46.8},{58.68,114.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,721.0799999999999},{59.04,111.6}}</string>
        <key>offset</key>
        <string>{-16.02000000000001,-15.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,49.32},{59.04,111.6}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (13)</key>
      <dict>
        <key>frame</key>
        <string>{{58.68,490.32},{59.4,109.08}}</string>
        <key>offset</key>
        <string>{-15.840000000000003,-16.379999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,51.839999999999996},{59.4,109.08}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (12)</key>
      <dict>
        <key>frame</key>
        <string>{{58.68,599.4},{60.12,106.92}}</string>
        <key>offset</key>
        <string>{-15.480000000000004,-17.460000000000008}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,54},{60.12,106.92}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (1)</key>
      <dict>
        <key>frame</key>
        <string>{{118.8,599.4},{60.12,105.83999999999999}}</string>
        <key>offset</key>
        <string>{-15.480000000000004,-17.639999999999986}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,54.72},{60.12,105.83999999999999}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (2)</key>
      <dict>
        <key>frame</key>
        <string>{{59.04,249.48},{59.76,105.47999999999999}}</string>
        <key>offset</key>
        <string>{-15.66000000000001,-17.819999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,55.08},{59.76,105.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (3)</key>
      <dict>
        <key>frame</key>
        <string>{{59.4,126},{59.4,105.11999999999999}}</string>
        <key>offset</key>
        <string>{-15.840000000000003,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,55.44},{59.4,105.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (4)</key>
      <dict>
        <key>frame</key>
        <string>{{59.76,0},{59.04,105.11999999999999}}</string>
        <key>offset</key>
        <string>{-16.02000000000001,-18.359999999999985}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,55.8},{59.04,105.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (5)</key>
      <dict>
        <key>frame</key>
        <string>{{59.04,354.96},{59.04,104.75999999999999}}</string>
        <key>offset</key>
        <string>{-16.02000000000001,-18.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,56.16},{59.04,104.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (6)</key>
      <dict>
        <key>frame</key>
        <string>{{118.08,354.96},{58.68,104.75999999999999}}</string>
        <key>offset</key>
        <string>{-16.200000000000003,-18.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,56.16},{58.68,104.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (11)</key>
      <dict>
        <key>frame</key>
        <string>{{118.08,459.71999999999997},{60.48,104.39999999999999}}</string>
        <key>offset</key>
        <string>{-15.300000000000011,-18.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,56.519999999999996},{60.48,104.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,832.68},{58.68,104.39999999999999}}</string>
        <key>offset</key>
        <string>{-16.200000000000003,-18.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,56.519999999999996},{58.68,104.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,937.0799999999999},{59.04,104.03999999999999}}</string>
        <key>offset</key>
        <string>{-16.02000000000001,-18.89999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,56.879999999999995},{59.04,104.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (9)</key>
      <dict>
        <key>frame</key>
        <string>{{58.68,832.68},{59.4,103.67999999999999}}</string>
        <key>offset</key>
        <string>{-15.840000000000003,-19.079999999999984}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,57.239999999999995},{59.4,103.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
      <key>Assassin5_poisoned (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1041.12},{60.12,103.32}}</string>
        <key>offset</key>
        <string>{-15.480000000000004,-19.25999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,57.599999999999994},{60.12,103.32}}</string>
        <key>sourceSize</key>
        <string>{245.88,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Assassin5_poisoned.png</string>
      <key>size</key>
      <string>{179,1101}</string>
      <key>textureFileName</key>
      <string>Assassin5_poisoned</string>
    </dict>
  </dict>
</plist>
