<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant3_die (26)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130.32,46.44}}</string>
        <key>offset</key>
        <string>{17.28,-52.74000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.12,119.52},{130.32,46.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (16)</key>
      <dict>
        <key>frame</key>
        <string>{{130.32,0},{130.32,45.36}}</string>
        <key>offset</key>
        <string>{17.28,-52.19999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.12,119.52},{130.32,45.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (17)</key>
      <dict>
        <key>frame</key>
        <string>{{260.64,0},{129.96,45.36}}</string>
        <key>offset</key>
        <string>{17.460000000000008,-52.19999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.48,119.52},{129.96,45.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (25)</key>
      <dict>
        <key>frame</key>
        <string>{{390.59999999999997,0},{129.96,45.36}}</string>
        <key>offset</key>
        <string>{17.460000000000008,-52.19999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.48,119.52},{129.96,45.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (18)</key>
      <dict>
        <key>frame</key>
        <string>{{520.56,0},{129.6,45.36}}</string>
        <key>offset</key>
        <string>{17.639999999999986,-52.19999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,119.52},{129.6,45.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (12)</key>
      <dict>
        <key>frame</key>
        <string>{{650.16,0},{111.6,80.28}}</string>
        <key>offset</key>
        <string>{22.679999999999993,-34.739999999999995}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{56.879999999999995,84.6},{111.6,80.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (24)</key>
      <dict>
        <key>frame</key>
        <string>{{130.32,45.36},{129.6,45.36}}</string>
        <key>offset</key>
        <string>{17.639999999999986,-52.19999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,119.52},{129.6,45.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,46.44},{129.24,46.44}}</string>
        <key>offset</key>
        <string>{17.819999999999993,-51.66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,118.44},{129.24,46.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (23)</key>
      <dict>
        <key>frame</key>
        <string>{{259.92,45.36},{129.24,46.44}}</string>
        <key>offset</key>
        <string>{17.819999999999993,-51.66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,118.44},{129.24,46.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (20)</key>
      <dict>
        <key>frame</key>
        <string>{{129.24,90.72},{128.88,47.879999999999995}}</string>
        <key>offset</key>
        <string>{18,-50.94}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,117},{128.88,47.879999999999995}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (22)</key>
      <dict>
        <key>frame</key>
        <string>{{0,92.88},{128.88,47.879999999999995}}</string>
        <key>offset</key>
        <string>{18,-50.94}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,117},{128.88,47.879999999999995}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (21)</key>
      <dict>
        <key>frame</key>
        <string>{{389.15999999999997,45.36},{128.51999999999998,49.32}}</string>
        <key>offset</key>
        <string>{18.179999999999993,-50.22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.92,115.56},{128.51999999999998,49.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (15)</key>
      <dict>
        <key>frame</key>
        <string>{{258.12,91.8},{126.36,50.04}}</string>
        <key>offset</key>
        <string>{18.539999999999992,-49.859999999999985}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45.36,114.83999999999999},{126.36,50.04}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (1)</key>
      <dict>
        <key>frame</key>
        <string>{{128.88,138.6},{124.92,93.96}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-27.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.32,70.92},{124.92,93.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,140.76},{122.75999999999999,96.11999999999999}}</string>
        <key>offset</key>
        <string>{-3.4200000000000017,-26.819999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25.2,68.75999999999999},{122.75999999999999,96.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (3)</key>
      <dict>
        <key>frame</key>
        <string>{{517.68,45.36},{120.24,98.64}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-25.560000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.08,66.24},{120.24,98.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (9)</key>
      <dict>
        <key>frame</key>
        <string>{{637.92,111.6},{109.8,96.84}}</string>
        <key>offset</key>
        <string>{14.219999999999999,-26.459999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{49.32,68.03999999999999},{109.8,96.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (10)</key>
      <dict>
        <key>frame</key>
        <string>{{637.92,221.4},{110.88,93.24}}</string>
        <key>offset</key>
        <string>{18.359999999999985,-28.25999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{52.919999999999995,71.64},{110.88,93.24}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (14)</key>
      <dict>
        <key>frame</key>
        <string>{{384.47999999999996,94.67999999999999},{118.08,60.12}}</string>
        <key>offset</key>
        <string>{21.959999999999994,-44.81999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.919999999999995,104.75999999999999},{118.08,60.12}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (4)</key>
      <dict>
        <key>frame</key>
        <string>{{253.79999999999998,144},{117.36,100.08}}</string>
        <key>offset</key>
        <string>{0,-24.840000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.32,64.8},{117.36,100.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (5)</key>
      <dict>
        <key>frame</key>
        <string>{{122.75999999999999,232.56},{114.11999999999999,101.52}}</string>
        <key>offset</key>
        <string>{1.9799999999999898,-24.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34.92,63.36},{114.11999999999999,101.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,236.88},{112.67999999999999,70.2}}</string>
        <key>offset</key>
        <string>{23.579999999999984,-39.78}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57.239999999999995,94.67999999999999},{112.67999999999999,70.2}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,307.08},{111.24,101.88}}</string>
        <key>offset</key>
        <string>{3.780000000000001,-23.939999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.16,63},{111.24,101.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (11)</key>
      <dict>
        <key>frame</key>
        <string>{{502.56,144},{111.24,90.36}}</string>
        <key>offset</key>
        <string>{22.139999999999986,-29.69999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,74.52},{111.24,90.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (7)</key>
      <dict>
        <key>frame</key>
        <string>{{371.15999999999997,154.79999999999998},{108.72,101.52}}</string>
        <key>offset</key>
        <string>{6.1200000000000045,-24.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.76,63.36},{108.72,101.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (8)</key>
      <dict>
        <key>frame</key>
        <string>{{371.15999999999997,256.32},{108.36,99.72}}</string>
        <key>offset</key>
        <string>{9.539999999999992,-25.019999999999996}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45.36,65.16},{108.36,99.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (27)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130.32,46.44}}</string>
        <key>offset</key>
        <string>{17.28,-52.74000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.12,119.52},{130.32,46.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (28)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130.32,46.44}}</string>
        <key>offset</key>
        <string>{17.28,-52.74000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.12,119.52},{130.32,46.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (29)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130.32,46.44}}</string>
        <key>offset</key>
        <string>{17.28,-52.74000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.12,119.52},{130.32,46.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_die (30)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130.32,46.44}}</string>
        <key>offset</key>
        <string>{17.28,-52.74000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.12,119.52},{130.32,46.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant3_die.png</string>
      <key>size</key>
      <string>{735,409}</string>
      <key>textureFileName</key>
      <string>Combatant3_die</string>
    </dict>
  </dict>
</plist>
