<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant1_attack (22)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{127.8,124.92}}</string>
        <key>offset</key>
        <string>{-3.4200000000000017,-1.980000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.68,29.52},{127.8,124.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (23)</key>
      <dict>
        <key>frame</key>
        <string>{{127.8,0},{127.8,124.92}}</string>
        <key>offset</key>
        <string>{-3.4200000000000017,-1.980000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.68,29.52},{127.8,124.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (24)</key>
      <dict>
        <key>frame</key>
        <string>{{255.6,0},{127.8,124.92}}</string>
        <key>offset</key>
        <string>{-3.4200000000000017,-1.980000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.68,29.52},{127.8,124.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (25)</key>
      <dict>
        <key>frame</key>
        <string>{{383.4,0},{127.8,124.92}}</string>
        <key>offset</key>
        <string>{-3.4200000000000017,-1.980000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.68,29.52},{127.8,124.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (26)</key>
      <dict>
        <key>frame</key>
        <string>{{511.2,0},{127.8,124.92}}</string>
        <key>offset</key>
        <string>{-3.4200000000000017,-1.980000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.68,29.52},{127.8,124.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (2)</key>
      <dict>
        <key>frame</key>
        <string>{{639,0},{98.28,92.88}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.16,61.559999999999995},{98.28,92.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (33)</key>
      <dict>
        <key>frame</key>
        <string>{{639,92.88},{97.56,105.83999999999999}}</string>
        <key>offset</key>
        <string>{-1.6200000000000045,-11.519999999999996}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.6,48.6},{97.56,105.83999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (29)</key>
      <dict>
        <key>frame</key>
        <string>{{0,198.72},{92.16,121.67999999999999}}</string>
        <key>offset</key>
        <string>{10.079999999999998,-3.5999999999999943}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,32.76},{92.16,121.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,124.92},{73.44,90.36}}</string>
        <key>offset</key>
        <string>{-5.760000000000005,-19.25999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{47.519999999999996,64.08},{73.44,90.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (16)</key>
      <dict>
        <key>frame</key>
        <string>{{90.36,124.92},{70.2,90}}</string>
        <key>offset</key>
        <string>{0.18000000000000682,-19.439999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{55.08,64.44},{70.2,90}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (28)</key>
      <dict>
        <key>frame</key>
        <string>{{0,320.4},{90.36,121.32}}</string>
        <key>offset</key>
        <string>{13.14,-3.780000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57.96,33.12},{90.36,121.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (27)</key>
      <dict>
        <key>frame</key>
        <string>{{0,441.71999999999997},{92.88,119.52}}</string>
        <key>offset</key>
        <string>{14.039999999999992,-4.680000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57.599999999999994,34.92},{92.88,119.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (30)</key>
      <dict>
        <key>frame</key>
        <string>{{90.36,320.4},{92.52,119.52}}</string>
        <key>offset</key>
        <string>{7.739999999999995,-4.680000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51.48,34.92},{92.52,119.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (21)</key>
      <dict>
        <key>frame</key>
        <string>{{92.16,198.72},{82.8,119.16}}</string>
        <key>offset</key>
        <string>{7.560000000000002,-4.859999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.16,35.28},{82.8,119.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (31)</key>
      <dict>
        <key>frame</key>
        <string>{{174.95999999999998,198.72},{92.88,116.64}}</string>
        <key>offset</key>
        <string>{5.400000000000006,-6.1200000000000045}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.96,37.8},{92.88,116.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (17)</key>
      <dict>
        <key>frame</key>
        <string>{{180.35999999999999,124.92},{70.2,90}}</string>
        <key>offset</key>
        <string>{0.18000000000000682,-19.439999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{55.08,64.44},{70.2,90}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (9)</key>
      <dict>
        <key>frame</key>
        <string>{{270.36,124.92},{70.2,90}}</string>
        <key>offset</key>
        <string>{-3.780000000000001,-19.439999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51.12,64.44},{70.2,90}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (32)</key>
      <dict>
        <key>frame</key>
        <string>{{0,561.24},{93.24,111.96}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-8.459999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.08,42.48},{93.24,111.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,673.1999999999999},{63.72,88.92}}</string>
        <key>offset</key>
        <string>{-0.5400000000000063,-19.97999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{57.599999999999994,65.52},{63.72,88.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (20)</key>
      <dict>
        <key>frame</key>
        <string>{{92.88,439.91999999999996},{80.28,107.28}}</string>
        <key>offset</key>
        <string>{1.259999999999991,-10.799999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51.12,47.16},{80.28,107.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (35)</key>
      <dict>
        <key>frame</key>
        <string>{{93.24,547.1999999999999},{101.52,93.96}}</string>
        <key>offset</key>
        <string>{-8.280000000000001,-17.459999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{30.959999999999997,60.48},{101.52,93.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (12)</key>
      <dict>
        <key>frame</key>
        <string>{{173.16,648.72},{70.2,88.56}}</string>
        <key>offset</key>
        <string>{0.18000000000000682,-20.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.08,65.88},{70.2,88.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (5)</key>
      <dict>
        <key>frame</key>
        <string>{{243.35999999999999,648.72},{84.6,91.44}}</string>
        <key>offset</key>
        <string>{-10.620000000000005,-18.72}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{37.08,63},{84.6,91.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (19)</key>
      <dict>
        <key>frame</key>
        <string>{{334.8,648.72},{83.52,93.6}}</string>
        <key>offset</key>
        <string>{-4.680000000000007,-17.639999999999986}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,60.839999999999996},{83.52,93.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (1)</key>
      <dict>
        <key>frame</key>
        <string>{{173.16,439.91999999999996},{100.8,93.24}}</string>
        <key>offset</key>
        <string>{-10.439999999999998,-17.819999999999993}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{29.16,61.199999999999996},{100.8,93.24}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (34)</key>
      <dict>
        <key>frame</key>
        <string>{{187.2,540.72},{100.44,99}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-14.939999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{34.56,55.44},{100.44,99}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (3)</key>
      <dict>
        <key>frame</key>
        <string>{{182.88,315.36},{93.6,92.16}}</string>
        <key>offset</key>
        <string>{-11.52000000000001,-18.36}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{31.68,62.28},{93.6,92.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (18)</key>
      <dict>
        <key>frame</key>
        <string>{{267.84,198.72},{75.96,92.16}}</string>
        <key>offset</key>
        <string>{-3.780000000000001,-18.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,62.28},{75.96,92.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (4)</key>
      <dict>
        <key>frame</key>
        <string>{{266.4,408.96},{89.28,91.8}}</string>
        <key>offset</key>
        <string>{-11.159999999999997,-18.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34.199999999999996,62.64},{89.28,91.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (6)</key>
      <dict>
        <key>frame</key>
        <string>{{286.2,290.88},{80.28,91.08}}</string>
        <key>offset</key>
        <string>{-9.539999999999992,-18.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,63.36},{80.28,91.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (7)</key>
      <dict>
        <key>frame</key>
        <string>{{355.68,198.72},{77.03999999999999,90.72}}</string>
        <key>offset</key>
        <string>{-7.560000000000002,-19.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.92,63.72},{77.03999999999999,90.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (15)</key>
      <dict>
        <key>frame</key>
        <string>{{360.36,124.92},{70.2,89.64}}</string>
        <key>offset</key>
        <string>{0.18000000000000682,-19.620000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{55.08,64.8},{70.2,89.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (14)</key>
      <dict>
        <key>frame</key>
        <string>{{286.2,500.76},{70.2,89.28}}</string>
        <key>offset</key>
        <string>{0.18000000000000682,-19.799999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.08,65.16},{70.2,89.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (10)</key>
      <dict>
        <key>frame</key>
        <string>{{355.68,381.96},{66.24,89.28}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-19.799999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.08,65.16},{66.24,89.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_attack (13)</key>
      <dict>
        <key>frame</key>
        <string>{{366.47999999999996,289.44},{70.2,88.92}}</string>
        <key>offset</key>
        <string>{0.18000000000000682,-19.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.08,65.52},{70.2,88.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant1_attack.png</string>
      <key>size</key>
      <string>{737,737}</string>
      <key>textureFileName</key>
      <string>Combatant1_attack</string>
    </dict>
  </dict>
</plist>
