<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant2_attack (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{65.88,50.76}}</string>
        <key>offset</key>
        <string>{-2.8800000000000026,-19.800000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19.08,49.32},{65.88,50.76}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (12)</key>
      <dict>
        <key>frame</key>
        <string>{{65.88,0},{64.44,51.12}}</string>
        <key>offset</key>
        <string>{-3.240000000000002,-19.619999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19.439999999999998,48.96},{64.44,51.12}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,50.76},{63,51.48}}</string>
        <key>offset</key>
        <string>{-3.6000000000000014,-19.440000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19.8,48.6},{63,51.48}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (14)</key>
      <dict>
        <key>frame</key>
        <string>{{130.32,0},{61.199999999999996,51.839999999999996}}</string>
        <key>offset</key>
        <string>{-3.0600000000000023,-19.259999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21.24,48.239999999999995},{61.199999999999996,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (15)</key>
      <dict>
        <key>frame</key>
        <string>{{63,51.12},{60.12,51.839999999999996}}</string>
        <key>offset</key>
        <string>{-2.1600000000000037,-19.259999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.68,48.239999999999995},{60.12,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,102.24},{59.4,51.839999999999996}}</string>
        <key>offset</key>
        <string>{-1.0800000000000054,-19.259999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24.119999999999997,48.239999999999995},{59.4,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (10)</key>
      <dict>
        <key>frame</key>
        <string>{{191.51999999999998,0},{57.96,51.839999999999996}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,-19.259999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26.279999999999998,48.239999999999995},{57.96,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (17)</key>
      <dict>
        <key>frame</key>
        <string>{{249.48,0},{57.239999999999995,51.839999999999996}}</string>
        <key>offset</key>
        <string>{-7.105427357601002e-15,-19.259999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26.279999999999998,48.239999999999995},{57.239999999999995,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (1)</key>
      <dict>
        <key>frame</key>
        <string>{{306.71999999999997,0},{55.8,51.839999999999996}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-19.259999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27.72,48.239999999999995},{55.8,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (9)</key>
      <dict>
        <key>frame</key>
        <string>{{362.52,0},{39.6,55.8}}</string>
        <key>offset</key>
        <string>{9.54,-16.919999999999995}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{44.64,43.92},{39.6,55.8}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (5)</key>
      <dict>
        <key>frame</key>
        <string>{{418.32,0},{37.44,55.44}}</string>
        <key>offset</key>
        <string>{11.339999999999996,-17.1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{47.519999999999996,44.28},{37.44,55.44}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (4)</key>
      <dict>
        <key>frame</key>
        <string>{{473.76,0},{40.32,54}}</string>
        <key>offset</key>
        <string>{9.899999999999999,-17.82}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{44.64,45.72},{40.32,54}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (6)</key>
      <dict>
        <key>frame</key>
        <string>{{418.32,37.44},{37.08,54}}</string>
        <key>offset</key>
        <string>{11.880000000000003,-17.82}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,45.72},{37.08,54}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (2)</key>
      <dict>
        <key>frame</key>
        <string>{{362.52,40.32},{51.12,51.839999999999996}}</string>
        <key>offset</key>
        <string>{3.4199999999999946,-19.259999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{32.76,48.239999999999995},{51.12,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (3)</key>
      <dict>
        <key>frame</key>
        <string>{{123.11999999999999,51.839999999999996},{44.64,51.839999999999996}}</string>
        <key>offset</key>
        <string>{7.380000000000003,-19.259999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{39.96,48.239999999999995},{44.64,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (8)</key>
      <dict>
        <key>frame</key>
        <string>{{174.95999999999998,51.839999999999996},{36.36,51.48}}</string>
        <key>offset</key>
        <string>{12.600000000000001,-19.07999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{49.32,48.239999999999995},{36.36,51.48}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_attack (7)</key>
      <dict>
        <key>frame</key>
        <string>{{226.44,51.839999999999996},{36.36,50.76}}</string>
        <key>offset</key>
        <string>{12.600000000000001,-19.440000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{49.32,48.96},{36.36,50.76}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant2_attack.png</string>
      <key>size</key>
      <string>{528,154}</string>
      <key>textureFileName</key>
      <string>Combatant2_attack</string>
    </dict>
  </dict>
</plist>
