<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant4_freez (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{106.2,80.64}}</string>
        <key>offset</key>
        <string>{-4.140000000000001,-30.599999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,80.28},{106.2,80.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_freez (10)</key>
      <dict>
        <key>frame</key>
        <string>{{106.2,0},{104.75999999999999,81.72}}</string>
        <key>offset</key>
        <string>{-3.420000000000016,-30.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34.199999999999996,79.2},{104.75999999999999,81.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_freez (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,80.64},{103.67999999999999,82.8}}</string>
        <key>offset</key>
        <string>{-2.8799999999999955,-29.519999999999982}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,78.11999999999999},{103.67999999999999,82.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_freez (4)</key>
      <dict>
        <key>frame</key>
        <string>{{210.95999999999998,0},{102.24,83.88}}</string>
        <key>offset</key>
        <string>{-2.1599999999999966,-28.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,77.03999999999999},{102.24,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_freez (5)</key>
      <dict>
        <key>frame</key>
        <string>{{103.67999999999999,81.72},{100.8,84.6}}</string>
        <key>offset</key>
        <string>{-1.4399999999999977,-28.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.16,76.32},{100.8,84.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_freez (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,163.44},{99.36,85.67999999999999}}</string>
        <key>offset</key>
        <string>{-0.7199999999999989,-28.079999999999984}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.6,75.24},{99.36,85.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_freez (2)</key>
      <dict>
        <key>frame</key>
        <string>{{106.2,0},{104.75999999999999,81.72}}</string>
        <key>offset</key>
        <string>{-3.420000000000016,-30.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34.199999999999996,79.2},{104.75999999999999,81.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_freez (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,80.64},{103.67999999999999,82.8}}</string>
        <key>offset</key>
        <string>{-2.8799999999999955,-29.519999999999982}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,78.11999999999999},{103.67999999999999,82.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_freez (8)</key>
      <dict>
        <key>frame</key>
        <string>{{210.95999999999998,0},{102.24,83.88}}</string>
        <key>offset</key>
        <string>{-2.1599999999999966,-28.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,77.03999999999999},{102.24,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_freez (7)</key>
      <dict>
        <key>frame</key>
        <string>{{103.67999999999999,81.72},{100.8,84.6}}</string>
        <key>offset</key>
        <string>{-1.4399999999999977,-28.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.16,76.32},{100.8,84.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant4_freez.png</string>
      <key>size</key>
      <string>{313,249}</string>
      <key>textureFileName</key>
      <string>Combatant4_freez</string>
    </dict>
  </dict>
</plist>
