<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant4_die (22)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{116.64,76.67999999999999}}</string>
        <key>offset</key>
        <string>{9.36,-32.94}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.04,84.6},{116.64,76.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (19)</key>
      <dict>
        <key>frame</key>
        <string>{{116.64,0},{115.56,84.24}}</string>
        <key>offset</key>
        <string>{20.69999999999999,-28.799999999999983}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.919999999999995,76.67999999999999},{115.56,84.24}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,76.67999999999999},{114.83999999999999,85.32}}</string>
        <key>offset</key>
        <string>{23.22,-28.25999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.8,75.6},{114.83999999999999,85.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (20)</key>
      <dict>
        <key>frame</key>
        <string>{{232.2,0},{114.47999999999999,82.08}}</string>
        <key>offset</key>
        <string>{18.359999999999985,-29.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51.12,78.84},{114.47999999999999,82.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (23)</key>
      <dict>
        <key>frame</key>
        <string>{{346.68,0},{114.47999999999999,74.16}}</string>
        <key>offset</key>
        <string>{5.039999999999992,-34.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,87.84},{114.47999999999999,74.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (21)</key>
      <dict>
        <key>frame</key>
        <string>{{461.15999999999997,0},{113.03999999999999,79.2}}</string>
        <key>offset</key>
        <string>{16.560000000000002,-31.319999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50.04,81.72},{113.03999999999999,79.2}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (17)</key>
      <dict>
        <key>frame</key>
        <string>{{346.68,74.16},{112.32,85.67999999999999}}</string>
        <key>offset</key>
        <string>{25.919999999999987,-28.079999999999984}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{59.76,75.24},{112.32,85.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (24)</key>
      <dict>
        <key>frame</key>
        <string>{{232.2,82.08},{109.8,71.64}}</string>
        <key>offset</key>
        <string>{1.9799999999999898,-36.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.08,91.08},{109.8,71.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (8)</key>
      <dict>
        <key>frame</key>
        <string>{{114.83999999999999,84.24},{109.08,84.24}}</string>
        <key>offset</key>
        <string>{18.900000000000006,-28.799999999999983}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,76.67999999999999},{109.08,84.24}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,162},{108.72,84.96}}</string>
        <key>offset</key>
        <string>{25.560000000000002,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61.199999999999996,75.96},{108.72,84.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (11)</key>
      <dict>
        <key>frame</key>
        <string>{{223.92,153.72},{108.72,84.96}}</string>
        <key>offset</key>
        <string>{28.799999999999997,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64.44,75.96},{108.72,84.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (9)</key>
      <dict>
        <key>frame</key>
        <string>{{108.72,168.48},{108.72,84.6}}</string>
        <key>offset</key>
        <string>{22.319999999999993,-28.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57.96,76.32},{108.72,84.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,246.95999999999998},{108.72,83.88}}</string>
        <key>offset</key>
        <string>{15.47999999999999,-28.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51.12,77.03999999999999},{108.72,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (6)</key>
      <dict>
        <key>frame</key>
        <string>{{574.1999999999999,0},{108.72,83.52}}</string>
        <key>offset</key>
        <string>{12.239999999999995,-29.159999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.879999999999995,77.39999999999999},{108.72,83.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (5)</key>
      <dict>
        <key>frame</key>
        <string>{{459,79.2},{108.36,82.8}}</string>
        <key>offset</key>
        <string>{8.819999999999993,-29.519999999999982}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44.64,78.11999999999999},{108.36,82.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (4)</key>
      <dict>
        <key>frame</key>
        <string>{{459,162},{108.36,82.44}}</string>
        <key>offset</key>
        <string>{5.579999999999998,-29.700000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.4,78.48},{108.36,82.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (3)</key>
      <dict>
        <key>frame</key>
        <string>{{332.64,159.84},{107.64,81.72}}</string>
        <key>offset</key>
        <string>{2.3400000000000034,-30.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.519999999999996,79.2},{107.64,81.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (2)</key>
      <dict>
        <key>frame</key>
        <string>{{217.44,238.67999999999998},{106.92,81}}</string>
        <key>offset</key>
        <string>{-0.9000000000000057,-30.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,79.92},{106.92,81}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (1)</key>
      <dict>
        <key>frame</key>
        <string>{{108.72,253.07999999999998},{106.2,80.64}}</string>
        <key>offset</key>
        <string>{-4.140000000000001,-30.599999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,80.28},{106.2,80.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (25)</key>
      <dict>
        <key>frame</key>
        <string>{{0,330.84},{101.52,78.11999999999999}}</string>
        <key>offset</key>
        <string>{1.4399999999999977,-34.379999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.68,85.32},{101.52,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (36)</key>
      <dict>
        <key>frame</key>
        <string>{{324.36,241.56},{95.75999999999999,79.92}}</string>
        <key>offset</key>
        <string>{-1.4399999999999977,-37.44}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.68,87.47999999999999},{95.75999999999999,79.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (26)</key>
      <dict>
        <key>frame</key>
        <string>{{214.92,319.68},{94.32,85.32}}</string>
        <key>offset</key>
        <string>{4.319999999999993,-31.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.16,78.84},{94.32,85.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (27)</key>
      <dict>
        <key>frame</key>
        <string>{{214.92,405},{92.88,83.88}}</string>
        <key>offset</key>
        <string>{4.679999999999993,-32.58}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,80.64},{92.88,83.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (35)</key>
      <dict>
        <key>frame</key>
        <string>{{101.52,333.71999999999997},{92.52,79.56}}</string>
        <key>offset</key>
        <string>{0.18000000000000682,-37.620000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.92,87.84},{92.52,79.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (28)</key>
      <dict>
        <key>frame</key>
        <string>{{0,408.96},{90.72,82.08}}</string>
        <key>offset</key>
        <string>{4.680000000000007,-34.19999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,83.16},{90.72,82.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (34)</key>
      <dict>
        <key>frame</key>
        <string>{{90.72,413.28},{89.64,78.48}}</string>
        <key>offset</key>
        <string>{1.6200000000000045,-38.16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.8,88.92},{89.64,78.48}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (29)</key>
      <dict>
        <key>frame</key>
        <string>{{0,491.03999999999996},{87.11999999999999,79.92}}</string>
        <key>offset</key>
        <string>{4.679999999999993,-36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51.12,86.03999999999999},{87.11999999999999,79.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (30)</key>
      <dict>
        <key>frame</key>
        <string>{{0,570.9599999999999},{87.11999999999999,77.03999999999999}}</string>
        <key>offset</key>
        <string>{3.5999999999999943,-38.16}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{50.04,89.64},{87.11999999999999,77.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (33)</key>
      <dict>
        <key>frame</key>
        <string>{{0,658.0799999999999},{86.75999999999999,77.39999999999999}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-38.69999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,90},{86.75999999999999,77.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (32)</key>
      <dict>
        <key>frame</key>
        <string>{{77.03999999999999,570.9599999999999},{86.75999999999999,75.96}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-39.41999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{49.32,91.44},{86.75999999999999,75.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (31)</key>
      <dict>
        <key>frame</key>
        <string>{{87.11999999999999,491.76},{86.75999999999999,74.52}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-40.139999999999986}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,92.88},{86.75999999999999,74.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (12)</key>
      <dict>
        <key>frame</key>
        <string>{{223.92,153.72},{108.72,84.96}}</string>
        <key>offset</key>
        <string>{28.799999999999997,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64.44,75.96},{108.72,84.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (13)</key>
      <dict>
        <key>frame</key>
        <string>{{223.92,153.72},{108.72,84.96}}</string>
        <key>offset</key>
        <string>{28.799999999999997,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64.44,75.96},{108.72,84.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (14)</key>
      <dict>
        <key>frame</key>
        <string>{{223.92,153.72},{108.72,84.96}}</string>
        <key>offset</key>
        <string>{28.799999999999997,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64.44,75.96},{108.72,84.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (15)</key>
      <dict>
        <key>frame</key>
        <string>{{223.92,153.72},{108.72,84.96}}</string>
        <key>offset</key>
        <string>{28.799999999999997,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64.44,75.96},{108.72,84.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (16)</key>
      <dict>
        <key>frame</key>
        <string>{{223.92,153.72},{108.72,84.96}}</string>
        <key>offset</key>
        <string>{28.799999999999997,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64.44,75.96},{108.72,84.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (41)</key>
      <dict>
        <key>frame</key>
        <string>{{87.11999999999999,491.76},{86.75999999999999,74.52}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-40.139999999999986}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,92.88},{86.75999999999999,74.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (42)</key>
      <dict>
        <key>frame</key>
        <string>{{87.11999999999999,491.76},{86.75999999999999,74.52}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-40.139999999999986}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,92.88},{86.75999999999999,74.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (43)</key>
      <dict>
        <key>frame</key>
        <string>{{87.11999999999999,491.76},{86.75999999999999,74.52}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-40.139999999999986}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,92.88},{86.75999999999999,74.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (44)</key>
      <dict>
        <key>frame</key>
        <string>{{87.11999999999999,491.76},{86.75999999999999,74.52}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-40.139999999999986}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,92.88},{86.75999999999999,74.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (45)</key>
      <dict>
        <key>frame</key>
        <string>{{87.11999999999999,491.76},{86.75999999999999,74.52}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-40.139999999999986}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,92.88},{86.75999999999999,74.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (40)</key>
      <dict>
        <key>frame</key>
        <string>{{77.03999999999999,570.9599999999999},{86.75999999999999,75.96}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-39.41999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{49.32,91.44},{86.75999999999999,75.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (39)</key>
      <dict>
        <key>frame</key>
        <string>{{0,658.0799999999999},{86.75999999999999,77.39999999999999}}</string>
        <key>offset</key>
        <string>{2.6999999999999886,-38.69999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,90},{86.75999999999999,77.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (38)</key>
      <dict>
        <key>frame</key>
        <string>{{90.72,413.28},{89.64,78.48}}</string>
        <key>offset</key>
        <string>{1.6200000000000045,-38.16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.8,88.92},{89.64,78.48}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_die (37)</key>
      <dict>
        <key>frame</key>
        <string>{{101.52,333.71999999999997},{92.52,79.56}}</string>
        <key>offset</key>
        <string>{0.18000000000000682,-37.620000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.92,87.84},{92.52,79.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant4_die.png</string>
      <key>size</key>
      <string>{683,735}</string>
      <key>textureFileName</key>
      <string>Combatant4_die</string>
    </dict>
  </dict>
</plist>
