<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant1_freez (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{98.28,92.88}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.16,61.559999999999995},{98.28,92.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_freez (10)</key>
      <dict>
        <key>frame</key>
        <string>{{98.28,0},{98.28,92.52}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-18.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.16,61.919999999999995},{98.28,92.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_freez (3)</key>
      <dict>
        <key>frame</key>
        <string>{{196.56,0},{98.28,92.52}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-18.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.16,61.919999999999995},{98.28,92.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_freez (4)</key>
      <dict>
        <key>frame</key>
        <string>{{294.84,0},{98.28,92.16}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-18.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.16,62.28},{98.28,92.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_freez (5)</key>
      <dict>
        <key>frame</key>
        <string>{{393.12,0},{98.28,92.16}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-18.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.16,62.28},{98.28,92.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_freez (6)</key>
      <dict>
        <key>frame</key>
        <string>{{491.4,0},{98.28,91.8}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-18.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.16,62.64},{98.28,91.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_freez (2)</key>
      <dict>
        <key>frame</key>
        <string>{{98.28,0},{98.28,92.52}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-18.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.16,61.919999999999995},{98.28,92.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_freez (9)</key>
      <dict>
        <key>frame</key>
        <string>{{196.56,0},{98.28,92.52}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-18.179999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.16,61.919999999999995},{98.28,92.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_freez (8)</key>
      <dict>
        <key>frame</key>
        <string>{{294.84,0},{98.28,92.16}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-18.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.16,62.28},{98.28,92.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant1_freez (7)</key>
      <dict>
        <key>frame</key>
        <string>{{393.12,0},{98.28,92.16}}</string>
        <key>offset</key>
        <string>{-11.700000000000003,-18.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.16,62.28},{98.28,92.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant1_freez.png</string>
      <key>size</key>
      <string>{590,93}</string>
      <key>textureFileName</key>
      <string>Combatant1_freez</string>
    </dict>
  </dict>
</plist>
