<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant4_attack (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{162,108.36}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,-15.299999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9.36,51.12},{162,108.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (16)</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{158.04,110.16}}</string>
        <key>offset</key>
        <string>{2.3400000000000034,-16.19999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13.32,51.12},{158.04,110.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,108.36},{153,115.19999999999999}}</string>
        <key>offset</key>
        <string>{4.859999999999999,-12.239999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18.36,44.64},{153,115.19999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (18)</key>
      <dict>
        <key>frame</key>
        <string>{{320.03999999999996,0},{153,108.72}}</string>
        <key>offset</key>
        <string>{4.859999999999999,-15.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18.36,51.12},{153,108.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (19)</key>
      <dict>
        <key>frame</key>
        <string>{{473.03999999999996,0},{153,108.72}}</string>
        <key>offset</key>
        <string>{4.859999999999999,-15.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18.36,51.12},{153,108.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (21)</key>
      <dict>
        <key>frame</key>
        <string>{{626.04,0},{93.24,110.88}}</string>
        <key>offset</key>
        <string>{14.219999999999999,-14.759999999999991}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{57.599999999999994,49.32},{93.24,110.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (23)</key>
      <dict>
        <key>frame</key>
        <string>{{626.04,93.24},{90.36,110.88}}</string>
        <key>offset</key>
        <string>{11.340000000000003,-15.120000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{56.16,49.68},{90.36,110.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (15)</key>
      <dict>
        <key>frame</key>
        <string>{{320.03999999999996,108.72},{120.96,88.92}}</string>
        <key>offset</key>
        <string>{-15.840000000000003,-25.02000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13.68,70.56},{120.96,88.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (13)</key>
      <dict>
        <key>frame</key>
        <string>{{153,110.16},{82.08,113.75999999999999}}</string>
        <key>offset</key>
        <string>{5.759999999999991,-12.959999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{54.72,46.08},{82.08,113.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (22)</key>
      <dict>
        <key>frame</key>
        <string>{{153,192.23999999999998},{93.6,112.32}}</string>
        <key>offset</key>
        <string>{11.879999999999995,-14.039999999999992}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{55.08,47.879999999999995},{93.6,112.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,223.56},{81.72,107.64}}</string>
        <key>offset</key>
        <string>{10.620000000000005,-16.739999999999995}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{59.76,52.919999999999995},{81.72,107.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (6)</key>
      <dict>
        <key>frame</key>
        <string>{{441,108.72},{81.36,106.92}}</string>
        <key>offset</key>
        <string>{11.519999999999996,-17.099999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{60.839999999999996,53.64},{81.36,106.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (12)</key>
      <dict>
        <key>frame</key>
        <string>{{547.92,108.72},{74.88,98.28}}</string>
        <key>offset</key>
        <string>{17.64,-20.69999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,61.559999999999995},{74.88,98.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (14)</key>
      <dict>
        <key>frame</key>
        <string>{{441,190.07999999999998},{92.16,106.2}}</string>
        <key>offset</key>
        <string>{-6.1200000000000045,-16.74000000000001}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{37.8,53.64},{92.16,106.2}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (1)</key>
      <dict>
        <key>frame</key>
        <string>{{622.8,183.6},{106.2,80.64}}</string>
        <key>offset</key>
        <string>{-4.140000000000001,-30.599999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,80.28},{106.2,80.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (9)</key>
      <dict>
        <key>frame</key>
        <string>{{547.1999999999999,207},{74.88,88.92}}</string>
        <key>offset</key>
        <string>{24.83999999999999,-25.74000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77.39999999999999,71.28},{74.88,88.92}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (4)</key>
      <dict>
        <key>frame</key>
        <string>{{622.0799999999999,264.24},{78.84,105.83999999999999}}</string>
        <key>offset</key>
        <string>{10.620000000000005,-17.639999999999986}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{61.199999999999996,54.72},{78.84,105.83999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (8)</key>
      <dict>
        <key>frame</key>
        <string>{{547.1999999999999,295.92},{73.8,97.2}}</string>
        <key>offset</key>
        <string>{16.74000000000001,-21.599999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{69.84,63},{73.8,97.2}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (24)</key>
      <dict>
        <key>frame</key>
        <string>{{621,343.08},{95.75999999999999,103.67999999999999}}</string>
        <key>offset</key>
        <string>{6.47999999999999,-18.72}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.6,56.879999999999995},{95.75999999999999,103.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (25)</key>
      <dict>
        <key>frame</key>
        <string>{{265.32,197.64},{102.6,91.8}}</string>
        <key>offset</key>
        <string>{0.539999999999992,-24.659999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.24,68.75999999999999},{102.6,91.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (11)</key>
      <dict>
        <key>frame</key>
        <string>{{367.91999999999996,197.64},{71.64,90.72}}</string>
        <key>offset</key>
        <string>{30.78,-24.840000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84.96,69.48},{71.64,90.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (7)</key>
      <dict>
        <key>frame</key>
        <string>{{439.56,282.24},{78.48,102.6}}</string>
        <key>offset</key>
        <string>{13.319999999999993,-19.25999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{64.08,57.96},{78.48,102.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (10)</key>
      <dict>
        <key>frame</key>
        <string>{{367.91999999999996,288.36},{70.92,87.84}}</string>
        <key>offset</key>
        <string>{30.78,-26.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85.32,72.36},{70.92,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (3)</key>
      <dict>
        <key>frame</key>
        <string>{{438.84,360.71999999999997},{89.64,99.36}}</string>
        <key>offset</key>
        <string>{3.780000000000001,-20.879999999999995}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.96,61.199999999999996},{89.64,99.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_attack (2)</key>
      <dict>
        <key>frame</key>
        <string>{{107.64,285.84},{97.2,89.64}}</string>
        <key>offset</key>
        <string>{-1.4399999999999977,-25.74000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.96,70.92},{97.2,89.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant4_attack.png</string>
      <key>size</key>
      <string>{737,450}</string>
      <key>textureFileName</key>
      <string>Combatant4_attack</string>
    </dict>
  </dict>
</plist>
