<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant2_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{57.96,51.839999999999996}}</string>
        <key>offset</key>
        <string>{0,-18.9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25.919999999999998,47.879999999999995},{57.96,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{57.96,0},{57.96,51.839999999999996}}</string>
        <key>offset</key>
        <string>{0,-18.9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25.919999999999998,47.879999999999995},{57.96,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{115.92,0},{57.599999999999994,52.199999999999996}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,-18.71999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26.279999999999998,47.519999999999996},{57.599999999999994,52.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,51.839999999999996},{57.599999999999994,52.199999999999996}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,-19.07999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26.279999999999998,47.879999999999995},{57.599999999999994,52.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{57.599999999999994,51.839999999999996},{57.599999999999994,52.199999999999996}}</string>
        <key>offset</key>
        <string>{0.17999999999999972,-19.07999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26.279999999999998,47.879999999999995},{57.599999999999994,52.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{173.51999999999998,0},{56.16,51.839999999999996}}</string>
        <key>offset</key>
        <string>{0.5399999999999991,-19.259999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27.36,48.239999999999995},{56.16,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{229.67999999999998,0},{56.16,51.839999999999996}}</string>
        <key>offset</key>
        <string>{0.5399999999999991,-19.259999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27.36,48.239999999999995},{56.16,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{285.84,0},{55.8,51.839999999999996}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-19.259999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27.72,48.239999999999995},{55.8,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{341.64,0},{54.36,51.839999999999996}}</string>
        <key>offset</key>
        <string>{1.4400000000000048,-19.259999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.16,48.239999999999995},{54.36,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{53.64,51.839999999999996}}</string>
        <key>offset</key>
        <string>{1.8000000000000043,-19.259999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.88,48.239999999999995},{53.64,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{449.64,0},{51.839999999999996,52.199999999999996}}</string>
        <key>offset</key>
        <string>{2.6999999999999957,-19.07999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{31.68,47.879999999999995},{51.839999999999996,52.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{501.84,0},{50.76,52.199999999999996}}</string>
        <key>offset</key>
        <string>{3.240000000000002,-19.07999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{32.76,47.879999999999995},{50.76,52.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{554.04,0},{48.6,52.199999999999996}}</string>
        <key>offset</key>
        <string>{4.32,-18.71999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{34.92,47.519999999999996},{48.6,52.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{606.24,0},{47.519999999999996,52.199999999999996}}</string>
        <key>offset</key>
        <string>{4.859999999999999,-18.71999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{36,47.519999999999996},{47.519999999999996,52.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant2_walk.png</string>
      <key>size</key>
      <string>{658,104}</string>
      <key>textureFileName</key>
      <string>Combatant2_walk</string>
    </dict>
  </dict>
</plist>
