<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant4_poisoned (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108.36,81.72}}</string>
        <key>offset</key>
        <string>{-3.4200000000000017,-30.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,79.2},{108.36,81.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (10)</key>
      <dict>
        <key>frame</key>
        <string>{{108.36,0},{108,81.72}}</string>
        <key>offset</key>
        <string>{-3.5999999999999943,-30.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,79.2},{108,81.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (12)</key>
      <dict>
        <key>frame</key>
        <string>{{216.35999999999999,0},{108,81.72}}</string>
        <key>offset</key>
        <string>{-3.5999999999999943,-30.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.4,79.2},{108,81.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (13)</key>
      <dict>
        <key>frame</key>
        <string>{{324.36,0},{108,81.72}}</string>
        <key>offset</key>
        <string>{-3.960000000000008,-30.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,79.2},{108,81.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (9)</key>
      <dict>
        <key>frame</key>
        <string>{{432.35999999999996,0},{108,81.72}}</string>
        <key>offset</key>
        <string>{-3.960000000000008,-30.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,79.2},{108,81.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (14)</key>
      <dict>
        <key>frame</key>
        <string>{{540.36,0},{107.64,82.08}}</string>
        <key>offset</key>
        <string>{-4.140000000000001,-29.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,78.84},{107.64,82.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (8)</key>
      <dict>
        <key>frame</key>
        <string>{{648,0},{107.64,82.08}}</string>
        <key>offset</key>
        <string>{-4.140000000000001,-29.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,78.84},{107.64,82.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (15)</key>
      <dict>
        <key>frame</key>
        <string>{{755.64,0},{107.28,82.08}}</string>
        <key>offset</key>
        <string>{-4.319999999999993,-29.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,78.84},{107.28,82.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (7)</key>
      <dict>
        <key>frame</key>
        <string>{{862.92,0},{107.28,82.08}}</string>
        <key>offset</key>
        <string>{-4.319999999999993,-29.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,78.84},{107.28,82.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (16)</key>
      <dict>
        <key>frame</key>
        <string>{{970.1999999999999,0},{106.92,82.08}}</string>
        <key>offset</key>
        <string>{-4.5,-29.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,78.84},{106.92,82.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,81.72},{106.92,82.08}}</string>
        <key>offset</key>
        <string>{-4.5,-29.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,78.84},{106.92,82.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (17)</key>
      <dict>
        <key>frame</key>
        <string>{{106.92,81.72},{106.2,83.16}}</string>
        <key>offset</key>
        <string>{-4.859999999999999,-29.33999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,77.75999999999999},{106.2,83.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,163.79999999999998},{106.2,82.08}}</string>
        <key>offset</key>
        <string>{-4.859999999999999,-29.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,78.84},{106.2,82.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (18)</key>
      <dict>
        <key>frame</key>
        <string>{{213.12,81.72},{105.83999999999999,84.96}}</string>
        <key>offset</key>
        <string>{-5.040000000000006,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,75.96},{105.83999999999999,84.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (4)</key>
      <dict>
        <key>frame</key>
        <string>{{106.2,164.88},{105.83999999999999,82.08}}</string>
        <key>offset</key>
        <string>{-5.040000000000006,-29.879999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,78.84},{105.83999999999999,82.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,245.88},{105.47999999999999,87.11999999999999}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-27.359999999999985}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,73.8},{105.47999999999999,87.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (3)</key>
      <dict>
        <key>frame</key>
        <string>{{318.96,81.72},{105.47999999999999,81.72}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-30.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,79.2},{105.47999999999999,81.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (20)</key>
      <dict>
        <key>frame</key>
        <string>{{424.44,81.72},{105.11999999999999,89.28}}</string>
        <key>offset</key>
        <string>{-5.400000000000006,-26.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,71.64},{105.11999999999999,89.28}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (2)</key>
      <dict>
        <key>frame</key>
        <string>{{318.96,163.44},{105.11999999999999,81.72}}</string>
        <key>offset</key>
        <string>{-5.400000000000006,-30.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,79.2},{105.11999999999999,81.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant4_poisoned (1)</key>
      <dict>
        <key>frame</key>
        <string>{{212.04,166.68},{104.75999999999999,81.72}}</string>
        <key>offset</key>
        <string>{-5.5800000000000125,-30.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.04,79.2},{104.75999999999999,81.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant4_poisoned.png</string>
      <key>size</key>
      <string>{1077,333}</string>
      <key>textureFileName</key>
      <string>Combatant4_poisoned</string>
    </dict>
  </dict>
</plist>
