<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant5_poisoned (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{117.36,97.2}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-25.19999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,66.6},{117.36,97.2}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (19)</key>
      <dict>
        <key>frame</key>
        <string>{{117.36,0},{117.36,95.39999999999999}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-26.099999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,68.39999999999999},{117.36,95.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (18)</key>
      <dict>
        <key>frame</key>
        <string>{{234.72,0},{117.36,93.6}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,70.2},{117.36,93.6}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (1)</key>
      <dict>
        <key>frame</key>
        <string>{{352.08,0},{117.36,93.24}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.180000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,70.56},{117.36,93.24}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (2)</key>
      <dict>
        <key>frame</key>
        <string>{{469.44,0},{117.36,93.24}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.180000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,70.56},{117.36,93.24}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (3)</key>
      <dict>
        <key>frame</key>
        <string>{{586.8,0},{117.36,92.88}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,70.92},{117.36,92.88}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (4)</key>
      <dict>
        <key>frame</key>
        <string>{{704.16,0},{117.36,92.88}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,70.92},{117.36,92.88}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (15)</key>
      <dict>
        <key>frame</key>
        <string>{{821.52,0},{117.36,92.52}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,71.28},{117.36,92.52}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (16)</key>
      <dict>
        <key>frame</key>
        <string>{{938.88,0},{117.36,92.52}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,71.28},{117.36,92.52}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (17)</key>
      <dict>
        <key>frame</key>
        <string>{{821.52,92.52},{117.36,92.52}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,71.28},{117.36,92.52}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (5)</key>
      <dict>
        <key>frame</key>
        <string>{{938.88,92.52},{117.36,92.52}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,71.28},{117.36,92.52}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (6)</key>
      <dict>
        <key>frame</key>
        <string>{{586.8,92.88},{117.36,92.52}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,71.28},{117.36,92.52}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (7)</key>
      <dict>
        <key>frame</key>
        <string>{{704.16,92.88},{117.36,92.52}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,71.28},{117.36,92.52}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (13)</key>
      <dict>
        <key>frame</key>
        <string>{{352.08,93.24},{117.36,92.16}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,71.64},{117.36,92.16}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (14)</key>
      <dict>
        <key>frame</key>
        <string>{{234.72,93.6},{117.36,92.16}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,71.64},{117.36,92.16}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (8)</key>
      <dict>
        <key>frame</key>
        <string>{{117.36,95.39999999999999},{117.36,92.16}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,71.64},{117.36,92.16}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,97.2},{117.36,92.16}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,71.64},{117.36,92.16}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (10)</key>
      <dict>
        <key>frame</key>
        <string>{{469.44,93.24},{117.36,91.8}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,72},{117.36,91.8}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (11)</key>
      <dict>
        <key>frame</key>
        <string>{{469.44,185.04},{117.36,91.8}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,72},{117.36,91.8}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_poisoned (12)</key>
      <dict>
        <key>frame</key>
        <string>{{352.08,185.4},{117.36,91.8}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-27.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70.2,72},{117.36,91.8}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant5_poisoned.png</string>
      <key>size</key>
      <string>{1056,277}</string>
      <key>textureFileName</key>
      <string>Combatant5_poisoned</string>
    </dict>
  </dict>
</plist>
