<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant5_die (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{87.84,136.44}}</string>
        <key>offset</key>
        <string>{45.71999999999997,-4.859999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{132.48,26.64},{87.84,136.44}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,136.44},{85.67999999999999,136.44}}</string>
        <key>offset</key>
        <string>{45,-4.859999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{132.84,26.64},{85.67999999999999,136.44}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,272.88},{89.64,136.07999999999998}}</string>
        <key>offset</key>
        <string>{40.859999999999985,-5.3999999999999915}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{126.72,27.36},{89.64,136.07999999999998}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (21)</key>
      <dict>
        <key>frame</key>
        <string>{{85.67999999999999,136.44},{90.36,135.35999999999999}}</string>
        <key>offset</key>
        <string>{45.900000000000006,-5.039999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{131.4,27.36},{90.36,135.35999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (22)</key>
      <dict>
        <key>frame</key>
        <string>{{87.84,0},{93.24,135}}</string>
        <key>offset</key>
        <string>{45.900000000000006,-5.219999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{129.96,27.72},{93.24,135}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (17)</key>
      <dict>
        <key>frame</key>
        <string>{{176.04,135},{92.88,133.92}}</string>
        <key>offset</key>
        <string>{36.71999999999997,-6.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{120.96,29.52},{92.88,133.92}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (23)</key>
      <dict>
        <key>frame</key>
        <string>{{181.07999999999998,0},{98.28,133.2}}</string>
        <key>offset</key>
        <string>{46.97999999999996,-5.759999999999991}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{128.51999999999998,29.16},{98.28,133.2}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (33)</key>
      <dict>
        <key>frame</key>
        <string>{{0,408.96},{132.84,91.08}}</string>
        <key>offset</key>
        <string>{37.25999999999999,-28.25999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{101.52,72.72},{132.84,91.08}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (34)</key>
      <dict>
        <key>frame</key>
        <string>{{89.64,271.8},{132.84,84.6}}</string>
        <key>offset</key>
        <string>{37.25999999999999,-31.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{101.52,79.2},{132.84,84.6}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (49)</key>
      <dict>
        <key>frame</key>
        <string>{{0,541.8},{132.84,63.72}}</string>
        <key>offset</key>
        <string>{38.339999999999975,-49.860000000000014}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{102.6,108},{132.84,63.72}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (50)</key>
      <dict>
        <key>frame</key>
        <string>{{0,674.64},{132.84,58.68}}</string>
        <key>offset</key>
        <string>{38.69999999999999,-52.379999999999995}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{102.96,113.03999999999999},{132.84,58.68}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (32)</key>
      <dict>
        <key>frame</key>
        <string>{{0,807.48},{132.48,97.2}}</string>
        <key>offset</key>
        <string>{37.079999999999984,-25.19999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{101.52,66.6},{132.48,97.2}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (35)</key>
      <dict>
        <key>frame</key>
        <string>{{58.68,674.64},{132.48,79.56}}</string>
        <key>offset</key>
        <string>{37.79999999999998,-35.459999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{102.24,85.67999999999999},{132.48,79.56}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (48)</key>
      <dict>
        <key>frame</key>
        <string>{{63.72,541.8},{132.12,68.39999999999999}}</string>
        <key>offset</key>
        <string>{37.97999999999999,-46.79999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{102.6,102.6},{132.12,68.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (24)</key>
      <dict>
        <key>frame</key>
        <string>{{132.12,541.8},{102.6,131.76}}</string>
        <key>offset</key>
        <string>{47.339999999999975,-6.11999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{126.72,30.24},{102.6,131.76}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (47)</key>
      <dict>
        <key>frame</key>
        <string>{{132.12,404.64},{131.76,72.72}}</string>
        <key>offset</key>
        <string>{38.15999999999997,-43.920000000000016}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{102.96,97.56},{131.76,72.72}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (31)</key>
      <dict>
        <key>frame</key>
        <string>{{174.23999999999998,271.8},{131.4,103.32}}</string>
        <key>offset</key>
        <string>{36.89999999999998,-22.139999999999986}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{101.88,60.48},{131.4,103.32}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (16)</key>
      <dict>
        <key>frame</key>
        <string>{{268.92,133.2},{96.47999999999999,131.4}}</string>
        <key>offset</key>
        <string>{32.39999999999998,-8.099999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{114.83999999999999,32.4},{96.47999999999999,131.4}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (36)</key>
      <dict>
        <key>frame</key>
        <string>{{279.36,0},{131.4,77.03999999999999}}</string>
        <key>offset</key>
        <string>{38.339999999999975,-41.03999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.32,92.52},{131.4,77.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (51)</key>
      <dict>
        <key>frame</key>
        <string>{{356.4,0},{131.4,59.04}}</string>
        <key>offset</key>
        <string>{38.69999999999999,-52.56}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.67999999999999,113.03999999999999},{131.4,59.04}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (15)</key>
      <dict>
        <key>frame</key>
        <string>{{204.84,403.2},{97.2,131.04}}</string>
        <key>offset</key>
        <string>{30.599999999999994,-8.280000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{112.67999999999999,32.76},{97.2,131.04}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (37)</key>
      <dict>
        <key>frame</key>
        <string>{{277.56,264.59999999999997},{130.68,90.72}}</string>
        <key>offset</key>
        <string>{38.69999999999999,-32.03999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{104.03999999999999,76.67999999999999},{130.68,90.72}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (25)</key>
      <dict>
        <key>frame</key>
        <string>{{365.4,131.4},{107.28,130.32}}</string>
        <key>offset</key>
        <string>{47.51999999999998,-6.840000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{124.56,31.68},{107.28,130.32}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (14)</key>
      <dict>
        <key>frame</key>
        <string>{{415.44,0},{98.28,130.32}}</string>
        <key>offset</key>
        <string>{28.97999999999999,-8.639999999999986}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{110.52,33.48},{98.28,130.32}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (30)</key>
      <dict>
        <key>frame</key>
        <string>{{0,939.9599999999999},{129.24,109.8}}</string>
        <key>offset</key>
        <string>{37.97999999999999,-18.539999999999992}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{104.03999999999999,53.64},{129.24,109.8}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (13)</key>
      <dict>
        <key>frame</key>
        <string>{{97.2,807.12},{98.64,128.88}}</string>
        <key>offset</key>
        <string>{27.359999999999985,-9.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{108.72,34.92},{98.64,128.88}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (26)</key>
      <dict>
        <key>frame</key>
        <string>{{138.24,673.56},{111.24,127.8}}</string>
        <key>offset</key>
        <string>{46.97999999999999,-7.739999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{122.03999999999999,33.839999999999996},{111.24,127.8}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (12)</key>
      <dict>
        <key>frame</key>
        <string>{{234.72,534.24},{98.28,127.44}}</string>
        <key>offset</key>
        <string>{25.74000000000001,-10.079999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{107.28,36.36},{98.28,127.44}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (29)</key>
      <dict>
        <key>frame</key>
        <string>{{302.03999999999996,395.28},{126,115.56}}</string>
        <key>offset</key>
        <string>{39.599999999999994,-15.299999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{107.28,47.519999999999996},{126,115.56}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (38)</key>
      <dict>
        <key>frame</key>
        <string>{{368.28,261.71999999999997},{126,102.96}}</string>
        <key>offset</key>
        <string>{41.03999999999999,-24.120000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{108.72,62.64},{126,102.96}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (11)</key>
      <dict>
        <key>frame</key>
        <string>{{109.8,936},{98.28,125.64}}</string>
        <key>offset</key>
        <string>{24.299999999999983,-10.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{105.83999999999999,38.16},{98.28,125.64}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (41)</key>
      <dict>
        <key>frame</key>
        <string>{{195.84,801.36},{93.6,125.64}}</string>
        <key>offset</key>
        <string>{57.24000000000001,-10.97999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{141.12,38.16},{93.6,125.64}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (27)</key>
      <dict>
        <key>frame</key>
        <string>{{249.48,661.68},{117,124.56}}</string>
        <key>offset</key>
        <string>{44.099999999999994,-9.719999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{116.28,37.44},{117,124.56}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (10)</key>
      <dict>
        <key>frame</key>
        <string>{{333,521.28},{97.92,123.47999999999999}}</string>
        <key>offset</key>
        <string>{22.67999999999998,-12.060000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{104.39999999999999,40.32},{97.92,123.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (28)</key>
      <dict>
        <key>frame</key>
        <string>{{417.59999999999997,387.71999999999997},{122.03999999999999,120.6}}</string>
        <key>offset</key>
        <string>{41.579999999999984,-12.419999999999987}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{111.24,42.12},{122.03999999999999,120.6}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (40)</key>
      <dict>
        <key>frame</key>
        <string>{{471.24,261.71999999999997},{106.56,120.96}}</string>
        <key>offset</key>
        <string>{50.75999999999999,-13.319999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{128.16,42.839999999999996},{106.56,120.96}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (42)</key>
      <dict>
        <key>frame</key>
        <string>{{472.68,130.32},{106.56,120.96}}</string>
        <key>offset</key>
        <string>{50.75999999999999,-13.319999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{128.16,42.839999999999996},{106.56,120.96}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (9)</key>
      <dict>
        <key>frame</key>
        <string>{{577.8,0},{97.2,120.96}}</string>
        <key>offset</key>
        <string>{21.23999999999998,-13.319999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{103.32,42.839999999999996},{97.2,120.96}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (8)</key>
      <dict>
        <key>frame</key>
        <string>{{675,0},{96.11999999999999,118.08}}</string>
        <key>offset</key>
        <string>{19.97999999999999,-14.759999999999991}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{102.6,45.72},{96.11999999999999,118.08}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (39)</key>
      <dict>
        <key>frame</key>
        <string>{{771.12,0},{117.72,113.03999999999999}}</string>
        <key>offset</key>
        <string>{45.18000000000001,-17.28}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{117,50.76},{117.72,113.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (7)</key>
      <dict>
        <key>frame</key>
        <string>{{884.16,0},{95.03999999999999,114.83999999999999}}</string>
        <key>offset</key>
        <string>{18.71999999999997,-16.379999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{101.88,48.96},{95.03999999999999,114.83999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (6)</key>
      <dict>
        <key>frame</key>
        <string>{{979.1999999999999,0},{93.6,111.6}}</string>
        <key>offset</key>
        <string>{17.279999999999973,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{101.16,52.199999999999996},{93.6,111.6}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (5)</key>
      <dict>
        <key>frame</key>
        <string>{{979.1999999999999,111.6},{91.8,108.36}}</string>
        <key>offset</key>
        <string>{16.019999999999982,-19.620000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100.8,55.44},{91.8,108.36}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (1)</key>
      <dict>
        <key>frame</key>
        <string>{{884.16,114.83999999999999},{85.67999999999999,93.24}}</string>
        <key>offset</key>
        <string>{12.599999999999994,-27.180000000000007}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100.44,70.56},{85.67999999999999,93.24}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (4)</key>
      <dict>
        <key>frame</key>
        <string>{{884.16,200.51999999999998},{89.64,104.75999999999999}}</string>
        <key>offset</key>
        <string>{14.579999999999984,-21.419999999999987}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100.44,59.04},{89.64,104.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (3)</key>
      <dict>
        <key>frame</key>
        <string>{{771.12,117.72},{88.2,100.8}}</string>
        <key>offset</key>
        <string>{13.5,-23.400000000000006}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100.08,63},{88.2,100.8}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (2)</key>
      <dict>
        <key>frame</key>
        <string>{{675,118.08},{87.11999999999999,97.2}}</string>
        <key>offset</key>
        <string>{12.95999999999998,-25.19999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100.08,66.6},{87.11999999999999,97.2}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (46)</key>
      <dict>
        <key>frame</key>
        <string>{{279.36,0},{131.4,77.03999999999999}}</string>
        <key>offset</key>
        <string>{38.339999999999975,-41.03999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.32,92.52},{131.4,77.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (45)</key>
      <dict>
        <key>frame</key>
        <string>{{277.56,264.59999999999997},{130.68,90.72}}</string>
        <key>offset</key>
        <string>{38.69999999999999,-32.03999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{104.03999999999999,76.67999999999999},{130.68,90.72}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (44)</key>
      <dict>
        <key>frame</key>
        <string>{{368.28,261.71999999999997},{126,102.96}}</string>
        <key>offset</key>
        <string>{41.03999999999999,-24.120000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{108.72,62.64},{126,102.96}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (43)</key>
      <dict>
        <key>frame</key>
        <string>{{771.12,0},{117.72,113.03999999999999}}</string>
        <key>offset</key>
        <string>{45.18000000000001,-17.28}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{117,50.76},{117.72,113.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (52)</key>
      <dict>
        <key>frame</key>
        <string>{{356.4,0},{131.4,59.04}}</string>
        <key>offset</key>
        <string>{38.69999999999999,-52.56}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.67999999999999,113.03999999999999},{131.4,59.04}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (53)</key>
      <dict>
        <key>frame</key>
        <string>{{356.4,0},{131.4,59.04}}</string>
        <key>offset</key>
        <string>{38.69999999999999,-52.56}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.67999999999999,113.03999999999999},{131.4,59.04}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (54)</key>
      <dict>
        <key>frame</key>
        <string>{{356.4,0},{131.4,59.04}}</string>
        <key>offset</key>
        <string>{38.69999999999999,-52.56}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.67999999999999,113.03999999999999},{131.4,59.04}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (55)</key>
      <dict>
        <key>frame</key>
        <string>{{356.4,0},{131.4,59.04}}</string>
        <key>offset</key>
        <string>{38.69999999999999,-52.56}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.67999999999999,113.03999999999999},{131.4,59.04}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (56)</key>
      <dict>
        <key>frame</key>
        <string>{{356.4,0},{131.4,59.04}}</string>
        <key>offset</key>
        <string>{38.69999999999999,-52.56}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.67999999999999,113.03999999999999},{131.4,59.04}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (57)</key>
      <dict>
        <key>frame</key>
        <string>{{356.4,0},{131.4,59.04}}</string>
        <key>offset</key>
        <string>{38.69999999999999,-52.56}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.67999999999999,113.03999999999999},{131.4,59.04}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (58)</key>
      <dict>
        <key>frame</key>
        <string>{{356.4,0},{131.4,59.04}}</string>
        <key>offset</key>
        <string>{38.69999999999999,-52.56}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.67999999999999,113.03999999999999},{131.4,59.04}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (59)</key>
      <dict>
        <key>frame</key>
        <string>{{356.4,0},{131.4,59.04}}</string>
        <key>offset</key>
        <string>{38.69999999999999,-52.56}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.67999999999999,113.03999999999999},{131.4,59.04}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_die (60)</key>
      <dict>
        <key>frame</key>
        <string>{{356.4,0},{131.4,59.04}}</string>
        <key>offset</key>
        <string>{38.69999999999999,-52.56}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.67999999999999,113.03999999999999},{131.4,59.04}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant5_die.png</string>
      <key>size</key>
      <string>{1088,1069}</string>
      <key>textureFileName</key>
      <string>Combatant5_die</string>
    </dict>
  </dict>
</plist>
