<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant3_attack (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{149.04,92.88}}</string>
        <key>offset</key>
        <string>{-13.320000000000007,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2.16,72},{149.04,92.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (18)</key>
      <dict>
        <key>frame</key>
        <string>{{149.04,0},{145.44,93.24}}</string>
        <key>offset</key>
        <string>{-11.879999999999995,-28.25999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5.3999999999999995,71.64},{145.44,93.24}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,92.88},{141.84,94.32}}</string>
        <key>offset</key>
        <string>{-11.159999999999997,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7.92,70.56},{141.84,94.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (19)</key>
      <dict>
        <key>frame</key>
        <string>{{294.47999999999996,0},{140.76,93.6}}</string>
        <key>offset</key>
        <string>{-10.260000000000005,-28.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9.36,71.28},{140.76,93.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (20)</key>
      <dict>
        <key>frame</key>
        <string>{{141.84,93.24},{136.07999999999998,93.6}}</string>
        <key>offset</key>
        <string>{-8.640000000000015,-28.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13.32,71.28},{136.07999999999998,93.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (15)</key>
      <dict>
        <key>frame</key>
        <string>{{141.84,186.84},{132.12,94.67999999999999}}</string>
        <key>offset</key>
        <string>{-8.459999999999994,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15.479999999999999,70.2},{132.12,94.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,187.2},{130.68,93.96}}</string>
        <key>offset</key>
        <string>{-7.019999999999996,-27.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17.64,70.92},{130.68,93.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,281.15999999999997},{124.92,93.96}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-27.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.32,70.92},{124.92,93.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (3)</key>
      <dict>
        <key>frame</key>
        <string>{{435.24,0},{123.11999999999999,94.32}}</string>
        <key>offset</key>
        <string>{-4.680000000000007,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23.759999999999998,70.56},{123.11999999999999,94.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (14)</key>
      <dict>
        <key>frame</key>
        <string>{{277.92,93.6},{121.32,95.03999999999999}}</string>
        <key>offset</key>
        <string>{-4.859999999999999,-27.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24.48,69.84},{121.32,95.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (4)</key>
      <dict>
        <key>frame</key>
        <string>{{277.92,188.64},{120.96,94.32}}</string>
        <key>offset</key>
        <string>{-4.320000000000007,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25.2,70.56},{120.96,94.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (5)</key>
      <dict>
        <key>frame</key>
        <string>{{124.92,281.52},{118.8,94.67999999999999}}</string>
        <key>offset</key>
        <string>{-3.5999999999999943,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,70.2},{118.8,94.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,375.12},{116.64,94.67999999999999}}</string>
        <key>offset</key>
        <string>{-2.8799999999999955,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.799999999999997,70.2},{116.64,94.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (7)</key>
      <dict>
        <key>frame</key>
        <string>{{558.36,0},{114.11999999999999,94.67999999999999}}</string>
        <key>offset</key>
        <string>{-1.980000000000004,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30.959999999999997,70.2},{114.11999999999999,94.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (8)</key>
      <dict>
        <key>frame</key>
        <string>{{399.24,94.32},{111.6,94.67999999999999}}</string>
        <key>offset</key>
        <string>{-1.0800000000000125,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33.12,70.2},{111.6,94.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (13)</key>
      <dict>
        <key>frame</key>
        <string>{{399.24,189},{110.52,95.03999999999999}}</string>
        <key>offset</key>
        <string>{-0.9000000000000057,-27.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33.839999999999996,69.84},{110.52,95.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (9)</key>
      <dict>
        <key>frame</key>
        <string>{{243.72,282.96},{108.72,94.67999999999999}}</string>
        <key>offset</key>
        <string>{0,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,70.2},{108.72,94.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (10)</key>
      <dict>
        <key>frame</key>
        <string>{{116.64,376.2},{107.64,94.67999999999999}}</string>
        <key>offset</key>
        <string>{1.6200000000000045,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,70.2},{107.64,94.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,469.79999999999995},{106.2,94.67999999999999}}</string>
        <key>offset</key>
        <string>{3.4200000000000017,-27.539999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,70.2},{106.2,94.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_attack (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,564.48},{105.11999999999999,94.32}}</string>
        <key>offset</key>
        <string>{5.3999999999999915,-27.72}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,70.56},{105.11999999999999,94.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant3_attack.png</string>
      <key>size</key>
      <string>{672,670}</string>
      <key>textureFileName</key>
      <string>Combatant3_attack</string>
    </dict>
  </dict>
</plist>
