<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant2_die (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{55.08,59.04}}</string>
        <key>offset</key>
        <string>{7.920000000000002,-17.1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.28,42.48},{55.08,59.04}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,59.04},{56.16,58.32}}</string>
        <key>offset</key>
        <string>{9.18,-17.46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,43.199999999999996},{56.16,58.32}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (10)</key>
      <dict>
        <key>frame</key>
        <string>{{55.08,0},{56.879999999999995,57.599999999999994}}</string>
        <key>offset</key>
        <string>{10.259999999999998,-17.82}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,43.92},{56.879999999999995,57.599999999999994}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,117.36},{57.599999999999994,56.519999999999996}}</string>
        <key>offset</key>
        <string>{11.339999999999996,-18.359999999999992}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{37.44,45},{57.599999999999994,56.519999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (12)</key>
      <dict>
        <key>frame</key>
        <string>{{56.16,57.599999999999994},{57.599999999999994,50.76}}</string>
        <key>offset</key>
        <string>{13.139999999999993,-21.240000000000002}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{39.24,50.76},{57.599999999999994,50.76}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,174.95999999999998},{57.239999999999995,45}}</string>
        <key>offset</key>
        <string>{14.759999999999998,-24.119999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{41.04,56.519999999999996},{57.239999999999995,45}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,232.2},{56.16,41.76}}</string>
        <key>offset</key>
        <string>{16.380000000000003,-28.979999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,63},{56.16,41.76}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,288.36},{55.8,55.44}}</string>
        <key>offset</key>
        <string>{6.839999999999996,-18.54}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{33.839999999999996,45.72},{55.8,55.44}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (1)</key>
      <dict>
        <key>frame</key>
        <string>{{41.76,232.2},{55.8,51.839999999999996}}</string>
        <key>offset</key>
        <string>{0.7199999999999989,-19.259999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{27.72,48.239999999999995},{55.8,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (6)</key>
      <dict>
        <key>frame</key>
        <string>{{45,174.95999999999998},{55.08,55.44}}</string>
        <key>offset</key>
        <string>{5.399999999999999,-18.54}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32.76,45.72},{55.08,55.44}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (2)</key>
      <dict>
        <key>frame</key>
        <string>{{93.6,115.19999999999999},{55.44,52.919999999999995}}</string>
        <key>offset</key>
        <string>{1.259999999999998,-19.07999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,47.519999999999996},{55.44,52.919999999999995}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (21)</key>
      <dict>
        <key>frame</key>
        <string>{{106.92,57.599999999999994},{55.44,40.68}}</string>
        <key>offset</key>
        <string>{17.1,-30.6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{44.28,65.16},{55.44,40.68}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (5)</key>
      <dict>
        <key>frame</key>
        <string>{{146.51999999999998,0},{55.08,55.08}}</string>
        <key>offset</key>
        <string>{3.960000000000001,-18.359999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31.32,45.72},{55.08,55.08}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (4)</key>
      <dict>
        <key>frame</key>
        <string>{{147.6,55.08},{54.36,54.72}}</string>
        <key>offset</key>
        <string>{2.520000000000003,-18.54}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30.24,46.08},{54.36,54.72}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (15)</key>
      <dict>
        <key>frame</key>
        <string>{{201.6,0},{54,41.04}}</string>
        <key>offset</key>
        <string>{17.46,-30.059999999999995}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{45.36,64.44},{54,41.04}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,344.15999999999997},{53.64,53.64}}</string>
        <key>offset</key>
        <string>{1.0800000000000054,-18.720000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.16,46.8},{53.64,53.64}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,397.8},{53.28,41.4}}</string>
        <key>offset</key>
        <string>{17.82,-29.880000000000003}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{46.08,64.08},{53.28,41.4}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,451.08},{51.839999999999996,41.4}}</string>
        <key>offset</key>
        <string>{18.18,-29.160000000000004}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{47.16,63.36},{51.839999999999996,41.4}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,502.91999999999996},{51.48,42.48}}</string>
        <key>offset</key>
        <string>{17.999999999999993,-27.9}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{47.16,61.559999999999995},{51.48,42.48}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (19)</key>
      <dict>
        <key>frame</key>
        <string>{{41.4,397.8},{51.48,41.4}}</string>
        <key>offset</key>
        <string>{17.999999999999993,-28.800000000000004}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{47.16,63},{51.48,41.4}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (18)</key>
      <dict>
        <key>frame</key>
        <string>{{53.64,344.15999999999997},{51.12,43.199999999999996}}</string>
        <key>offset</key>
        <string>{17.82,-27.18}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{47.16,60.48},{51.12,43.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (22)</key>
      <dict>
        <key>frame</key>
        <string>{{106.92,57.599999999999994},{55.44,40.68}}</string>
        <key>offset</key>
        <string>{17.1,-30.6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{44.28,65.16},{55.44,40.68}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (23)</key>
      <dict>
        <key>frame</key>
        <string>{{106.92,57.599999999999994},{55.44,40.68}}</string>
        <key>offset</key>
        <string>{17.1,-30.6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{44.28,65.16},{55.44,40.68}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (24)</key>
      <dict>
        <key>frame</key>
        <string>{{106.92,57.599999999999994},{55.44,40.68}}</string>
        <key>offset</key>
        <string>{17.1,-30.6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{44.28,65.16},{55.44,40.68}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (25)</key>
      <dict>
        <key>frame</key>
        <string>{{106.92,57.599999999999994},{55.44,40.68}}</string>
        <key>offset</key>
        <string>{17.1,-30.6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{44.28,65.16},{55.44,40.68}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (26)</key>
      <dict>
        <key>frame</key>
        <string>{{106.92,57.599999999999994},{55.44,40.68}}</string>
        <key>offset</key>
        <string>{17.1,-30.6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{44.28,65.16},{55.44,40.68}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
      <key>Combatant2_die (27)</key>
      <dict>
        <key>frame</key>
        <string>{{106.92,57.599999999999994},{55.44,40.68}}</string>
        <key>offset</key>
        <string>{17.1,-30.6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{44.28,65.16},{55.44,40.68}}</string>
        <key>sourceSize</key>
        <string>{109.8,109.8}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant2_die.png</string>
      <key>size</key>
      <string>{243,554}</string>
      <key>textureFileName</key>
      <string>Combatant2_die</string>
    </dict>
  </dict>
</plist>
