<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant5_walk (31)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{78.11999999999999,100.8}}</string>
        <key>offset</key>
        <string>{24.299999999999983,-21.959999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{115.92,61.559999999999995},{78.11999999999999,100.8}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,100.8},{98.64,99.72}}</string>
        <key>offset</key>
        <string>{15.840000000000003,-22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{97.2,62.64},{98.64,99.72}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (30)</key>
      <dict>
        <key>frame</key>
        <string>{{78.11999999999999,0},{78.48,99.36}}</string>
        <key>offset</key>
        <string>{23.75999999999999,-22.680000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{115.19999999999999,63},{78.48,99.36}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (32)</key>
      <dict>
        <key>frame</key>
        <string>{{0,200.51999999999998},{78.48,99.36}}</string>
        <key>offset</key>
        <string>{23.75999999999999,-22.680000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{115.19999999999999,63},{78.48,99.36}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,299.88},{96.84,99}}</string>
        <key>offset</key>
        <string>{15.300000000000011,-22.86}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{97.56,63.36},{96.84,99}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{78.48,200.51999999999998},{96.84,99}}</string>
        <key>offset</key>
        <string>{15.300000000000011,-22.86}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{97.56,63.36},{96.84,99}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{98.64,99.36},{95.39999999999999,98.64}}</string>
        <key>offset</key>
        <string>{14.939999999999998,-23.400000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{97.92,64.08},{95.39999999999999,98.64}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{175.32,0},{95.39999999999999,98.64}}</string>
        <key>offset</key>
        <string>{14.939999999999998,-23.400000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{97.92,64.08},{95.39999999999999,98.64}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (29)</key>
      <dict>
        <key>frame</key>
        <string>{{270.71999999999997,0},{78.48,98.28}}</string>
        <key>offset</key>
        <string>{23.039999999999992,-23.58}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{114.47999999999999,64.44},{78.48,98.28}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (33)</key>
      <dict>
        <key>frame</key>
        <string>{{349.2,0},{78.48,98.28}}</string>
        <key>offset</key>
        <string>{23.039999999999992,-23.58}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{114.47999999999999,64.44},{78.48,98.28}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{427.68,0},{94.32,97.56}}</string>
        <key>offset</key>
        <string>{14.399999999999977,-23.939999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{97.92,65.16},{94.32,97.56}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{525.24,0},{94.32,97.56}}</string>
        <key>offset</key>
        <string>{14.399999999999977,-23.939999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{97.92,65.16},{94.32,97.56}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (15)</key>
      <dict>
        <key>frame</key>
        <string>{{622.8,0},{93.24,96.84}}</string>
        <key>offset</key>
        <string>{14.219999999999999,-24.299999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{98.28,65.88},{93.24,96.84}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{719.64,0},{93.24,96.84}}</string>
        <key>offset</key>
        <string>{14.219999999999999,-24.299999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{98.28,65.88},{93.24,96.84}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (28)</key>
      <dict>
        <key>frame</key>
        <string>{{816.48,0},{79.56,96.84}}</string>
        <key>offset</key>
        <string>{21.779999999999973,-24.299999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{112.67999999999999,65.88},{79.56,96.84}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (34)</key>
      <dict>
        <key>frame</key>
        <string>{{913.3199999999999,0},{79.56,96.84}}</string>
        <key>offset</key>
        <string>{21.779999999999973,-24.299999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{112.67999999999999,65.88},{79.56,96.84}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (16)</key>
      <dict>
        <key>frame</key>
        <string>{{1010.16,0},{92.16,96.47999999999999}}</string>
        <key>offset</key>
        <string>{14.039999999999992,-24.83999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{98.64,66.6},{92.16,96.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{816.48,79.56},{92.16,96.47999999999999}}</string>
        <key>offset</key>
        <string>{14.039999999999992,-24.83999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{98.64,66.6},{92.16,96.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (17)</key>
      <dict>
        <key>frame</key>
        <string>{{912.9599999999999,79.56},{90.72,95.75999999999999}}</string>
        <key>offset</key>
        <string>{13.680000000000007,-25.19999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{99,67.32},{90.72,95.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{1008.7199999999999,92.16},{90.72,95.75999999999999}}</string>
        <key>offset</key>
        <string>{13.680000000000007,-25.19999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{99,67.32},{90.72,95.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (27)</key>
      <dict>
        <key>frame</key>
        <string>{{912.9599999999999,170.28},{81,95.03999999999999}}</string>
        <key>offset</key>
        <string>{20.339999999999975,-25.19999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{110.52,67.67999999999999},{81,95.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (35)</key>
      <dict>
        <key>frame</key>
        <string>{{1008,182.88},{81,95.03999999999999}}</string>
        <key>offset</key>
        <string>{20.339999999999975,-25.19999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{110.52,67.67999999999999},{81,95.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (18)</key>
      <dict>
        <key>frame</key>
        <string>{{622.8,93.24},{89.64,94.67999999999999}}</string>
        <key>offset</key>
        <string>{13.5,-25.73999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{99.36,68.39999999999999},{89.64,94.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{717.48,93.24},{89.64,94.67999999999999}}</string>
        <key>offset</key>
        <string>{13.5,-25.73999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{99.36,68.39999999999999},{89.64,94.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (19)</key>
      <dict>
        <key>frame</key>
        <string>{{812.16,171.72},{88.2,94.32}}</string>
        <key>offset</key>
        <string>{13.139999999999986,-26.28}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{99.72,69.12},{88.2,94.32}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{812.16,259.92},{88.2,94.32}}</string>
        <key>offset</key>
        <string>{13.139999999999986,-26.28}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{99.72,69.12},{88.2,94.32}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (26)</key>
      <dict>
        <key>frame</key>
        <string>{{906.48,251.28},{81.72,93.96}}</string>
        <key>offset</key>
        <string>{18.899999999999977,-26.099999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{108.72,69.12},{81.72,93.96}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (36)</key>
      <dict>
        <key>frame</key>
        <string>{{906.48,333},{81.72,93.96}}</string>
        <key>offset</key>
        <string>{18.899999999999977,-26.099999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{108.72,69.12},{81.72,93.96}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{1000.4399999999999,263.88},{87.11999999999999,93.6}}</string>
        <key>offset</key>
        <string>{12.95999999999998,-26.64}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100.08,69.84},{87.11999999999999,93.6}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (20)</key>
      <dict>
        <key>frame</key>
        <string>{{1000.4399999999999,351},{87.11999999999999,93.6}}</string>
        <key>offset</key>
        <string>{12.95999999999998,-26.64}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100.08,69.84},{87.11999999999999,93.6}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{427.68,94.32},{85.67999999999999,93.24}}</string>
        <key>offset</key>
        <string>{12.599999999999994,-27.180000000000007}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100.44,70.56},{85.67999999999999,93.24}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (21)</key>
      <dict>
        <key>frame</key>
        <string>{{520.92,94.32},{85.67999999999999,93.24}}</string>
        <key>offset</key>
        <string>{12.599999999999994,-27.180000000000007}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100.44,70.56},{85.67999999999999,93.24}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (22)</key>
      <dict>
        <key>frame</key>
        <string>{{520.92,180},{83.88,93.24}}</string>
        <key>offset</key>
        <string>{13.139999999999986,-26.819999999999993}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{101.88,70.2},{83.88,93.24}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (40)</key>
      <dict>
        <key>frame</key>
        <string>{{270.71999999999997,98.28},{83.88,93.24}}</string>
        <key>offset</key>
        <string>{13.139999999999986,-26.819999999999993}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{101.88,70.2},{83.88,93.24}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (23)</key>
      <dict>
        <key>frame</key>
        <string>{{270.71999999999997,182.16},{83.52,93.24}}</string>
        <key>offset</key>
        <string>{14.399999999999977,-26.819999999999993}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.32,70.2},{83.52,93.24}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (39)</key>
      <dict>
        <key>frame</key>
        <string>{{175.32,198},{83.52,93.24}}</string>
        <key>offset</key>
        <string>{14.399999999999977,-26.819999999999993}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103.32,70.2},{83.52,93.24}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (24)</key>
      <dict>
        <key>frame</key>
        <string>{{175.32,281.52},{82.8,93.24}}</string>
        <key>offset</key>
        <string>{15.839999999999975,-26.460000000000008}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{105.11999999999999,69.84},{82.8,93.24}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (38)</key>
      <dict>
        <key>frame</key>
        <string>{{175.32,364.32},{82.8,93.24}}</string>
        <key>offset</key>
        <string>{15.839999999999975,-26.460000000000008}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{105.11999999999999,69.84},{82.8,93.24}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (25)</key>
      <dict>
        <key>frame</key>
        <string>{{175.32,447.12},{82.44,93.24}}</string>
        <key>offset</key>
        <string>{17.45999999999998,-26.460000000000008}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{106.92,69.84},{82.44,93.24}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
      <key>Combatant5_walk (37)</key>
      <dict>
        <key>frame</key>
        <string>{{363.96,180},{82.44,93.24}}</string>
        <key>offset</key>
        <string>{17.45999999999998,-26.460000000000008}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{106.92,69.84},{82.44,93.24}}</string>
        <key>sourceSize</key>
        <string>{261.36,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant5_walk.png</string>
      <key>size</key>
      <string>{1107,530}</string>
      <key>textureFileName</key>
      <string>Combatant5_walk</string>
    </dict>
  </dict>
</plist>
