<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Combatant3_freez (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{124.92,93.96}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-27.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.32,70.92},{124.92,93.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_freez (10)</key>
      <dict>
        <key>frame</key>
        <string>{{124.92,0},{124.92,93.96}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-27.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.32,70.92},{124.92,93.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_freez (3)</key>
      <dict>
        <key>frame</key>
        <string>{{249.84,0},{124.92,93.6}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-28.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.32,71.28},{124.92,93.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_freez (4)</key>
      <dict>
        <key>frame</key>
        <string>{{374.76,0},{124.92,93.6}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-28.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.32,71.28},{124.92,93.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_freez (5)</key>
      <dict>
        <key>frame</key>
        <string>{{499.68,0},{124.92,93.24}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-28.25999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.32,71.64},{124.92,93.24}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_freez (6)</key>
      <dict>
        <key>frame</key>
        <string>{{624.6,0},{124.92,93.24}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-28.25999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.32,71.64},{124.92,93.24}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_freez (2)</key>
      <dict>
        <key>frame</key>
        <string>{{124.92,0},{124.92,93.96}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-27.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.32,70.92},{124.92,93.96}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_freez (9)</key>
      <dict>
        <key>frame</key>
        <string>{{249.84,0},{124.92,93.6}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-28.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.32,71.28},{124.92,93.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_freez (8)</key>
      <dict>
        <key>frame</key>
        <string>{{374.76,0},{124.92,93.6}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-28.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.32,71.28},{124.92,93.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Combatant3_freez (7)</key>
      <dict>
        <key>frame</key>
        <string>{{499.68,0},{124.92,93.24}}</string>
        <key>offset</key>
        <string>{-5.219999999999999,-28.25999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.32,71.64},{124.92,93.24}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Combatant3_freez.png</string>
      <key>size</key>
      <string>{750,94}</string>
      <key>textureFileName</key>
      <string>Combatant3_freez</string>
    </dict>
  </dict>
</plist>
