<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier4_poisoned (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{69.84,83.16}}</string>
        <key>offset</key>
        <string>{-9.899999999999991,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.36,63.36},{69.84,83.16}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_poisoned (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,83.16},{69.84,80.64}}</string>
        <key>offset</key>
        <string>{-9.899999999999991,-25.019999999999996}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.36,65.88},{69.84,80.64}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_poisoned (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,163.79999999999998},{71.64,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-9.36,-26.279999999999987}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,68.39999999999999},{71.64,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_poisoned (8)</key>
      <dict>
        <key>frame</key>
        <string>{{69.84,0},{71.64,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-9.36,-26.279999999999987}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,68.39999999999999},{71.64,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_poisoned (9)</key>
      <dict>
        <key>frame</key>
        <string>{{69.84,78.11999999999999},{71.28,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-9.539999999999992,-26.279999999999987}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,68.39999999999999},{71.28,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_poisoned (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,241.92},{70.92,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-9.719999999999985,-26.279999999999987}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,68.39999999999999},{70.92,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_poisoned (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,320.03999999999996},{70.92,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-9.719999999999985,-26.279999999999987}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,68.39999999999999},{70.92,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_poisoned (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,398.15999999999997},{70.56,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-9.899999999999991,-26.279999999999987}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,68.39999999999999},{70.56,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_poisoned (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,476.28},{70.56,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-9.899999999999991,-26.279999999999987}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,68.39999999999999},{70.56,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_poisoned (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,554.4},{70.56,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-9.899999999999991,-26.279999999999987}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,68.39999999999999},{70.56,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_poisoned (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,632.52},{70.56,78.11999999999999}}</string>
        <key>offset</key>
        <string>{-9.899999999999991,-26.279999999999987}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,68.39999999999999},{70.56,78.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_poisoned (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,710.64},{69.84,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-9.899999999999991,-26.459999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.36,68.75999999999999},{69.84,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_poisoned (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,788.4},{69.84,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-9.899999999999991,-26.459999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.36,68.75999999999999},{69.84,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_poisoned (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,866.16},{69.48,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-26.459999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.36,68.75999999999999},{69.48,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier4_poisoned.png</string>
      <key>size</key>
      <string>{141,944}</string>
      <key>textureFileName</key>
      <string>Soldier4_poisoned</string>
    </dict>
  </dict>
</plist>
