<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier5_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{131.04,116.28}}</string>
        <key>offset</key>
        <string>{5.400000000000006,-24.12000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.16,93.6},{131.04,116.28}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{131.04,0},{131.04,115.92}}</string>
        <key>offset</key>
        <string>{5.400000000000006,-23.940000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.16,93.6},{131.04,115.92}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{262.08,0},{130.68,116.28}}</string>
        <key>offset</key>
        <string>{5.219999999999999,-23.760000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.16,93.24},{130.68,116.28}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{131.04,115.92},{130.68,116.28}}</string>
        <key>offset</key>
        <string>{5.219999999999999,-23.39999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.16,92.88},{130.68,116.28}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,116.28},{130.68,115.92}}</string>
        <key>offset</key>
        <string>{5.5800000000000125,-24.299999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.52,93.96},{130.68,115.92}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{392.76,0},{130.68,115.92}}</string>
        <key>offset</key>
        <string>{5.5800000000000125,-24.66000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.52,94.32},{130.68,115.92}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{523.4399999999999,0},{130.68,115.92}}</string>
        <key>offset</key>
        <string>{5.5800000000000125,-25.019999999999996}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.52,94.67999999999999},{130.68,115.92}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{654.12,0},{130.68,115.92}}</string>
        <key>offset</key>
        <string>{5.5800000000000125,-24.66000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.52,94.32},{130.68,115.92}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{784.8,0},{130.32,115.92}}</string>
        <key>offset</key>
        <string>{5.759999999999991,-25.38000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.88,95.03999999999999},{130.32,115.92}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{915.12,0},{130.32,115.56}}</string>
        <key>offset</key>
        <string>{5.759999999999991,-25.200000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.88,95.03999999999999},{130.32,115.56}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{915.12,115.56},{130.32,115.56}}</string>
        <key>offset</key>
        <string>{5.759999999999991,-25.560000000000016}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.88,95.39999999999999},{130.32,115.56}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{392.76,115.92},{130.32,115.19999999999999}}</string>
        <key>offset</key>
        <string>{5.759999999999991,-26.09999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.88,96.11999999999999},{130.32,115.19999999999999}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{261.71999999999997,116.28},{130.32,115.19999999999999}}</string>
        <key>offset</key>
        <string>{5.759999999999991,-25.739999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.88,95.75999999999999},{130.32,115.19999999999999}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{261.71999999999997,231.48},{129.96,115.19999999999999}}</string>
        <key>offset</key>
        <string>{5.939999999999998,-26.09999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{120.24,96.11999999999999},{129.96,115.19999999999999}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,232.2},{127.8,115.56}}</string>
        <key>offset</key>
        <string>{5.219999999999999,-25.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{120.6,95.75999999999999},{127.8,115.56}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (27)</key>
      <dict>
        <key>frame</key>
        <string>{{127.8,232.2},{127.8,115.56}}</string>
        <key>offset</key>
        <string>{5.219999999999999,-25.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{120.6,95.75999999999999},{127.8,115.56}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (16)</key>
      <dict>
        <key>frame</key>
        <string>{{523.0799999999999,115.92},{123.83999999999999,115.56}}</string>
        <key>offset</key>
        <string>{3.9599999999999795,-25.560000000000016}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{121.32,95.39999999999999},{123.83999999999999,115.56}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (26)</key>
      <dict>
        <key>frame</key>
        <string>{{392.03999999999996,231.12},{123.83999999999999,115.56}}</string>
        <key>offset</key>
        <string>{3.9599999999999795,-25.560000000000016}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{121.32,95.39999999999999},{123.83999999999999,115.56}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (17)</key>
      <dict>
        <key>frame</key>
        <string>{{646.92,115.92},{121.32,115.92}}</string>
        <key>offset</key>
        <string>{3.4199999999999875,-25.019999999999996}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{122.03999999999999,94.67999999999999},{121.32,115.92}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (25)</key>
      <dict>
        <key>frame</key>
        <string>{{515.88,231.48},{121.32,115.92}}</string>
        <key>offset</key>
        <string>{3.4199999999999875,-25.019999999999996}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{122.03999999999999,94.67999999999999},{121.32,115.92}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (18)</key>
      <dict>
        <key>frame</key>
        <string>{{768.24,115.92},{118.44,115.92}}</string>
        <key>offset</key>
        <string>{3.059999999999974,-24.66000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{123.11999999999999,94.32},{118.44,115.92}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (24)</key>
      <dict>
        <key>frame</key>
        <string>{{886.68,231.12},{118.44,115.92}}</string>
        <key>offset</key>
        <string>{3.059999999999974,-24.66000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{123.11999999999999,94.32},{118.44,115.92}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (20)</key>
      <dict>
        <key>frame</key>
        <string>{{886.68,347.03999999999996},{113.03999999999999,116.28}}</string>
        <key>offset</key>
        <string>{1.799999999999983,-23.760000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{124.56,93.24},{113.03999999999999,116.28}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (21)</key>
      <dict>
        <key>frame</key>
        <string>{{1002.9599999999999,347.03999999999996},{110.52,116.28}}</string>
        <key>offset</key>
        <string>{1.259999999999991,-23.39999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{125.28,92.88},{110.52,116.28}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (22)</key>
      <dict>
        <key>frame</key>
        <string>{{637.1999999999999,231.84},{113.03999999999999,116.28}}</string>
        <key>offset</key>
        <string>{1.799999999999983,-23.760000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{124.56,93.24},{113.03999999999999,116.28}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (19)</key>
      <dict>
        <key>frame</key>
        <string>{{753.48,231.84},{115.56,115.92}}</string>
        <key>offset</key>
        <string>{2.3400000000000034,-24.299999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{123.83999999999999,93.96},{115.56,115.92}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_walk (23)</key>
      <dict>
        <key>frame</key>
        <string>{{637.1999999999999,344.88},{115.56,115.92}}</string>
        <key>offset</key>
        <string>{2.3400000000000034,-24.299999999999997}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{123.83999999999999,93.96},{115.56,115.92}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier5_walk.png</string>
      <key>size</key>
      <string>{1113,463}</string>
      <key>textureFileName</key>
      <string>Soldier5_walk</string>
    </dict>
  </dict>
</plist>
