<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier1_freez (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{61.199999999999996,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-3.6000000000000085,-37.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.8,84.6},{61.199999999999996,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_freez (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,86.03999999999999},{61.199999999999996,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-3.6000000000000085,-37.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.8,84.6},{61.199999999999996,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_freez (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,172.07999999999998},{61.199999999999996,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-3.6000000000000085,-37.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.8,84.6},{61.199999999999996,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_freez (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,258.12},{61.199999999999996,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-3.6000000000000085,-37.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.8,84.6},{61.199999999999996,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_freez (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,344.15999999999997},{61.199999999999996,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-3.6000000000000085,-37.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.8,84.6},{61.199999999999996,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_freez (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,430.2},{61.199999999999996,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-3.6000000000000085,-37.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.8,84.6},{61.199999999999996,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_freez (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,86.03999999999999},{61.199999999999996,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-3.6000000000000085,-37.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.8,84.6},{61.199999999999996,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_freez (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,172.07999999999998},{61.199999999999996,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-3.6000000000000085,-37.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.8,84.6},{61.199999999999996,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_freez (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,258.12},{61.199999999999996,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-3.6000000000000085,-37.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.8,84.6},{61.199999999999996,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_freez (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,344.15999999999997},{61.199999999999996,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-3.6000000000000085,-37.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.8,84.6},{61.199999999999996,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier1_freez.png</string>
      <key>size</key>
      <string>{61,516}</string>
      <key>textureFileName</key>
      <string>Soldier1_freez</string>
    </dict>
  </dict>
</plist>
