<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier4_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{70.2,80.64}}</string>
        <key>offset</key>
        <string>{-8.999999999999986,-24.66000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.08,65.52},{70.2,80.64}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,80.64},{69.84,80.64}}</string>
        <key>offset</key>
        <string>{-7.3799999999999955,-24.299999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.879999999999995,65.16},{69.84,80.64}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,161.28},{69.84,80.64}}</string>
        <key>offset</key>
        <string>{-9.899999999999991,-24.66000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.36,65.52},{69.84,80.64}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,241.92},{69.48,80.64}}</string>
        <key>offset</key>
        <string>{-5.759999999999991,-23.940000000000012}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.68,64.8},{69.48,80.64}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,322.56},{67.32,80.64}}</string>
        <key>offset</key>
        <string>{-9.719999999999999,-24.66000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.8,65.52},{67.32,80.64}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,403.2},{64.08,80.64}}</string>
        <key>offset</key>
        <string>{-9.179999999999993,-24.299999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.96,65.16},{64.08,80.64}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,483.84},{61.559999999999995,80.64}}</string>
        <key>offset</key>
        <string>{-7.920000000000002,-24.299999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.48,65.16},{61.559999999999995,80.64}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,564.48},{60.839999999999996,80.28}}</string>
        <key>offset</key>
        <string>{-7.560000000000002,-24.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,65.16},{60.839999999999996,80.28}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,644.76},{69.84,79.56}}</string>
        <key>offset</key>
        <string>{-7.3799999999999955,-24.840000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.879999999999995,66.24},{69.84,79.56}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{60.839999999999996,564.48},{63,79.2}}</string>
        <key>offset</key>
        <string>{-8.64,-25.019999999999996}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.04,66.6},{63,79.2}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{61.559999999999995,483.84},{70.2,78.84}}</string>
        <key>offset</key>
        <string>{-8.999999999999986,-25.560000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37.08,67.32},{70.2,78.84}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{64.08,403.2},{66.24,78.48}}</string>
        <key>offset</key>
        <string>{-9.540000000000006,-25.739999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.519999999999996,67.67999999999999},{66.24,78.48}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{130.32,403.2},{69.84,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-9.899999999999991,-26.099999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.36,68.39999999999999},{69.84,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{67.32,322.56},{69.48,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-26.459999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.36,68.75999999999999},{69.48,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier4_walk.png</string>
      <key>size</key>
      <string>{200,724}</string>
      <key>textureFileName</key>
      <string>Soldier4_walk</string>
    </dict>
  </dict>
</plist>
