<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier2_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{67.67999999999999,55.8}}</string>
        <key>offset</key>
        <string>{1.6200000000000045,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,73.08},{67.67999999999999,55.8}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{67.67999999999999,0},{67.67999999999999,55.8}}</string>
        <key>offset</key>
        <string>{1.6200000000000045,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,73.08},{67.67999999999999,55.8}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{135.35999999999999,0},{67.67999999999999,55.8}}</string>
        <key>offset</key>
        <string>{1.6200000000000045,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,73.08},{67.67999999999999,55.8}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{203.04,0},{67.32,56.519999999999996}}</string>
        <key>offset</key>
        <string>{1.8000000000000114,-28.080000000000013}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.68,72.36},{67.32,56.519999999999996}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,55.8},{67.32,55.08}}</string>
        <key>offset</key>
        <string>{1.8000000000000114,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.68,73.44},{67.32,55.08}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{67.32,55.8},{67.32,55.08}}</string>
        <key>offset</key>
        <string>{1.8000000000000114,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.68,73.44},{67.32,55.08}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{134.64,55.8},{66.96,56.519999999999996}}</string>
        <key>offset</key>
        <string>{1.980000000000004,-28.080000000000013}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.04,72.36},{66.96,56.519999999999996}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,110.88},{66.24,56.879999999999995}}</string>
        <key>offset</key>
        <string>{1.980000000000004,-27.540000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.4,71.64},{66.24,56.879999999999995}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{66.24,110.88},{66.24,55.08}}</string>
        <key>offset</key>
        <string>{2.3400000000000034,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.76,73.44},{66.24,55.08}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{270.36,0},{66.24,55.08}}</string>
        <key>offset</key>
        <string>{2.3400000000000034,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.76,73.44},{66.24,55.08}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{336.59999999999997,0},{65.88,56.879999999999995}}</string>
        <key>offset</key>
        <string>{2.1599999999999966,-27.540000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.76,71.64},{65.88,56.879999999999995}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{270.36,55.08},{65.16,57.239999999999995}}</string>
        <key>offset</key>
        <string>{2.5200000000000102,-27.360000000000014}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.48,71.28},{65.16,57.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{201.6,56.519999999999996},{64.44,57.599999999999994}}</string>
        <key>offset</key>
        <string>{2.5200000000000102,-27.180000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,70.92},{64.44,57.599999999999994}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{201.6,114.11999999999999},{63.72,54.36}}</string>
        <key>offset</key>
        <string>{3.6000000000000085,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44.28,73.8},{63.72,54.36}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier2_walk.png</string>
      <key>size</key>
      <string>{402,168}</string>
      <key>textureFileName</key>
      <string>Soldier2_walk</string>
    </dict>
  </dict>
</plist>
