<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier1_walk (31)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{60.12,93.6}}</string>
        <key>offset</key>
        <string>{-8.820000000000007,-32.39999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51.12,75.6},{60.12,93.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (30)</key>
      <dict>
        <key>frame</key>
        <string>{{0,93.6},{61.199999999999996,92.88}}</string>
        <key>offset</key>
        <string>{-7.200000000000003,-33.11999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,76.67999999999999},{61.199999999999996,92.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{60.12,0},{77.39999999999999,92.16}}</string>
        <key>offset</key>
        <string>{1.6199999999999903,-33.11999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.919999999999995,77.03999999999999},{77.39999999999999,92.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,186.48},{76.67999999999999,92.16}}</string>
        <key>offset</key>
        <string>{0.8999999999999915,-33.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.559999999999995,77.39999999999999},{76.67999999999999,92.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (29)</key>
      <dict>
        <key>frame</key>
        <string>{{61.199999999999996,92.16},{61.559999999999995,92.16}}</string>
        <key>offset</key>
        <string>{-5.579999999999998,-33.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53.64,77.39999999999999},{61.559999999999995,92.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (33)</key>
      <dict>
        <key>frame</key>
        <string>{{0,278.64},{61.559999999999995,92.16}}</string>
        <key>offset</key>
        <string>{-5.579999999999998,-33.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53.64,77.39999999999999},{61.559999999999995,92.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (28)</key>
      <dict>
        <key>frame</key>
        <string>{{0,370.8},{61.199999999999996,91.8}}</string>
        <key>offset</key>
        <string>{-4.320000000000007,-34.01999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.08,78.11999999999999},{61.199999999999996,91.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,462.59999999999997},{75.96,91.44}}</string>
        <key>offset</key>
        <string>{0.1799999999999926,-33.83999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,78.11999999999999},{75.96,91.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{61.199999999999996,370.8},{74.52,91.44}}</string>
        <key>offset</key>
        <string>{-0.5400000000000063,-34.2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,78.48},{74.52,91.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (27)</key>
      <dict>
        <key>frame</key>
        <string>{{61.559999999999995,278.64},{60.48,91.08}}</string>
        <key>offset</key>
        <string>{-3.240000000000009,-34.379999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,78.84},{60.48,91.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (15)</key>
      <dict>
        <key>frame</key>
        <string>{{122.03999999999999,278.64},{73.08,90.72}}</string>
        <key>offset</key>
        <string>{-0.9000000000000057,-34.56}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.559999999999995,79.2},{73.08,90.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (16)</key>
      <dict>
        <key>frame</key>
        <string>{{76.67999999999999,184.32},{71.28,90}}</string>
        <key>offset</key>
        <string>{-1.4399999999999977,-34.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.919999999999995,79.92},{71.28,90}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{122.75999999999999,92.16},{71.28,90}}</string>
        <key>offset</key>
        <string>{-1.4399999999999977,-34.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.919999999999995,79.92},{71.28,90}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (26)</key>
      <dict>
        <key>frame</key>
        <string>{{137.51999999999998,0},{59.4,90}}</string>
        <key>offset</key>
        <string>{-2.3400000000000034,-34.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57.96,79.92},{59.4,90}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (17)</key>
      <dict>
        <key>frame</key>
        <string>{{147.96,182.16},{68.75999999999999,89.64}}</string>
        <key>offset</key>
        <string>{-1.6200000000000045,-35.46000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,80.64},{68.75999999999999,89.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (25)</key>
      <dict>
        <key>frame</key>
        <string>{{195.12,90},{58.32,89.64}}</string>
        <key>offset</key>
        <string>{-1.7999999999999972,-35.46000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{59.04,80.64},{58.32,89.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (18)</key>
      <dict>
        <key>frame</key>
        <string>{{216.72,0},{66.6,88.56}}</string>
        <key>offset</key>
        <string>{-1.6200000000000045,-36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.08,81.72},{66.6,88.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (24)</key>
      <dict>
        <key>frame</key>
        <string>{{253.44,88.56},{56.879999999999995,88.56}}</string>
        <key>offset</key>
        <string>{-1.4399999999999977,-36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{60.12,81.72},{56.879999999999995,88.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (19)</key>
      <dict>
        <key>frame</key>
        <string>{{283.32,0},{64.08,87.84}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-36.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.16,82.44},{64.08,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,554.04},{64.08,87.84}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-36.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.16,82.44},{64.08,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (23)</key>
      <dict>
        <key>frame</key>
        <string>{{0,641.88},{54.72,87.47999999999999}}</string>
        <key>offset</key>
        <string>{-1.4399999999999977,-36.53999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61.199999999999996,82.8},{54.72,87.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (39)</key>
      <dict>
        <key>frame</key>
        <string>{{54.72,641.88},{54.72,87.47999999999999}}</string>
        <key>offset</key>
        <string>{-1.4399999999999977,-36.53999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61.199999999999996,82.8},{54.72,87.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{64.08,554.04},{61.199999999999996,87.11999999999999}}</string>
        <key>offset</key>
        <string>{-2.160000000000011,-37.079999999999984}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57.239999999999995,83.52},{61.199999999999996,87.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{109.44,462.24},{52.199999999999996,86.75999999999999}}</string>
        <key>offset</key>
        <string>{-1.2600000000000051,-37.25999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62.64,83.88},{52.199999999999996,86.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (22)</key>
      <dict>
        <key>frame</key>
        <string>{{135.72,369.36},{52.199999999999996,86.75999999999999}}</string>
        <key>offset</key>
        <string>{-1.2600000000000051,-37.25999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62.64,83.88},{52.199999999999996,86.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (21)</key>
      <dict>
        <key>frame</key>
        <string>{{109.44,641.16},{58.32,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-2.1599999999999966,-37.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{58.68,84.6},{58.32,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,186.48},{76.67999999999999,92.16}}</string>
        <key>offset</key>
        <string>{0.8999999999999915,-33.47999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.559999999999995,77.39999999999999},{76.67999999999999,92.16}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,462.59999999999997},{75.96,91.44}}</string>
        <key>offset</key>
        <string>{0.1799999999999926,-33.83999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,78.11999999999999},{75.96,91.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{61.199999999999996,370.8},{74.52,91.44}}</string>
        <key>offset</key>
        <string>{-0.5400000000000063,-34.2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,78.48},{74.52,91.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{122.03999999999999,278.64},{73.08,90.72}}</string>
        <key>offset</key>
        <string>{-0.9000000000000057,-34.56}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.559999999999995,79.2},{73.08,90.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{147.96,182.16},{68.75999999999999,89.64}}</string>
        <key>offset</key>
        <string>{-1.6200000000000045,-35.46000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,80.64},{68.75999999999999,89.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{216.72,0},{66.6,88.56}}</string>
        <key>offset</key>
        <string>{-1.6200000000000045,-36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.08,81.72},{66.6,88.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (20)</key>
      <dict>
        <key>frame</key>
        <string>{{64.08,554.04},{61.199999999999996,87.11999999999999}}</string>
        <key>offset</key>
        <string>{-2.160000000000011,-37.079999999999984}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57.239999999999995,83.52},{61.199999999999996,87.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (38)</key>
      <dict>
        <key>frame</key>
        <string>{{253.44,88.56},{56.879999999999995,88.56}}</string>
        <key>offset</key>
        <string>{-1.4399999999999977,-36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{60.12,81.72},{56.879999999999995,88.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (37)</key>
      <dict>
        <key>frame</key>
        <string>{{195.12,90},{58.32,89.64}}</string>
        <key>offset</key>
        <string>{-1.7999999999999972,-35.46000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{59.04,80.64},{58.32,89.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (36)</key>
      <dict>
        <key>frame</key>
        <string>{{137.51999999999998,0},{59.4,90}}</string>
        <key>offset</key>
        <string>{-2.3400000000000034,-34.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57.96,79.92},{59.4,90}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (35)</key>
      <dict>
        <key>frame</key>
        <string>{{61.559999999999995,278.64},{60.48,91.08}}</string>
        <key>offset</key>
        <string>{-3.240000000000009,-34.379999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.519999999999996,78.84},{60.48,91.08}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (34)</key>
      <dict>
        <key>frame</key>
        <string>{{0,370.8},{61.199999999999996,91.8}}</string>
        <key>offset</key>
        <string>{-4.320000000000007,-34.01999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.08,78.11999999999999},{61.199999999999996,91.8}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_walk (32)</key>
      <dict>
        <key>frame</key>
        <string>{{0,93.6},{61.199999999999996,92.88}}</string>
        <key>offset</key>
        <string>{-7.200000000000003,-33.11999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,76.67999999999999},{61.199999999999996,92.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier1_walk.png</string>
      <key>size</key>
      <string>{347,729}</string>
      <key>textureFileName</key>
      <string>Soldier1_walk</string>
    </dict>
  </dict>
</plist>
