<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier3_attack (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{32.4,55.08}}</string>
        <key>offset</key>
        <string>{4.32,-15.300000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,46.08},{32.4,55.08}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,55.08},{46.8,52.199999999999996}}</string>
        <key>offset</key>
        <string>{16.199999999999996,-16.740000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51.12,48.96},{46.8,52.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (10)</key>
      <dict>
        <key>frame</key>
        <string>{{32.4,0},{42.839999999999996,51.839999999999996}}</string>
        <key>offset</key>
        <string>{13.499999999999993,-16.919999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50.4,49.32},{42.839999999999996,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,107.28},{36,51.839999999999996}}</string>
        <key>offset</key>
        <string>{9.719999999999992,-16.919999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50.04,49.32},{36,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,159.12},{30.959999999999997,51.839999999999996}}</string>
        <key>offset</key>
        <string>{6.119999999999997,-16.919999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.96,49.32},{30.959999999999997,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,210.95999999999998},{30.599999999999998,51.839999999999996}}</string>
        <key>offset</key>
        <string>{6.660000000000004,-16.919999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.68,49.32},{30.599999999999998,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,262.8},{36.72,51.48}}</string>
        <key>offset</key>
        <string>{8.640000000000008,-17.1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.6,49.68},{36.72,51.48}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (5)</key>
      <dict>
        <key>frame</key>
        <string>{{30.599999999999998,210.95999999999998},{31.32,51.48}}</string>
        <key>offset</key>
        <string>{5.579999999999991,-17.46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,50.04},{31.32,51.48}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (4)</key>
      <dict>
        <key>frame</key>
        <string>{{30.959999999999997,159.12},{32.04,51.12}}</string>
        <key>offset</key>
        <string>{5.219999999999992,-17.639999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.519999999999996,50.4},{32.04,51.12}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (6)</key>
      <dict>
        <key>frame</key>
        <string>{{36,107.28},{31.32,51.12}}</string>
        <key>offset</key>
        <string>{5.940000000000005,-17.279999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.6,50.04},{31.32,51.12}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (3)</key>
      <dict>
        <key>frame</key>
        <string>{{46.8,51.839999999999996},{33.839999999999996,50.76}}</string>
        <key>offset</key>
        <string>{3.960000000000001,-17.82}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45.36,50.76},{33.839999999999996,50.76}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (14)</key>
      <dict>
        <key>frame</key>
        <string>{{75.24,0},{34.56,50.4}}</string>
        <key>offset</key>
        <string>{2.519999999999996,-17.999999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,51.12},{34.56,50.4}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (2)</key>
      <dict>
        <key>frame</key>
        <string>{{67.32,102.6},{33.48,50.4}}</string>
        <key>offset</key>
        <string>{4.1399999999999935,-17.999999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45.72,51.12},{33.48,50.4}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (20)</key>
      <dict>
        <key>frame</key>
        <string>{{80.64,50.4},{35.28,50.04}}</string>
        <key>offset</key>
        <string>{3.960000000000001,-18.18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44.64,51.48},{35.28,50.04}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (1)</key>
      <dict>
        <key>frame</key>
        <string>{{109.8,0},{34.56,50.04}}</string>
        <key>offset</key>
        <string>{5.399999999999999,-18.18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,51.48},{34.56,50.04}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,314.28},{36.36,49.68}}</string>
        <key>offset</key>
        <string>{3.059999999999995,-18.359999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,51.839999999999996},{36.36,49.68}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,363.96},{42.12,48.96}}</string>
        <key>offset</key>
        <string>{-0.5399999999999991,-18.71999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.72,52.559999999999995},{42.12,48.96}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (18)</key>
      <dict>
        <key>frame</key>
        <string>{{36.36,314.28},{37.8,48.96}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-18.71999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41.76,52.559999999999995},{37.8,48.96}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (17)</key>
      <dict>
        <key>frame</key>
        <string>{{36.72,262.44},{39.24,48.239999999999995}}</string>
        <key>offset</key>
        <string>{1.6199999999999974,-19.080000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,53.28},{39.24,48.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_attack (16)</key>
      <dict>
        <key>frame</key>
        <string>{{61.919999999999995,210.23999999999998},{40.32,47.519999999999996}}</string>
        <key>offset</key>
        <string>{1.0800000000000054,-19.43999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39.24,54},{40.32,47.519999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier3_attack.png</string>
      <key>size</key>
      <string>{144,413}</string>
      <key>textureFileName</key>
      <string>Soldier3_attack</string>
    </dict>
  </dict>
</plist>
