<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier1_attack (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{86.03999999999999,119.52}}</string>
        <key>offset</key>
        <string>{14.939999999999998,-19.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61.919999999999995,49.68},{86.03999999999999,119.52}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,119.52},{88.92,116.64}}</string>
        <key>offset</key>
        <string>{13.14,-21.239999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{58.68,52.919999999999995},{88.92,116.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (14)</key>
      <dict>
        <key>frame</key>
        <string>{{86.03999999999999,0},{68.39999999999999,114.11999999999999}}</string>
        <key>offset</key>
        <string>{-10.800000000000011,-23.22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45,56.16},{68.39999999999999,114.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,236.16},{91.8,113.03999999999999}}</string>
        <key>offset</key>
        <string>{10.259999999999991,-23.039999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,56.519999999999996},{91.8,113.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (13)</key>
      <dict>
        <key>frame</key>
        <string>{{88.92,114.11999999999999},{87.11999999999999,112.32}}</string>
        <key>offset</key>
        <string>{0.3599999999999852,-23.75999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.8,57.599999999999994},{87.11999999999999,112.32}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (9)</key>
      <dict>
        <key>frame</key>
        <string>{{154.44,0},{94.67999999999999,109.44}}</string>
        <key>offset</key>
        <string>{7.019999999999996,-24.840000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.68,60.12},{94.67999999999999,109.44}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,349.2},{55.8,106.56}}</string>
        <key>offset</key>
        <string>{-7.3799999999999955,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.72,64.44},{55.8,106.56}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,455.76},{95.03999999999999,105.83999999999999}}</string>
        <key>offset</key>
        <string>{4.319999999999993,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.8,64.08},{95.03999999999999,105.83999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (7)</key>
      <dict>
        <key>frame</key>
        <string>{{55.8,349.2},{93.24,102.6}}</string>
        <key>offset</key>
        <string>{1.6200000000000045,-28.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45,67.32},{93.24,102.6}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (6)</key>
      <dict>
        <key>frame</key>
        <string>{{91.8,226.44},{89.28,99.72}}</string>
        <key>offset</key>
        <string>{-0.35999999999999943,-30.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45,70.56},{89.28,99.72}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (17)</key>
      <dict>
        <key>frame</key>
        <string>{{176.04,109.44},{96.47999999999999,99.36}}</string>
        <key>offset</key>
        <string>{-14.760000000000005,-32.03999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,72.36},{96.47999999999999,99.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (18)</key>
      <dict>
        <key>frame</key>
        <string>{{249.12,0},{96.47999999999999,99.36}}</string>
        <key>offset</key>
        <string>{-14.760000000000005,-32.03999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,72.36},{96.47999999999999,99.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,561.6},{96.47999999999999,99.36}}</string>
        <key>offset</key>
        <string>{-14.760000000000005,-32.03999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,72.36},{96.47999999999999,99.36}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,660.9599999999999},{75.24,92.88}}</string>
        <key>offset</key>
        <string>{-2.3400000000000034,-33.83999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{50.04,77.39999999999999},{75.24,92.88}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (23)</key>
      <dict>
        <key>frame</key>
        <string>{{92.88,660.9599999999999},{75.24,87.47999999999999}}</string>
        <key>offset</key>
        <string>{-16.74000000000001,-37.25999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{35.64,83.52},{75.24,87.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (24)</key>
      <dict>
        <key>frame</key>
        <string>{{180.35999999999999,660.9599999999999},{70.92,87.11999999999999}}</string>
        <key>offset</key>
        <string>{-13.14,-37.44}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{41.4,83.88},{70.92,87.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (3)</key>
      <dict>
        <key>frame</key>
        <string>{{267.48,660.9599999999999},{67.32,89.64}}</string>
        <key>offset</key>
        <string>{-2.3400000000000034,-35.81999999999999}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{54,81},{67.32,89.64}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (20)</key>
      <dict>
        <key>frame</key>
        <string>{{95.03999999999999,451.8},{96.47999999999999,99}}</string>
        <key>offset</key>
        <string>{-14.760000000000005,-31.86}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,72.36},{96.47999999999999,99}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (21)</key>
      <dict>
        <key>frame</key>
        <string>{{96.47999999999999,550.8},{96.47999999999999,99}}</string>
        <key>offset</key>
        <string>{-14.760000000000005,-31.86}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,72.36},{96.47999999999999,99}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (5)</key>
      <dict>
        <key>frame</key>
        <string>{{149.04,326.15999999999997},{82.8,96.47999999999999}}</string>
        <key>offset</key>
        <string>{-1.8000000000000114,-32.03999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.8,73.8},{82.8,96.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (22)</key>
      <dict>
        <key>frame</key>
        <string>{{192.95999999999998,208.79999999999998},{80.28,87.84}}</string>
        <key>offset</key>
        <string>{-19.980000000000004,-37.44}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.88,83.52},{80.28,87.84}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (25)</key>
      <dict>
        <key>frame</key>
        <string>{{272.52,99.36},{66.96,87.11999999999999}}</string>
        <key>offset</key>
        <string>{-9.360000000000014,-37.44}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.16,83.88},{66.96,87.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (1)</key>
      <dict>
        <key>frame</key>
        <string>{{191.51999999999998,422.64},{62.64,86.75999999999999}}</string>
        <key>offset</key>
        <string>{-5.760000000000005,-37.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.919999999999995,84.24},{62.64,86.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (16)</key>
      <dict>
        <key>frame</key>
        <string>{{231.84,296.64},{63,86.39999999999999}}</string>
        <key>offset</key>
        <string>{-13.86,-38.16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44.64,84.96},{63,86.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>Soldier1_attack (2)</key>
      <dict>
        <key>frame</key>
        <string>{{273.24,186.48},{58.32,86.03999999999999}}</string>
        <key>offset</key>
        <string>{-2.1599999999999966,-37.61999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{58.68,84.6},{58.32,86.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier1_attack.png</string>
      <key>size</key>
      <string>{357,736}</string>
      <key>textureFileName</key>
      <string>Soldier1_attack</string>
    </dict>
  </dict>
</plist>
