<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier2_die (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{67.67999999999999,55.8}}</string>
        <key>offset</key>
        <string>{1.6200000000000045,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,73.08},{67.67999999999999,55.8}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (2)</key>
      <dict>
        <key>frame</key>
        <string>{{67.67999999999999,0},{67.32,56.519999999999996}}</string>
        <key>offset</key>
        <string>{4.319999999999993,-28.080000000000013}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.199999999999996,72.36},{67.32,56.519999999999996}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,55.8},{66.6,57.239999999999995}}</string>
        <key>offset</key>
        <string>{6.840000000000003,-27.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.08,71.64},{66.6,57.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (4)</key>
      <dict>
        <key>frame</key>
        <string>{{135,0},{65.52,57.96}}</string>
        <key>offset</key>
        <string>{9.900000000000006,-27.360000000000014}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.68,70.92},{65.52,57.96}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (5)</key>
      <dict>
        <key>frame</key>
        <string>{{66.6,56.519999999999996},{64.08,57.96}}</string>
        <key>offset</key>
        <string>{12.780000000000001,-27.000000000000014}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53.28,70.56},{64.08,57.96}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,113.03999999999999},{62.64,58.32}}</string>
        <key>offset</key>
        <string>{15.659999999999997,-26.820000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56.879999999999995,70.2},{62.64,58.32}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (20)</key>
      <dict>
        <key>frame</key>
        <string>{{200.51999999999998,0},{61.199999999999996,48.96}}</string>
        <key>offset</key>
        <string>{26.099999999999994,-36.18000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,84.24},{61.199999999999996,48.96}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (21)</key>
      <dict>
        <key>frame</key>
        <string>{{261.71999999999997,0},{61.199999999999996,48.6}}</string>
        <key>offset</key>
        <string>{26.459999999999994,-35.64}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,83.88},{61.199999999999996,48.6}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (7)</key>
      <dict>
        <key>frame</key>
        <string>{{322.92,0},{60.48,58.32}}</string>
        <key>offset</key>
        <string>{18.900000000000006,-26.820000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61.199999999999996,70.2},{60.48,58.32}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (18)</key>
      <dict>
        <key>frame</key>
        <string>{{261.71999999999997,48.6},{60.48,48.6}}</string>
        <key>offset</key>
        <string>{25.739999999999995,-37.44}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,85.67999999999999},{60.48,48.6}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (19)</key>
      <dict>
        <key>frame</key>
        <string>{{200.51999999999998,48.96},{60.48,48.6}}</string>
        <key>offset</key>
        <string>{26.099999999999994,-36.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,84.96},{60.48,48.6}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (25)</key>
      <dict>
        <key>frame</key>
        <string>{{130.68,57.96},{60.12,48.239999999999995}}</string>
        <key>offset</key>
        <string>{25.92,-37.620000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,86.03999999999999},{60.12,48.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (10)</key>
      <dict>
        <key>frame</key>
        <string>{{130.68,106.2},{59.04,58.68}}</string>
        <key>offset</key>
        <string>{21.060000000000002,-26.640000000000015}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64.08,69.84},{59.04,58.68}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (14)</key>
      <dict>
        <key>frame</key>
        <string>{{62.64,114.47999999999999},{56.16,57.96}}</string>
        <key>offset</key>
        <string>{28.980000000000004,-27.000000000000014}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{73.44,70.56},{56.16,57.96}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (13)</key>
      <dict>
        <key>frame</key>
        <string>{{62.64,170.64},{53.64,57.96}}</string>
        <key>offset</key>
        <string>{27.72,-27.000000000000014}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{73.44,70.56},{53.64,57.96}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,171.35999999999999},{53.28,57.96}}</string>
        <key>offset</key>
        <string>{25.38000000000001,-27.000000000000014}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{71.28,70.56},{53.28,57.96}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,224.64},{57.239999999999995,48.6}}</string>
        <key>offset</key>
        <string>{27.72,-35.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{71.64,83.52},{57.239999999999995,48.6}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (15)</key>
      <dict>
        <key>frame</key>
        <string>{{383.4,0},{56.16,54.72}}</string>
        <key>offset</key>
        <string>{28.980000000000004,-28.620000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.44,73.8},{56.16,54.72}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (16)</key>
      <dict>
        <key>frame</key>
        <string>{{439.56,0},{55.8,48.96}}</string>
        <key>offset</key>
        <string>{28.80000000000001,-31.860000000000014}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73.44,79.92},{55.8,48.96}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (11)</key>
      <dict>
        <key>frame</key>
        <string>{{130.68,106.2},{59.04,58.68}}</string>
        <key>offset</key>
        <string>{21.060000000000002,-26.640000000000015}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64.08,69.84},{59.04,58.68}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (8)</key>
      <dict>
        <key>frame</key>
        <string>{{130.68,106.2},{59.04,58.68}}</string>
        <key>offset</key>
        <string>{21.060000000000002,-26.640000000000015}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64.08,69.84},{59.04,58.68}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (9)</key>
      <dict>
        <key>frame</key>
        <string>{{130.68,106.2},{59.04,58.68}}</string>
        <key>offset</key>
        <string>{21.060000000000002,-26.640000000000015}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64.08,69.84},{59.04,58.68}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (24)</key>
      <dict>
        <key>frame</key>
        <string>{{261.71999999999997,48.6},{60.48,48.6}}</string>
        <key>offset</key>
        <string>{25.739999999999995,-37.44}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,85.67999999999999},{60.48,48.6}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (23)</key>
      <dict>
        <key>frame</key>
        <string>{{200.51999999999998,48.96},{60.48,48.6}}</string>
        <key>offset</key>
        <string>{26.099999999999994,-36.72}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,84.96},{60.48,48.6}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (22)</key>
      <dict>
        <key>frame</key>
        <string>{{200.51999999999998,0},{61.199999999999996,48.96}}</string>
        <key>offset</key>
        <string>{26.099999999999994,-36.18000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.03999999999999,84.24},{61.199999999999996,48.96}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (26)</key>
      <dict>
        <key>frame</key>
        <string>{{130.68,57.96},{60.12,48.239999999999995}}</string>
        <key>offset</key>
        <string>{25.92,-37.620000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,86.03999999999999},{60.12,48.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (27)</key>
      <dict>
        <key>frame</key>
        <string>{{130.68,57.96},{60.12,48.239999999999995}}</string>
        <key>offset</key>
        <string>{25.92,-37.620000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,86.03999999999999},{60.12,48.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (28)</key>
      <dict>
        <key>frame</key>
        <string>{{130.68,57.96},{60.12,48.239999999999995}}</string>
        <key>offset</key>
        <string>{25.92,-37.620000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,86.03999999999999},{60.12,48.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (29)</key>
      <dict>
        <key>frame</key>
        <string>{{130.68,57.96},{60.12,48.239999999999995}}</string>
        <key>offset</key>
        <string>{25.92,-37.620000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,86.03999999999999},{60.12,48.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_die (30)</key>
      <dict>
        <key>frame</key>
        <string>{{130.68,57.96},{60.12,48.239999999999995}}</string>
        <key>offset</key>
        <string>{25.92,-37.620000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68.39999999999999,86.03999999999999},{60.12,48.239999999999995}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier2_die.png</string>
      <key>size</key>
      <string>{495,273}</string>
      <key>textureFileName</key>
      <string>Soldier2_die</string>
    </dict>
  </dict>
</plist>
