<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier3_walk (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{28.439999999999998,52.199999999999996}}</string>
        <key>offset</key>
        <string>{5.939999999999991,-16.740000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50.04,48.96},{28.439999999999998,52.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,52.199999999999996},{37.8,51.839999999999996}}</string>
        <key>offset</key>
        <string>{7.379999999999988,-16.199999999999996}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.8,48.6},{37.8,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (6)</key>
      <dict>
        <key>frame</key>
        <string>{{28.439999999999998,0},{36.36,51.839999999999996}}</string>
        <key>offset</key>
        <string>{7.379999999999988,-16.559999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.519999999999996,48.96},{36.36,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,104.03999999999999},{30.24,51.839999999999996}}</string>
        <key>offset</key>
        <string>{5.039999999999992,-16.919999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,49.32},{30.24,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,155.88},{30.24,51.839999999999996}}</string>
        <key>offset</key>
        <string>{5.039999999999992,-16.919999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.239999999999995,49.32},{30.24,51.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,207.72},{36.36,51.48}}</string>
        <key>offset</key>
        <string>{7.379999999999988,-16.380000000000003}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.519999999999996,48.96},{36.36,51.48}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (5)</key>
      <dict>
        <key>frame</key>
        <string>{{30.24,104.03999999999999},{36,51.48}}</string>
        <key>offset</key>
        <string>{6.839999999999996,-17.1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.16,49.68},{36,51.48}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (15)</key>
      <dict>
        <key>frame</key>
        <string>{{37.8,51.839999999999996},{31.68,51.48}}</string>
        <key>offset</key>
        <string>{4.32,-17.1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.8,49.68},{31.68,51.48}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (19)</key>
      <dict>
        <key>frame</key>
        <string>{{66.24,0},{31.68,51.48}}</string>
        <key>offset</key>
        <string>{4.32,-17.1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.8,49.68},{31.68,51.48}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (9)</key>
      <dict>
        <key>frame</key>
        <string>{{97.92,0},{36,51.12}}</string>
        <key>offset</key>
        <string>{6.839999999999996,-16.559999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.16,49.32},{36,51.12}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (14)</key>
      <dict>
        <key>frame</key>
        <string>{{133.92,0},{32.4,51.12}}</string>
        <key>offset</key>
        <string>{3.960000000000001,-17.639999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.08,50.4},{32.4,51.12}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (20)</key>
      <dict>
        <key>frame</key>
        <string>{{30.24,155.51999999999998},{32.4,51.12}}</string>
        <key>offset</key>
        <string>{3.960000000000001,-17.639999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.08,50.4},{32.4,51.12}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,259.2},{35.64,50.76}}</string>
        <key>offset</key>
        <string>{5.939999999999991,-16.740000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,49.68},{35.64,50.76}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,309.96},{35.64,50.76}}</string>
        <key>offset</key>
        <string>{6.300000000000004,-17.46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.8,50.4},{35.64,50.76}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,360.71999999999997},{35.28,50.76}}</string>
        <key>offset</key>
        <string>{5.399999999999999,-17.1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.08,50.04},{35.28,50.76}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,411.47999999999996},{35.28,50.4}}</string>
        <key>offset</key>
        <string>{5.759999999999998,-17.999999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,51.12},{35.28,50.4}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,461.88},{31.68,50.4}}</string>
        <key>offset</key>
        <string>{4.32,-17.999999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.8,51.12},{31.68,50.4}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,512.28},{31.68,50.4}}</string>
        <key>offset</key>
        <string>{4.32,-17.999999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.8,51.12},{31.68,50.4}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,562.68},{34.56,50.04}}</string>
        <key>offset</key>
        <string>{5.399999999999999,-18.54}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,51.839999999999996},{34.56,50.04}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_walk (2)</key>
      <dict>
        <key>frame</key>
        <string>{{31.68,461.88},{34.56,50.04}}</string>
        <key>offset</key>
        <string>{5.399999999999999,-18.54}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,51.839999999999996},{34.56,50.04}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier3_walk.png</string>
      <key>size</key>
      <string>{166,613}</string>
      <key>textureFileName</key>
      <string>Soldier3_walk</string>
    </dict>
  </dict>
</plist>
