<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier4_die (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{77.03999999999999,102.6}}</string>
        <key>offset</key>
        <string>{6.660000000000011,-12.600000000000009}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.32,42.48},{77.03999999999999,102.6}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,102.6},{79.56,101.88}}</string>
        <key>offset</key>
        <string>{7.5600000000000165,-12.600000000000009}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48.96,42.839999999999996},{79.56,101.88}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (6)</key>
      <dict>
        <key>frame</key>
        <string>{{77.03999999999999,0},{73.44,101.88}}</string>
        <key>offset</key>
        <string>{5.220000000000013,-12.959999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49.68,43.199999999999996},{73.44,101.88}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,204.48},{68.39999999999999,100.44}}</string>
        <key>offset</key>
        <string>{3.0600000000000023,-14.040000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50.04,45},{68.39999999999999,100.44}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,304.92},{80.28,99.72}}</string>
        <key>offset</key>
        <string>{9.000000000000014,-13.680000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50.04,45},{80.28,99.72}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (4)</key>
      <dict>
        <key>frame</key>
        <string>{{68.39999999999999,204.48},{65.16,97.2}}</string>
        <key>offset</key>
        <string>{-1.0799999999999983,-16.02000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47.519999999999996,48.6},{65.16,97.2}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (10)</key>
      <dict>
        <key>frame</key>
        <string>{{79.56,101.88},{79.56,96.84}}</string>
        <key>offset</key>
        <string>{10.079999999999998,-15.120000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51.48,47.879999999999995},{79.56,96.84}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (11)</key>
      <dict>
        <key>frame</key>
        <string>{{150.48,0},{78.11999999999999,93.96}}</string>
        <key>offset</key>
        <string>{11.16000000000001,-16.560000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53.28,50.76},{78.11999999999999,93.96}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,404.64},{66.96,92.16}}</string>
        <key>offset</key>
        <string>{-4.859999999999999,-18.540000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,53.64},{66.96,92.16}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,496.79999999999995},{78.48,90}}</string>
        <key>offset</key>
        <string>{10.260000000000005,-19.260000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,55.44},{78.48,90}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (14)</key>
      <dict>
        <key>frame</key>
        <string>{{66.96,404.64},{86.39999999999999,60.48}}</string>
        <key>offset</key>
        <string>{13.5,-35.459999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51.48,86.39999999999999},{86.39999999999999,60.48}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (15)</key>
      <dict>
        <key>frame</key>
        <string>{{80.28,301.68},{86.39999999999999,53.28}}</string>
        <key>offset</key>
        <string>{13.14,-39.06}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51.12,93.6},{86.39999999999999,53.28}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,586.8},{69.48,85.67999999999999}}</string>
        <key>offset</key>
        <string>{-7.920000000000002,-22.14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.519999999999996,60.48},{69.48,85.67999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,672.48},{85.67999999999999,53.28}}</string>
        <key>offset</key>
        <string>{13.14,-38.7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51.48,93.24},{85.67999999999999,53.28}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,758.16},{84.24,53.64}}</string>
        <key>offset</key>
        <string>{12.780000000000001,-38.519999999999996}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51.839999999999996,92.88},{84.24,53.64}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (19)</key>
      <dict>
        <key>frame</key>
        <string>{{53.28,672.48},{83.52,53.64}}</string>
        <key>offset</key>
        <string>{12.420000000000002,-38.16000000000001}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51.839999999999996,92.52},{83.52,53.64}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (13)</key>
      <dict>
        <key>frame</key>
        <string>{{69.48,586.8},{82.8,79.2}}</string>
        <key>offset</key>
        <string>{12.420000000000002,-25.38000000000001}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,66.96},{82.8,79.2}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (17)</key>
      <dict>
        <key>frame</key>
        <string>{{78.48,491.03999999999996},{81.72,54}}</string>
        <key>offset</key>
        <string>{11.88000000000001,-37.980000000000004}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,92.16},{81.72,54}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (18)</key>
      <dict>
        <key>frame</key>
        <string>{{132.48,491.03999999999996},{81,54}}</string>
        <key>offset</key>
        <string>{11.519999999999996,-37.620000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{52.199999999999996,91.8},{81,54}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
      <key>Soldier4_die (1)</key>
      <dict>
        <key>frame</key>
        <string>{{127.44,388.08},{69.48,77.75999999999999}}</string>
        <key>offset</key>
        <string>{-10.079999999999998,-26.459999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36.36,68.75999999999999},{69.48,77.75999999999999}}</string>
        <key>sourceSize</key>
        <string>{162.35999999999999,162.35999999999999}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier4_die.png</string>
      <key>size</key>
      <string>{229,842}</string>
      <key>textureFileName</key>
      <string>Soldier4_die</string>
    </dict>
  </dict>
</plist>
