<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier3_freez (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{35.28,50.04}}</string>
        <key>offset</key>
        <string>{5.399999999999999,-18.18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.08,51.48},{35.28,50.04}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_freez (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,50.04},{34.92,50.04}}</string>
        <key>offset</key>
        <string>{5.579999999999998,-18.18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,51.48},{34.92,50.04}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_freez (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,100.08},{36,49.68}}</string>
        <key>offset</key>
        <string>{5.039999999999999,-18.359999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45.36,51.839999999999996},{36,49.68}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_freez (3)</key>
      <dict>
        <key>frame</key>
        <string>{{34.92,50.04},{35.64,49.68}}</string>
        <key>offset</key>
        <string>{5.219999999999999,-18.359999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45.72,51.839999999999996},{35.64,49.68}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_freez (5)</key>
      <dict>
        <key>frame</key>
        <string>{{35.28,0},{36,49.32}}</string>
        <key>offset</key>
        <string>{5.039999999999999,-18.54}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45.36,52.199999999999996},{36,49.32}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_freez (6)</key>
      <dict>
        <key>frame</key>
        <string>{{70.56,49.32},{36.36,48.96}}</string>
        <key>offset</key>
        <string>{4.859999999999999,-18.71999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45,52.559999999999995},{36.36,48.96}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_freez (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{35.28,50.04}}</string>
        <key>offset</key>
        <string>{5.399999999999999,-18.18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.08,51.48},{35.28,50.04}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_freez (9)</key>
      <dict>
        <key>frame</key>
        <string>{{34.92,50.04},{35.64,49.68}}</string>
        <key>offset</key>
        <string>{5.219999999999999,-18.359999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45.72,51.839999999999996},{35.64,49.68}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_freez (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,100.08},{36,49.68}}</string>
        <key>offset</key>
        <string>{5.039999999999999,-18.359999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45.36,51.839999999999996},{36,49.68}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_freez (7)</key>
      <dict>
        <key>frame</key>
        <string>{{35.28,0},{36,49.32}}</string>
        <key>offset</key>
        <string>{5.039999999999999,-18.54}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45.36,52.199999999999996},{36,49.32}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier3_freez.png</string>
      <key>size</key>
      <string>{107,150}</string>
      <key>textureFileName</key>
      <string>Soldier3_freez</string>
    </dict>
  </dict>
</plist>
