<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier2_attack (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{72.72,60.48}}</string>
        <key>offset</key>
        <string>{-9.899999999999991,-26.099999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26.279999999999998,68.39999999999999},{72.72,60.48}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (13)</key>
      <dict>
        <key>frame</key>
        <string>{{72.72,0},{72.72,60.12}}</string>
        <key>offset</key>
        <string>{-7.739999999999995,-26.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.439999999999998,68.75999999999999},{72.72,60.12}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (14)</key>
      <dict>
        <key>frame</key>
        <string>{{145.44,0},{72.72,59.76}}</string>
        <key>offset</key>
        <string>{-5.579999999999998,-26.460000000000008}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30.599999999999998,69.12},{72.72,59.76}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (11)</key>
      <dict>
        <key>frame</key>
        <string>{{218.16,0},{72,60.839999999999996}}</string>
        <key>offset</key>
        <string>{-12.059999999999988,-26.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24.48,68.39999999999999},{72,60.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (15)</key>
      <dict>
        <key>frame</key>
        <string>{{145.44,59.76},{71.64,59.04}}</string>
        <key>offset</key>
        <string>{-3.5999999999999943,-26.820000000000007}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33.12,69.84},{71.64,59.04}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (16)</key>
      <dict>
        <key>frame</key>
        <string>{{72.72,60.12},{70.56,57.96}}</string>
        <key>offset</key>
        <string>{-1.6199999999999903,-27.360000000000014}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35.64,70.92},{70.56,57.96}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,60.48},{69.12,60.48}}</string>
        <key>offset</key>
        <string>{-4.859999999999985,-26.099999999999994}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33.12,68.39999999999999},{69.12,60.48}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (17)</key>
      <dict>
        <key>frame</key>
        <string>{{69.12,118.08},{68.75999999999999,56.879999999999995}}</string>
        <key>offset</key>
        <string>{0.35999999999999943,-27.900000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38.519999999999996,72},{68.75999999999999,56.879999999999995}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,120.96},{67.67999999999999,55.8}}</string>
        <key>offset</key>
        <string>{1.6200000000000045,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40.32,73.08},{67.67999999999999,55.8}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (2)</key>
      <dict>
        <key>frame</key>
        <string>{{290.15999999999997,0},{64.8,55.8}}</string>
        <key>offset</key>
        <string>{3.4200000000000017,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.559999999999995,73.08},{64.8,55.8}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (3)</key>
      <dict>
        <key>frame</key>
        <string>{{354.96,0},{59.04,55.44}}</string>
        <key>offset</key>
        <string>{7.02000000000001,-28.620000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50.04,73.44},{59.04,55.44}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (9)</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{58.32,58.68}}</string>
        <key>offset</key>
        <string>{5.220000000000013,-26.640000000000015}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48.6,69.84},{58.32,58.68}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (8)</key>
      <dict>
        <key>frame</key>
        <string>{{354.96,55.44},{56.879999999999995,55.44}}</string>
        <key>offset</key>
        <string>{9.540000000000006,-28.260000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53.64,73.08},{56.879999999999995,55.44}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (4)</key>
      <dict>
        <key>frame</key>
        <string>{{290.15999999999997,58.32},{56.16,55.08}}</string>
        <key>offset</key>
        <string>{8.820000000000007,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53.28,73.44},{56.16,55.08}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (5)</key>
      <dict>
        <key>frame</key>
        <string>{{217.07999999999998,60.839999999999996},{56.16,55.08}}</string>
        <key>offset</key>
        <string>{9.540000000000006,-28.439999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,73.44},{56.16,55.08}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (6)</key>
      <dict>
        <key>frame</key>
        <string>{{217.07999999999998,115.92},{56.16,54.72}}</string>
        <key>offset</key>
        <string>{9.900000000000006,-28.620000000000005}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54.36,73.8},{56.16,54.72}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
      <key>Soldier2_attack (7)</key>
      <dict>
        <key>frame</key>
        <string>{{217.07999999999998,170.64},{55.8,54.36}}</string>
        <key>offset</key>
        <string>{10.439999999999998,-28.80000000000001}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55.08,74.16},{55.8,54.36}}</string>
        <key>sourceSize</key>
        <string>{145.07999999999998,145.07999999999998}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier2_attack.png</string>
      <key>size</key>
      <string>{473,225}</string>
      <key>textureFileName</key>
      <string>Soldier2_attack</string>
    </dict>
  </dict>
</plist>
