<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier3_die (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{34.56,50.04}}</string>
        <key>offset</key>
        <string>{5.399999999999999,-18.18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,51.48},{34.56,50.04}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,50.04},{34.56,48.6}}</string>
        <key>offset</key>
        <string>{5.399999999999999,-19.259999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,53.28},{34.56,48.6}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,98.64},{35.28,46.8}}</string>
        <key>offset</key>
        <string>{5.759999999999998,-20.15999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,55.08},{35.28,46.8}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (4)</key>
      <dict>
        <key>frame</key>
        <string>{{34.56,0},{36.36,45.36}}</string>
        <key>offset</key>
        <string>{6.300000000000004,-21.240000000000002}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,56.879999999999995},{36.36,45.36}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (8)</key>
      <dict>
        <key>frame</key>
        <string>{{34.56,45.36},{35.64,44.28}}</string>
        <key>offset</key>
        <string>{5.939999999999991,-24.300000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,60.48},{35.64,44.28}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,145.44},{35.64,44.28}}</string>
        <key>offset</key>
        <string>{4.859999999999999,-24.300000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45.36,60.48},{35.64,44.28}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (7)</key>
      <dict>
        <key>frame</key>
        <string>{{35.28,89.64},{37.08,43.92}}</string>
        <key>offset</key>
        <string>{6.6599999999999895,-24.119999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,60.48},{37.08,43.92}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (10)</key>
      <dict>
        <key>frame</key>
        <string>{{70.2,45.36},{36,43.92}}</string>
        <key>offset</key>
        <string>{3.6000000000000014,-24.119999999999997}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43.92,60.48},{36,43.92}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (5)</key>
      <dict>
        <key>frame</key>
        <string>{{72.36,0},{37.44,43.559999999999995}}</string>
        <key>offset</key>
        <string>{6.839999999999996,-22.139999999999993}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,58.68},{37.44,43.559999999999995}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (11)</key>
      <dict>
        <key>frame</key>
        <string>{{106.2,43.559999999999995},{35.64,43.199999999999996}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-23.759999999999998}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,60.48},{35.64,43.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (6)</key>
      <dict>
        <key>frame</key>
        <string>{{109.8,0},{38.16,42.839999999999996}}</string>
        <key>offset</key>
        <string>{7.199999999999996,-23.57999999999999}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46.44,60.48},{38.16,42.839999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (12)</key>
      <dict>
        <key>frame</key>
        <string>{{0,189.72},{35.64,41.4}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-24.660000000000004}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,62.28},{35.64,41.4}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,231.12},{35.64,39.6}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-25.559999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,64.08},{35.64,39.6}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,270.71999999999997},{35.64,37.8}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-26.46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,65.88},{35.64,37.8}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (15)</key>
      <dict>
        <key>frame</key>
        <string>{{0,308.52},{35.64,36}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-27.359999999999992}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,67.67999999999999},{35.64,36}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (16)</key>
      <dict>
        <key>frame</key>
        <string>{{0,344.52},{35.64,34.199999999999996}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-28.259999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,69.48},{35.64,34.199999999999996}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (17)</key>
      <dict>
        <key>frame</key>
        <string>{{0,380.15999999999997},{35.64,32.04}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-29.339999999999996}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,71.64},{35.64,32.04}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (18)</key>
      <dict>
        <key>frame</key>
        <string>{{0,415.8},{35.64,30.24}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-30.240000000000002}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,73.44},{35.64,30.24}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (19)</key>
      <dict>
        <key>frame</key>
        <string>{{0,451.44},{35.64,28.439999999999998}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-31.139999999999993}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,75.24},{35.64,28.439999999999998}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (20)</key>
      <dict>
        <key>frame</key>
        <string>{{0,487.08},{35.64,26.64}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-32.039999999999985}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,77.03999999999999},{35.64,26.64}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (21)</key>
      <dict>
        <key>frame</key>
        <string>{{0,522.72},{35.64,24.84}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-32.940000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,78.84},{35.64,24.84}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (22)</key>
      <dict>
        <key>frame</key>
        <string>{{0,522.72},{35.64,24.84}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-32.940000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,78.84},{35.64,24.84}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (23)</key>
      <dict>
        <key>frame</key>
        <string>{{0,522.72},{35.64,24.84}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-32.940000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,78.84},{35.64,24.84}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (24)</key>
      <dict>
        <key>frame</key>
        <string>{{0,522.72},{35.64,24.84}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-32.940000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,78.84},{35.64,24.84}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
      <key>Soldier3_die (25)</key>
      <dict>
        <key>frame</key>
        <string>{{0,522.72},{35.64,24.84}}</string>
        <key>offset</key>
        <string>{2.3399999999999963,-32.940000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42.839999999999996,78.84},{35.64,24.84}}</string>
        <key>sourceSize</key>
        <string>{116.64,116.64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier3_die.png</string>
      <key>size</key>
      <string>{148,558}</string>
      <key>textureFileName</key>
      <string>Soldier3_die</string>
    </dict>
  </dict>
</plist>
