<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Soldier5_poisoned (14)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130.68,142.92}}</string>
        <key>offset</key>
        <string>{5.939999999999998,-12.239999999999995}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.88,68.39999999999999},{130.68,142.92}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_poisoned (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,142.92},{140.04,119.88}}</string>
        <key>offset</key>
        <string>{8.819999999999993,-23.760000000000005}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{118.08,91.44},{140.04,119.88}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_poisoned (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,282.96},{139.68,114.47999999999999}}</string>
        <key>offset</key>
        <string>{8.640000000000015,-26.459999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{118.08,96.84},{139.68,114.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_poisoned (13)</key>
      <dict>
        <key>frame</key>
        <string>{{0,422.64},{132.12,139.32}}</string>
        <key>offset</key>
        <string>{6.659999999999997,-14.040000000000006}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.88,72},{132.12,139.32}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_poisoned (9)</key>
      <dict>
        <key>frame</key>
        <string>{{114.47999999999999,282.96},{138.6,123.47999999999999}}</string>
        <key>offset</key>
        <string>{8.460000000000008,-21.959999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{118.44,87.84},{138.6,123.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_poisoned (6)</key>
      <dict>
        <key>frame</key>
        <string>{{119.88,142.92},{138.24,113.03999999999999}}</string>
        <key>offset</key>
        <string>{8.280000000000001,-27.18000000000002}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{118.44,98.28},{138.24,113.03999999999999}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_poisoned (10)</key>
      <dict>
        <key>frame</key>
        <string>{{232.92,142.92},{136.79999999999998,127.44}}</string>
        <key>offset</key>
        <string>{7.9199999999999875,-19.980000000000004}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{118.8,83.88},{136.79999999999998,127.44}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_poisoned (5)</key>
      <dict>
        <key>frame</key>
        <string>{{232.92,0},{136.44,113.39999999999999}}</string>
        <key>offset</key>
        <string>{7.739999999999981,-27.000000000000014}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{118.8,97.92},{136.44,113.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_poisoned (12)</key>
      <dict>
        <key>frame</key>
        <string>{{346.32,0},{133.56,135.35999999999999}}</string>
        <key>offset</key>
        <string>{7.02000000000001,-16.019999999999996}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119.52,75.96},{133.56,135.35999999999999}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_poisoned (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,561.9599999999999},{135.35999999999999,131.4}}</string>
        <key>offset</key>
        <string>{7.559999999999974,-18.000000000000014}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{119.16,79.92},{135.35999999999999,131.4}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_poisoned (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,697.3199999999999},{135,114.11999999999999}}</string>
        <key>offset</key>
        <string>{7.3799999999999955,-26.64}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{119.16,97.2},{135,114.11999999999999}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_poisoned (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,832.3199999999999},{133.2,114.47999999999999}}</string>
        <key>offset</key>
        <string>{6.840000000000003,-26.459999999999994}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{119.52,96.84},{133.2,114.47999999999999}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_poisoned (2)</key>
      <dict>
        <key>frame</key>
        <string>{{114.11999999999999,697.3199999999999},{131.76,114.83999999999999}}</string>
        <key>offset</key>
        <string>{6.47999999999999,-26.279999999999987}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{119.88,96.47999999999999},{131.76,114.83999999999999}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
      <key>Soldier5_poisoned (1)</key>
      <dict>
        <key>frame</key>
        <string>{{131.4,561.9599999999999},{129.96,115.19999999999999}}</string>
        <key>offset</key>
        <string>{5.939999999999998,-26.09999999999998}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{120.24,96.11999999999999},{129.96,115.19999999999999}}</string>
        <key>sourceSize</key>
        <string>{358.56,255.23999999999998}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Soldier5_poisoned.png</string>
      <key>size</key>
      <string>{480,966}</string>
      <key>textureFileName</key>
      <string>Soldier5_poisoned</string>
    </dict>
  </dict>
</plist>
